<template>
    <section class="py-5 bg-pd height-container">
         <p class="fnt-32 text-center">รายการสินค้าที่สั่ง</p>
         <p class="fnt-18 text-center" v-show="length===0">ยังไม่มีรายการสินค้า</p>
          <OrderConfirm 
            v-for=" item in dataorder" 
            :key="item.value" 
            :label="item.label" 
            :value="item.value"

            :id='item.oid'
            :date='item.date'
            :howpay='item.howpay'
            :status='item.status'
            :shippingdate='item.shippingdate'
            @ReloadData="ReloadData"
          />
        <UploadPayment />
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
          <b-modal id="check" hide-header hide-footer  :no-close-on-backdrop="true">
                <p class="fnt-24 text-center">กรุณาเข้าสู่ระบบ</p>
                    <p class="text-center"> <a href="/signin"><button class="btn-blue">เข้าสู๋ระบบ</button></a></p>
                  
            </b-modal>
    </section>
   
</template>>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
import UploadPayment from '@/components/order/UploadPayment.vue'
import OrderConfirm from '@/components/order/OrderConfirm.vue'
export default {
    components:{
        Loading,
        OrderConfirm,
        UploadPayment
    },
    mounted(){
        this.getOrder()
        this.CheckSignin()
    },
    computed:{
        datauser(){
            return this.$store.state.user
        }
    },
    data(){
        return{
            dataorder:[],
            length:'',
            isLoading:false
        }
    },
    methods:{
         async getOrder(){
    
             this.isLoading=true
            let user=this.datauser.fname+" "+this.datauser.lname
             let dt={
                 user: this.datauser.uid
             }
            await HTTP.post(`getorderuser`,dt).then(res => {
                   
                   
            if(res.data.status===true){
                   this.dataorder=res.data.obj
                    this.length=this.dataorder.length
                  
            }else{ 

            }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                setTimeout(() => {
                    this.isLoading=false
                },500);   
             })
        },
        ReloadData(){
            this.getOrder()
        },
        CheckSignin(){
                if(this.datauser===''){
                    setTimeout(() => {
                         this.$bvModal.show('check')
                    }, 700);
                    
                }
            }
    }
}
</script>
<style scoped>

</style>