<template>
    <section>
        <div class="container ">
         
          <div class="row ">
              <div class="col-lg  bd-b d-flex jt">
                    <img  :src="'http://localhost/rmutl/backend/upload/product/'+ppicture" alt="" >
              </div>
              <div class="col-lg bd-b d-flex jt at py-2">
                  {{name}}{{detail}}
              </div>
               <div class="col-lg  bd-b d-flex jt  py-3 ">
                 {{amount}}
              </div>
               <div class="col-lg  bd-b d-flex jt py-3 ">
                 {{price}}
              </div>
          </div>
        </div>
    </section>
</template>
<script>
export default {
      props:{
        picture:{
            type:String,
            default(){
                return ''
            }
        },
        name:{
            type:String,
            default(){
                return ''
            }
        },
        detail:{
            type:String,
            default(){
                return ''
            }
        },
        price:{
            type:String,
            default(){
                return ''
            }
        },
        amount:{
            type:String,
            default(){
                return ''
            }
        },
        idproduct:{
            type:String,
            default(){
                return ''
            }
        }
    },
}
</script>
<style scoped>
    img{
        max-height:70px;
    }
</style>