<template>
    <section class="">
        <div class=" container bd-rd box-shadow py-4 my-4 bg-white  d-none d-lg-block">
            <div>
                <p>วันที่ทำรายการ : {{date|dateFomatNotTimeEn}}</p>
                <p >วิธีการชำระเงิน : {{howpay}}</p>
                <p v-if="howpay!=='เก็บเงินตอนส่ง'" >สถานะ :
                        <span v-if="status==='หลักฐานไม่ถูกต้อง'" class="fnt-red"> {{status}}</span>
                         <span v-else-if="status==='กำลังดำเนินการจัดส่ง'" class="fnt-orange"> {{status}}</span>
                          <span v-else-if="status==='กำลังเตรียมจัดส่ง'" class="fnt-orange"> {{status}}</span>
                        <span v-else-if="status==='รอตรวจสอบ'" class="fnt-blue"> {{status}}</span>
                        <span v-else-if="status==='รอหลักฐานการชำระเงิน'" class="fnt-red"> {{status}}</span>
                        <span v-else-if="status==='จัดส่งสินค้าแล้ว'" class="fnt-green"> {{status}}</span>
                        <span v-else class="fnt-red"> {{status}}</span>
                </p>
                <p v-else>
                    <span >สถานะ : 
                      
                        <span class="fnt-orange" v-if="status==='กำลังเตรียมจัดส่ง'"> {{status}}</span>
                          <span v-else-if="status==='กำลังดำเนินการจัดส่ง'" class="fnt-orange"> {{status}}</span>
                        <span v-else-if="status==='จัดส่งสินค้าแล้ว'" class="fnt-green"> {{status}}</span>
                        <span v-else class="fnt-red"> {{status}}</span>
                     
                     
                     </span>
                </p>
                <p  v-if="status==='กำลังดำเนินการจัดส่ง'">วันที่จัดส่ง :<span > {{shippingdate|dateFomatNotTimeEn}}</span></p>
                <p class="fnt-blue text-center cs" @click="seedetail=true" v-if="seedetail===false">ดูรายละเอียดรายการสั่งซื้อ</p>
                 <p class="fnt-blue text-center cs" @click="seedetail=false" v-else>ปิดรายละเอียดรายการสั่งซื้อ</p>
               
                 <b-table small :fields="fields" :items="orderdetail" responsive="lg"  :class="{'d-none':seedetail===false}" >
                        <template v-slot:cell(picture)="data"  >
                          <img  :src="url+'product/'+data.item.ppicture" alt="" >
                        </template>
                        <template v-slot:cell(name)="data" >
                           {{data.item.pname}}{{data.item.pdetail}}
                        </template>
                        <template v-slot:cell(amount)="data">
                            {{ data.item.amount }} 
                        </template>
                        <template v-slot:cell(price)="data">
                            {{ data.item.pprice }}
                        </template>
                 </b-table>    
                <!-- <div class="row col">
                    <div class="col-lg-10 bd-b py-2">
                            <p class="mb-0 text-right">รวมเป็นเงิน</p>
                    </div>
                      <div class="col-lg- bd-b py-2">
                         {{}}
                    </div>
                </div>     -->
                
            </div>
            <center> 
                    <button class="btn-green min-width:150px; my-lg-0 my-2" v-b-modal.uploadpayment @click="sendId(id)"  v-if="howpay!=='เก็บเงินตอนส่ง'&&status==='รอหลักฐานการชำระเงิน'">เพิ่มหลักฐานการชำระเงิน</button>
                    <button class="btn-green min-width:150px; my-lg-0 my-2" v-b-modal.uploadpayment @click="sendId(id)"  v-if="howpay!=='เก็บเงินตอนส่ง'&&status==='หลักฐานไม่ถูกต้อง'">เพิ่มหลักฐานการชำระเงินใหม่</button>
                    <button class="btn-orange min-width:150px; my-lg-0 my-2" v-b-modal.uploadpayment @click="sendId(id)"  v-if="howpay!=='เก็บเงินตอนส่ง'&&status==='รอตรวจสอบ'">เปลี่ยนหลักฐานการชำระเงิน</button>
                    <button class="btn-red min-width:150px;" @click="showMsgBoxOne(id)" v-if="status==='รอตรวจสอบ'||status==='รอหลักฐานการชำระเงิน'">ยกเลิกรายการสั่งซื้อ</button>  
                    <button class="btn-red min-width:150px;" @click="showMsgBoxOne(id)" v-if="status==='กำลังเตรียมจัดส่ง'&&howpay==='เก็บเงินตอนส่ง'">ยกเลิกรายการสั่งซื้อ</button>  

            </center>
        </div>

        <div class=" container  my-4   d-block d-lg-none">
            <div class="bd-rd bg-white box-shadow p-3">
                   <div >
                        <p>รหัสรายการ : {{id}}</p>
                        <p>วันที่ทำรายการ : {{date}}</p>
                        <p >วิธีการชำระเงิน : {{howpay}}</p>
                        <p v-if="howpay!=='เก็บเงินตอนส่ง'" >สถานะ :
                                    <span v-if="status==='หลักฐานไม่ถูกต้อง'" class="fnt-red"> {{status}}</span>
                                
                                    <span v-else-if="status==='รอตรวจสอบ'" class="fnt-blue"> {{status}}</span>
                                    <span v-else-if="status==='รอหลักฐานการชำระเงิน'" class="fnt-red"> {{status}}</span>
                                    <span v-else-if="status==='จัดส่งสินค้าแล้ว'" class="fnt-green"> {{status}}</span>
                                    <span v-else class="fnt-red"> {{status}}</span>
                        </p>
                        <p v-else>
                                <span >สถานะ : 
                                
                                    <span class="fnt-orange" v-if="status==='กำลังเตรียมจัดส่ง'"> {{status}}</span>
                                    <span v-else-if="status==='จัดส่งสินค้าแล้ว'" class="fnt-green"> {{status}}</span>
                                    <span v-else class="fnt-red"> {{status}}</span>
                                
                                
                                </span>
                        </p>
                       <p  v-if="status==='กำลังดำเนินการจัดส่ง'">วันที่จัดส่ง :<span > {{shippingdate|dateFomatNotTimeEn}}</span></p>
                              <p class="fnt-blue text-center cs" @click="seedetail=true" v-if="seedetail===false">ดูรายละเอียดราย</p>
                        <p class="fnt-blue text-center cs" @click="seedetail=false" v-else>ปิดรายละเอียด</p>
                    
                        <b-table small :fields="fields" :items="orderdetail" responsive="lg"  :class="{'d-none':seedetail===false}" >
                                <template v-slot:cell(picture)="data"  >
                                <img  :src="url+'product/'+data.item.ppicture" alt="" >
                                </template>
                                <template v-slot:cell(name)="data" >
                                {{data.item.pname}}{{data.item.pdetail}}
                                </template>
                                <template v-slot:cell(amount)="data">
                                    {{ data.item.pamount }} 
                                </template>
                                <template v-slot:cell(price)="data">
                                    {{ data.item.pprice }}
                                </template>
                        </b-table>        
                        
                    </div>
                    <center> 
                            <button class="btn-green min-width:150px; my-lg-0 my-2" v-b-modal.uploadpayment @click="sendId(id)"  v-if="howpay!=='เก็บเงินตอนส่ง'&&status==='รอหลักฐานการชำระเงิน'">เพิ่มหลักฐานการชำระเงิน</button>
                            <button class="btn-green min-width:150px; my-lg-0 my-2" v-b-modal.uploadpayment @click="sendId(id)"  v-if="howpay!=='เก็บเงินตอนส่ง'&&status==='หลักฐานไม่ถูกต้อง'">เพิ่มหลักฐานการชำระเงินใหม่</button>
                            <button class="btn-orange min-width:150px; my-lg-0 my-2" v-b-modal.uploadpayment @click="sendId(id)"  v-if="howpay!=='เก็บเงินตอนส่ง'&&status==='รอตรวจสอบ'">เปลี่ยนหลักฐาน</button>
                            <button class="btn-red min-width:150px;" @click="showMsgBoxOne(id)" v-if="status==='รอตรวจสอบ'">ยกเลิกรายการสั่งซื้อ</button>  
                            <button class="btn-red min-width:150px;" @click="showMsgBoxOne(id)" v-if="status==='กำลังเตรียมจัดส่ง'&&howpay==='เก็บเงินตอนส่ง'">ยกเลิกรายการสั่งซื้อ</button>  

                    </center>
            </div>
        </div>
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
              
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import UploadPayment from '@/components/order/UploadPayment.vue'
import {HTTP} from "@/axios.js";
export default {
    props:{
        id:{
            type:String,
            default(){
                return ''
            }
        },
        date:{
            type:String,
            default(){
                return ''
            }
        },
        howpay:{
            type:String,
            default(){
                return ''
            }
        },
        status:{
            type:String,
            default(){
                return
            }
        },  
        shippingdate:{
            type:String,
            default(){
                return ''
            }
        },
        
    },
    components:{
        UploadPayment,
        Loading,  
    },
    data(){
        return{
            cart:[],
            orderdetail:[],
            fields: [
                    
                        { key: 'picture', label: 'รูปสินค้า', class: 'text-center'},
                        { key: 'name', label: 'รายการ' ,class: 'text-center align-middle width30'},
                        { key: 'amount', label: 'จำนวน' ,class: 'text-center align-middle'},
                        { key: 'price', label: 'ราคา' ,class: 'text-center align-middle'},
                      
            ],
            paymentpic:'',
            picPreview:'',
            isLoading:false,
            seedetail:true,
             url:process.env.VUE_APP_IMAGE_URL,
        }
    },
    mounted(){
        this.getOrderDetail()
        
    },
    methods:{
        async  getOrderDetail(){
            this.isLoadin=true
                let dt={
                    od_id: this.id
                }
                console.log("dt",dt)
                await HTTP.post(`getorderdetail`,dt).then(res => {
                      
                        
                    if(res.data.status===true){
                        this.orderdetail=res.data.obj
                        
                        
                    }else{ 

                    }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                        this.isLoading=false
                    },500)
                })
        },
        sendId(id){
              this.$store.commit('sendId',id)
        },
        async deleteOrder(id){
            let dt={
                id:id
            }
                  await HTTP.post(`deleteorder`,dt).then(res => {
                        console.log("res",res)
                    if(res.data.status===true){
                           this.$bvToast.toast('ลบรายการสินค้าแล้ว', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'success',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:true,
                            })
                            // this.$emit('ReloadData')
                            window.location.reload()
                    }else{ 


                    }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                    
                    },1000)
                })
        },
        showMsgBoxOne(id) {
              this.$bvModal.msgBoxConfirm('ต้องการลบรายการสั่งซื้อหรือไม่?',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.deleteOrder(id)
                }
            })
            .catch(err => {
                // An error occurred
            })
        },
           
      
    }
}
</script>  
<style scoped>
    img{
        max-height:50px!important;
    }
  
    .bd{
        border:1px solid #ACACAC;
        border-radius: 10px;
    } 
    .w-input{
        width:50%;
    }
   
    .cancel-order{
        width:35px;
        height:35px;
        border-radius: 10px;
        background: #E55555;
        border:#E55555;
        color:white;
        font-size:24px;
    }
    .cancel-order:hover{
        background: #E55555;
        opacity: 0.9;
    }
    .size img{
        max-height: 100%!important;
    }
   
</style>