<template>
         <b-modal id="uploadpayment" title="เพิ่มหลักฐานการชำระเงิน" centered  hide-footer >
                         <div class="position-relative  d-flex jt at">
                                <label for="uplaodProfile"  class="mb-0 d-flex jt at" >
                                     <div>   
                                         <div class="upload  d-flex at jt ">
                                                <img data-v-398f5dc2="" :src="picPreview" class="w-100 img100"  >
                                        </div>
                                        <div class="input-upload  d-flex at jt">  
                                            <p >เพิ่มหลักฐาน</p>      
                                        </div>    
                                    </div>          
                                </label>
                        </div>
                          <center>   <b-button variant="success mt-3" @click="UpdateOrderList">ยืนยันการอัปโหลด</b-button></center>
                            <input @change="picFile($event)" type="file" class="d-none" id="uplaodProfile">
        </b-modal>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components:{
          Loading,
    },
    data(){
        return{
            picPreview:'',
            img:'',
                isLoading:false,
        }
    },
    computed:{
        id(){
            return this.$store.state.idorder
        }
    },
    methods:{
        async picFile(e) {
            const file = e.target.files[0];
          
            this.picPreview = URL.createObjectURL(file);
            await this.uploadImage(file)
           
        },
        async uploadImage(file) {
            console.log('file',file)
            if (
                file.type === 'image/jpeg' ||
                file.type === 'image/png' ||
                file.type === 'image/gif'
            ) {
                let img = ''
                const formData = new FormData();
                formData.append('fileToUpload', file);
                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                };
                await HTTP.post('/uploadpayment', formData, config)
                .then((res) => {
                    console.log('responce profile',res)
                    if(res.data.status=true){
                        this.img =  res.data.obj
                      
                    } 
                })
                .catch(e => {
                    console.log("upload/profile/error", e);
                   
                });

              
            } else {
                this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'danger',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
            }
        },
        async UpdateOrderList(){
            this.islo
                     let dt={
                            id:this.id,
                            img: this.img,
                            status:'รอตรวจสอบ'
                    }
                await HTTP.post(`updatepayment`,dt).then(res => {
                        console.log("res",res)
                        
                    if(res.data.status===true){
                      
                       console.log("อัพเดทข้อมูลเรียบร้อยแล้ว")
                        this.$bvModal.hide('uploadpayment')
                        window.location.reload(); 
                        
                    }else{ 

                    }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                           
                    },1000)
                })
        }
    }
}
</script>
<style scoped>
     .upload{
         overflow: hidden;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        
        background-color: rgba(208, 205, 205, 0.4);
        
    }
    .upload:hover{
        color:white!important;
    }
    .input-upload{
        width:200px;
        height: 200px;
        color:transparent;
        position: absolute;
        bottom:0px;
        border-radius: 10px;
        transition: all 0.5s;
        font-size: 18px;
    }
    .input-upload:hover{
         color: white;
         background-color: rgba(0,0,0,.4);
    }
</style>>