<template>
<section >
    <div  class="py-5 bg-pd height-container height-100" v-if="lengthcart===0">
          <p class="fnt-32 text-center">ตะกร้าสินค้า</p>
          <p class="fnt-24 text-center">ยังไม่มีสินค้าที่เลือก</p>
    </div>
    <div class="py-5 bg-pd height-container" v-else>
        <p class="fnt-32 text-center">ตะกร้าสินค้า</p>
        <Order 
            :idproduct='item.pid'
            :picture="item.ppicture" 
            :name="item.pname"
            :detail="item.pdetail" 
            :price="item.pprice"
            :amount="item.pamount"
            
            v-for=" item in cart" 
            :key="item.value" 
            :label="item.label" 
            :value="item.value"

       />
         
            <div class="container">
                    <p class="text-lg-right text-center fnt-24"> รวมเป็นเงิน {{sum.toLocaleString()}} บาท </p>
            </div>
            <!-- บนคอม -->
            <div class="container bg-white bd-rd box-shadow py-4 d-none d-lg-block">
                    <p class="fnt-20 ">วิธีการชำระเงิน</p>
                <div class="row col">
                     <div class="col-lg-6">
                        <b-form-group >
                            <b-form-radio v-model="checkHowPay" value="เก็บเงินตอนส่ง">เก็บเงินตอนส่ง</b-form-radio>
                            <b-form-radio v-model="checkHowPay"  value="ชำระผ่านธนาคาร">ชำระผ่านธนาคาร</b-form-radio>
                        </b-form-group> 
                     </div>
                </div>
                  <p class="fnt-20 ">สถานที่จัดส่ง</p>
                <div class="row col">
                     <div class="col-lg-6">
                          <b-form-checkbox    v-model="checkAddress"   value="1" unchecked-value="2" class="mb-4" @input="checkBoxAddress(checkAddress)">
                            ตามที่อยู่ปัจจุบัน
                        </b-form-checkbox>   
                     </div>
                </div>
                 <div class="row col">
                     <div class="col-lg-6">
                         <b-form-group  label="ที่อยู่:" >
                                 <b-form-input   v-model="address"  required     placeholder="ชื่อหมู่บ้าน หรือที่อยู่"  :disabled="checkAddress==='1'" ></b-form-input>
                        </b-form-group>
                     </div>
                         <div class="col-lg-6">
                             <b-form-group  label="ตำบล:" >
                                   <b-form-select v-model="selectedsubdistrict" :options="subdistrict" :disabled="checkAddress==='1'" ></b-form-select>
                             </b-form-group>
                     </div>
                 </div>
                <div class="row col">
                     <div class="col-lg-6">
                             <b-form-group  label="เขต:" >
                                 <b-form-select v-model="selectedarea" :options="area" :disabled="checkAddress==='1'" ></b-form-select>
                             </b-form-group>
                     </div>
                </div>
                 <p class="fnt-20 ">ข้อมูลติดต่อ</p>
                   <div class="row col">
                    <div class="col-lg-6">
                        <b-form-group  label="เบอร์โทรศัพท์:" >
                             <b-form-input   v-model="phone"  type="email"  required    :disabled="checkAddress==='1'"  ></b-form-input>
                         </b-form-group>
                    </div>
                </div>
                  <div class="text-center">
                    <button class="btn-green" @click="confirmorder">ยืนยันรายการสั่งซื้อ</button>
                    <button class="btn-red" @click="cancelorder">ยกเลิกรายการสั่งซื้อ</button>
                    <button class="btn-orange" @click="selectmoreorder">เลือกสินค้าเพิ่ม</button>
                </div>
            </div>
            <!-- บนมือถือ -->
             <div class="container   p-3 d-block d-lg-none">
          
                <div class="bg-white box-shadow bd-rd p-3">
                    <p class="fnt-20 ">วิธีการชำระเงิน</p>
                    <div class="row ">
                        <div class="col-lg-6">
                            <b-form-group >
                                <b-form-radio v-model="checkHowPay" value="เก็บเงินตอนส่ง">เก็บเงินตอนส่ง</b-form-radio>
                                <b-form-radio v-model="checkHowPay"  value="ชำระผ่านธนาคาร">ชำระผ่านธนาคาร</b-form-radio>
                            </b-form-group> 
                        </div>
                    </div>
                    <p class="fnt-20 ">สถานที่จัดส่ง</p>
                    <div class="row ">
                        <div class="col-lg-6">
                            <b-form-checkbox    v-model="checkAddress"   value="1" unchecked-value="2" class="mb-4" @input="checkBoxAddress(checkAddress)">
                                ตามที่อยู่ปัจจุบัน
                            </b-form-checkbox>   
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6">
                            <b-form-group  label="ที่อยู่:" >
                                    <b-form-input   v-model="address"  required     placeholder="ชื่อหมู่บ้าน หรือที่อยู่"  :disabled="checkAddress==='1'" ></b-form-input>
                            </b-form-group>
                        </div>
                            <div class="col-lg-6">
                                <b-form-group  label="ตำบล:" >
                                    <b-form-select v-model="selectedsubdistrict" :options="subdistrict" :disabled="checkAddress==='1'" ></b-form-select>
                                </b-form-group>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6">
                                <b-form-group  label="เขต:" >
                                    <b-form-select v-model="selectedarea" :options="area" :disabled="checkAddress==='1'" ></b-form-select>
                                </b-form-group>
                        </div>
                    </div>
                    <p class="fnt-20 ">ข้อมูลติดต่อ</p>
                    <div class="row ">
                        <div class="col-lg-6">
                            <b-form-group  label="เบอร์โทรศัพท์:" >
                                <b-form-input   v-model="phone"  type="email"  required    :disabled="checkAddress==='1'"  ></b-form-input>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn-green" @click="confirmorder">ยืนยันรายการสั่งซื้อ</button><br>
                        <button class="btn-red" @click="cancelorder">ยกเลิกรายการสั่งซื้อ</button><br>
                        <button class="btn-orange" @click="selectmoreorder">เลือกสินค้าเพิ่ม</button>
                    </div>
                </div>
            </div>
    <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </div>
       <b-modal id="check" hide-header hide-footer  :no-close-on-backdrop="true">
                <p class="fnt-24 text-center">กรุณาเข้าสู่ระบบก่อนทำการสั่งซื้อ</p>
            <p class="text-center"> <a href="/signin"><button class="btn-blue">เข้าสู๋ระบบ</button></a></p>
       </b-modal>
</section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
import Order from '@/components/cart/Order.vue'
export default {
      props:{
        totalprice:{
            type:String,
            default(){
                return ''
            }
        },
     
    },
    components:{
        Order,
         Loading
    },
    computed:{
        user(){
            return this.$store.state.user
        },
          sum(){
              this.sumary=0
             let dt=this.$store.state.cart
             let length =dt.length
           
            if(length>=1){
                 dt.forEach((value, index) => {
                    let price=parseFloat(value.pprice)
                    let amount=parseFloat(value.pamount)
              
                    let total=price*amount
               
                    this.sumary=this.sumary+total
                  
                });
                return this.sumary
            }
           
        },
    },
    mounted(){
        this.queryCart(); 
     
     
    },
    data(){
        return{
            ordernow:{},
            orderold:'',
            cart:[],
            lengthcart:'',
            total:'',
            sumary:0,
            idorder:'',
            status:'',
            isLoading:false,

            address:'',
            selectedsubdistrict:'ห้วยแก้ว',
            subdistrict: [
                 { value: 'ห้วยแก้ว',text:'ห้วยแก้ว' },
                { value: 'ช้างเผือก', text:'ช้างเผือก' },
                { value: 'เจ็ดยอด', text:'เจ็ดยอด' },
            ],
            selectedarea:'ห้วยแก้ว',
            area: [
                 { value: 'ห้วยแก้ว',text:'ห้วยแก้ว' },
                { value: 'ช้างเผือก', text:'ช้างเผือก' },
                { value: 'เจ็ดยอด', text:'เจ็ดยอด' },
            ],
            checkHowPay:'เก็บเงินตอนส่ง',
            checkAddress:'',
            phone:''
        }
    },
    updated () {
           this.check()
    },
    methods:{
        selectmoreorder(){ 
                  document.body.scrollTop = 0;
                       document.documentElement.scrollTop = 0;
            this.$router.push('/home')
            
        },
        async check(){
            if(this.status===true){
                this.$bvToast.toast('ยืนยันรายการสั่งสินค้าแล้ว', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'success',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:true,
                })
                this.status=false
                this.queryCart()
            }
        },
          confirmorder(){
          
        
             this.cart=this.$store.state.cart
             if(this.address===''||this.selectedsubdistrict===''||this.selectedarea===''||this.checkHowPay===''){
                   this.$bvToast.toast('กรุณากรอกข้อมูลให้ครบถ้วน', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'warning',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:true,
                        })
                        this.isLoading=false
             }else{
                 let check=true
                this.cart.forEach((value, index) => {
                        if(value.pamount===0){
                            this.$bvToast.toast('กรุณากรอกจำนวนสินค้า', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'warning',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:true,
                                })
                            this.isLoading=false
                            check=false
                        }
                  });
                  setTimeout(() => {
                      if(check===true){
                      this.addorderlist()
                     }
                  }, 200);
             }
          
       
           
        },
        addorderlist(){
             let current_datetime = new Date()
                        var dd = String(current_datetime.getDate()).padStart(2, '0');
                        var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = current_datetime.getFullYear();
                        current_datetime=yyyy+'-'+mm+'-'+dd
              let user=this.user.fname+" "+this.user.lname
              if(this.user!==''){
                    this.isLoading=true
                            if(this.checkAddress==='1'&&this.checkHowPay==='เก็บเงินตอนส่ง'){
                                let dataorder={
                                        cid:this.user.uid,
                                        type:'สั่งจากเว็บไซต์',
                                        email:user,
                                        od_phone:this.user.phone,
                                        od_address:this.user.address,
                                        od_subdistrict:this.user.subdistrict,
                                        od_area:this.user.area,
                                        
                                        total:parseFloat(this.sum),
                                        howpay:this.checkHowPay,
                                        status:'กำลังเตรียมจัดส่ง',
                                    
                                    }
                                
                                        HTTP.post(`addorder`,dataorder).then(res => {
                                        console.log(res)
                                        if(res.data.status===true){
                                            
                                                this.addorderdetail(res.data.obj)
                                        }else{
                                                console.log("เพิ่มorderไม่ได้")
                                        }
                                        })
                                        .catch(e => {
                                            console.log(e);
                                        })
                            }else if(this.checkAddress==='1'&&this.checkHowPay!=='เก็บเงินตอนส่ง'){
                                let dataorder={
                                        cid:this.user.uid,
                                        type:'สั่งจากเว็บไซต์',
                                        email:user,
                                        od_phone:this.user.phone,
                                        od_address:this.user.address,
                                        od_subdistrict:this.user.subdistrict,
                                        od_area:this.user.area,
                                        
                                        total:parseFloat(this.sum),
                                        howpay:this.checkHowPay,
                                        status:'รอหลักฐานการชำระเงิน',
                                    }
                                        HTTP.post(`addorder`,dataorder).then(res => {
                                        console.log(res)
                                        if(res.data.status===true){
                                            
                                            this.addorderdetail(res.data.obj)
                                        }else{
                                                console.log("เพิ่มorderไม่ได้")
                                        }
                                        })
                                        .catch(e => {
                                            console.log(e);
                                        })
                            }else if(this.checkAddress!=='1'&&this.checkHowPay==='เก็บเงินตอนส่ง'){
                                let dataorder={
                                         cid:this.user.uid,
                                        type:'สั่งจากเว็บไซต์',
                                        email:user,
                                        od_phone:this.phone,
                                        od_address:this.address,
                                        od_subdistrict:this.selectedsubdistrict,
                                        od_area:this.selectedarea,
                                        
                                        total:parseFloat(this.sum),
                                        howpay:this.checkHowPay,
                                        status:'กำลังเตรียมจัดส่ง',
                                    
                                    }
                                    HTTP.post(`addorder`,dataorder).then(res => {
                                        console.log(res)
                                        if(res.data.status===true){
                                            
                                            this.addorderdetail(res.data.obj)
                                        }else{
                                                console.log("เพิ่มorderไม่ได้")
                                        }
                                    })
                                    .catch(e => {
                                        console.log(e);
                                    })
                            }else{
                                let dataorder={
                                        cid:this.user.uid,
                                        type:'สั่งจากเว็บไซต์',
                                        email:user,
                                        od_phone:this.phone,
                                        od_address:this.address,
                                        od_subdistrict:this.selectedsubdistrict,
                                        od_area:this.selectedarea,
                                        
                                        total:parseFloat(this.sum),
                                        howpay:this.checkHowPay,
                                        status:'รอหลักฐานการชำระเงิน',
                                    
                                    }
                                    HTTP.post(`addorder`,dataorder).then(res => {
                                        console.log(res)
                                        if(res.data.status===true){
                                            this.addorderdetail(res.data.obj)
                                        }else{
                                                console.log("เพิ่มorderไม่ได้")
                                        }
                                    })
                                    .catch(e => {
                                        console.log(e);
                                    })
                            }   
              }else{
                  this.$bvModal.show('check')
              }
        },
        async addorderdetail(id){
              let round=0
            let totalround=this.cart.length
            this.cart=this.$store.state.cart
             this.cart.forEach((value, index) => {
                     let orderdetail={
                        od_id: id,
                        ppicture:value.ppicture,
                        pid:value.pid,
                        pname:value.pname,
                        pdetail:value.pdetail,
                        pprice:parseFloat(value.pprice) ,
                        pamount:parseFloat(value.pamount) 
                    }
                    console.log("ข้อมูลที่จะส่งรอบที่ ",index,"มีข้อมูล",orderdetail)
                    
                     HTTP.post(`addorderdetail`,orderdetail).then(res => {
                        if(res.data.status===true){

                              round++
                             if(round===totalround){
                                setTimeout(() => {
                                     this.$bvToast.toast('เพิ่มรายการสั่งซื้อแล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                    this.$store.commit('addCart','')
                                    this.$store.commit('calOrder','')
                                },1500);
                            }
                          
                          
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                         setTimeout(()=>{
                             if(round===totalround){
                                     document.body.scrollTop = 0;
                                    document.documentElement.scrollTop = 0;
                                 this.$router.push('orderconfirm')
                             }
                            this.isLoading=false
                        },500)
                    })
              
                     
                
            });
         
        },
        async cancelorder(){
            this.cart=''
              this.$store.commit('addCart',this.cart)
              this.$router.push('/home')
        },
        async queryCart(){
            this.lengthcart=this.$store.state.cart.length
            if(this.lengthcart!==0){
                let dt=this.$store.state.cart
                dt.forEach((value, index) => {
                    this.cart.push(value) 
                });
            }
              
        },
        checkBoxAddress(chk){
            console.log("test",chk)
            if(chk==='1'){
             
                this.phone=this.user.phone
                this.address=this.user.address
                this.selectedsubdistrict=this.user.subdistrict
                this.selectedarea=this.user.area
            }else{
                this.phone=''
                this.address=''
                this.selectedsubdistrict='ห้วยแก้ว'
                this.selectedarea='ห้วยแก้ว'
            }
        },
        
          
    },
  

}
</script>
<style scoped>
    .btn-green{
        background: #0FB99C;
        border:solid 1px #0FB99C;
        border-radius: 0.25rem;
        color:white;
        width:150px;
        padding:0.5rem;
    }
    .btn-green:hover{
         background: rgb(13, 148, 126);
         border:solid 1px rgb(13, 148, 126);
       
    }
    .btn-red{
        background: #F65C5C;
        border:solid 1px #F65C5C;
        border-radius: 0.25rem;
        color:white;
        width:150px;
        padding:0.5rem;
    }
    .btn-red:hover{
         background: rgb(238, 63, 63);
         border:solid 1px  rgb(238, 63, 63);
       
    }
</style>