<template>
    <section class="">
        <div class="container bd-rd  box-shadow  my-4 bg-white  d-lg-flex jt d-none">
            <div class="row pt-4 col d-flex at jt ">
                 
                    <div class="col-lg-3 d-flex jt  bd-b text-center  py-2">
                        <img  :src="url+'product/'+picture" alt="">
                    </div>
                    <div class="col-lg-5 px-0 px-lg-3">
                        <p class="fnt-24 mt-4">{{name}}{{detail}}</p>
                        <p>ราคา : {{price}}  บาท</p>
                    <p class=" d-flex at">จำนวนที่ต้องการ :<input class="form-control w-input" type="number" placeholder=""  min="1" v-model='amountdata' @input="addAmount(idproduct)"></p>
                      
                    
                    </div>
                    <div class="col-lg-3 offset-lg-1    px-0  ">  

                        <div class="row col-lg  m-0 p-0 justify-content-end d-none d-lg-flex  mt-5 pt-5">
                              <p class="mb-0 mt-5">คิดเป็นเงิน :{{total.toLocaleString()}} บาท</p>
                        </div>
                    </div> 
                 
                 <p class="pb-0"><button class="btn-red" @click="cancelorder(idproduct)">ยกเลิกรายการ</button></p>
            </div>
        </div>

        <div class="container bd-rd    my-4  d-flex d-lg-none jt">
            <div class="row pt-4 col box-shadow bg-white bd-rd d-flex at jt ">
                 
                    <div class="col-lg-3 d-flex jt text-center  p-0">
                        <img  :src="url+'product/'+picture" alt="">
                    </div>
                    <div class="col-lg-5 p-0 bg-white text-left">
                        <p class="mb-2">{{name}}{{detail}}</p>
                        <p class="mb-2">ราคา : {{price}}  บาท</p>
                    <p class=" d-flex at ">จำนวนที่ต้องการ : <input class="form-control w-input ml-1" type="number" placeholder=""  min="1" v-model='amountdata' @input="addAmount(idproduct)"></p>
                      
                    
                    </div>
                    <div class="col-lg-3 offset-lg-1    px-0  ">  

                        <div class="row col-lg  m-0 p-0 justify-content-end d-none d-lg-flex  mt-5 pt-5">
                              <p class="mb-0 mt-5">คิดเป็นเงิน :{{total.toLocaleString()}} บาท</p>
                        </div>
                    </div> 
                 
                 <p class="pb-0"><button class="btn-red" @click="cancelorder(idproduct)">ยกเลิกรายการ</button></p>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    props:{
        picture:{
            type:String,
            default(){
                return ''
            }
        },
        name:{
            type:String,
            default(){
                return ''
            }
        },
        detail:{
            type:String,
            default(){
                return ''
            }
        },
        price:{
            type:String,
            default(){
                return ''
            }
        },
        amount:{
            type:Number,
            default(){
                return 0
            }
        },
        idproduct:{
            type:String,
            default(){
                return ''
            }
        }
    },
    computed:{
        total(){
            return this.price*this.amountdata
        },
 
    },
    watch:{
        amount(){
            this.amountdata = this.amount
        }
    },
    data(){
        return{
            cart:[],
            amountdata:'',
            url:process.env.VUE_APP_IMAGE_URL,
        }
    },
    methods:{
        cancelorder(idproduct){
            var order=''
            this.cart=this.$store.state.cart
           this.cart.forEach((value, index) => {
                  console.log(index)
                  if(idproduct===value.pid){
                    order=index
                  }
            });
            this.cart.remove(order)
            this.$store.commit('addCart',this.cart)
            window.location.reload(); 
        },
        addAmount(idproduct){
            this.cart=this.$store.state.cart
             let product=
                 {
                    pid:this.idproduct,
                    ppicture:this.picture,
                    pname:this.name,
                    pdetail:this.detail,
                    pprice:this.price,
                    pamount:parseFloat(this.amountdata) 
                }
             
            let dt=[]
            let id=''
            this.cart.forEach((value, index) => {
                   if(idproduct===value.pid){
                        dt.push(product)
                   }else{
                        dt.push(value)
                   }
                   console.log("ข้อมูลใหม่",dt)
                  
            });
            this.$store.commit('addCart',dt)    
        },

    },
    mounted(){
        this.amountdata = this.amount
        
    }
}
</script>  
<style scoped>
@media only screen and (min-width: 769px) {
    img{
        max-width:540px;
        max-height:200px;;
    }
}
@media only screen and (max-width: 768px) {
    img{
        max-width:150px;
        max-height:100px;
    }
}
    .w-input{
        width:30%;
    }
  
    .cancel-order{
        width:35px;
        height:35px;
        border-radius: 10px;
        background: #E55555;
        border:#E55555;
        color:white;
        font-size:24px;
    }
    .cancel-order:hover{
        background: #E55555;
        opacity: 0.9;
    }
 
</style>
