<template>
    <section>
        <TemplateManager>
             <ManageWithdrawProduct/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManageWithdrawProduct from '@/components/manager/managewithdrawproduct/ManageWithdrawProduct.vue'
export default {
    components:{
        TemplateManager
        ,ManageWithdrawProduct
    }
}
</script>