<template>
    <section>
           <p class="text-center fnt-24  mb-0 py-2">อัพเดทรายการเบิกบรรจุภัณฑ์ </p>
        <div class="bg-white bd-rd  p-lg-5 p-3 height-100">
           
                <b-table 
                    :fields="fields" 
                    :items="packaging" responsive="sm"  
                    ref="selectableTable"
                    @row-selected="onRowSelected"
                    selectable
                    select-mode="multi" 
                    hover
                >
                        <template v-slot:cell(selected)="{ rowSelected }">
                                <template v-if="rowSelected">
                                    <span aria-hidden="true" class="fnt-green ">เลือกแล้ว</span>
                                </template>
                                <template v-else>
                                    <span aria-hidden="true" class="fnt-orange">ยังไม่ได้เลือก</span>
                                </template>
                        </template>
                        <template v-slot:cell(picture)="data"  >
                            <img  :src="url+'packaging/'+data.item.pkpicture" alt="" >
                        </template>
                        <template v-slot:cell(pkname)="data" >
                            {{data.item.pkname}}{{data.item.pkdetail}}
                        </template>
                        <template v-slot:cell(want)="data">
                                <b-form-input  type="number" v-model="amount[data.item.pkid]"   required    ></b-form-input>
                        </template>
                  
            </b-table>

             <b-modal id="confirmcreate" hide-footer :title="'ยืนยันอัพเดทรายการผลิต '" centered size="lg">
                <b-table :fields="fieldsorder" :items="selected" responsive="sm" >
                    <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'packaging/'+data.item.pkpicture" alt="" >
                    </template>
                    <template v-slot:cell(pkname)="data" >
                        {{data.item.pkname}}{{data.item.pkdetail}}
                    </template>
                    <template v-slot:cell(pkamount)="data" >
                        {{amount[data.item.pkid]}}
                    </template>
                </b-table>
                <p class="text-center"> <button class="btn-blue" @click="DeleteDatadetail">บันทึกข้อมูลรายการเบิกบรรจุภัณฑ์</button></p>
            </b-modal>
          
        
      
            <p class="text-center"> <button class="btn-blue" @click="ComfirmCreate">ยืนยันอัพเดทรายการเบิก      </button></p>
        </div>
          
            <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    mounted(){
        this.GetPackaging()
    },
    computed:{
      
          rows() {
            return this.packaging.length  
         },
          idstore(){
            return this.$store.state.id
        }
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            packaging:[],
            fields: [
                        { key: 'selected', label: 'รายการที่เลือก', class: 'text-center align-middle'},
                        { key: 'picture', label: 'รูปสินค้า', class: 'text-center align-middle  dnone'},
                        { key: 'pkname', label: 'รายการ' ,class: 'text-center align-middle w150'},
                        { key: 'pkamount', label: 'จำนวนคงเหลือในคลัง' ,class: 'text-center align-middle w150 '},
                        { key: 'want', label: 'จำนวนที่ต้องการเบิก' ,class: 'text-center align-middle w150'},   
            ],
            fieldsorder: [
                { key: 'picture', label: 'รูปวัตถุดิบ', class: 'text-center '},
                { key: 'pkname', label: 'รายการ' ,class: 'text-center align-middle '},
                { key: 'pkamount', label: 'จำนวนที่ต้องการ' ,class: 'text-center align-middle '},
            ],
            amount:{
            },
            order:[],
          
            time: 'ช่วงเช้า',
            options: [
                { value: 'ช่วงเช้า', text: 'ช่วงเช้า' },
                { value: 'ช่วงบ่าย', text: 'ช่วงบ่าย' },
            ],
            selected:[],
            checkAddress:'0',
            name:'',
            length:''
           

        }
    },

    methods:{
        async GetPackaging(){
             this.isLoading=true
            await HTTP.get(`selectpackaging`).then(res => {
              console.log(res)
               if(res.data.status===true){
                   this.packaging=res.data.obj
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        ComfirmCreate(){
             if(this.selected.length===0){
                this.$bvToast.toast('กรุณาเลือกรายการสินค้าที่ต้องการ', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'warning',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
               
            }else{
                let check=true
                console.log(this.selected)
                  this.selected.forEach((value, index) => {
                       if(typeof(this.amount[value.pkid]) === 'undefined'){
                           check=false
                       }
                 })

                if(check===true){
                    this.$bvModal.show('confirmcreate')
                } else{
                        this.$bvToast.toast('ยังไม่ได้เพิ่มจำนวนรายการที่เลือก', {
                        toaster:'b-toaster-top-center',
                        title:'แจ้งเตือน',
                        variant: 'warning',
                        solid: true,
                        autoHideDelay:2000,
                        appendToast:false,
                    })
                  } 
            }
         
        },
        DeleteDatadetail(){
                 this.$bvModal.hide('confirmcreate')
            if(this.selected.length!==0){
                  this.isLoading=true
              let dt={
                        id: this.idstore,
                    }
                console.log(dt)
                     HTTP.post(`deletewithdrawpackagingdetail`,dt).then(res => {
                         console.log("order detail",res)
                        if(res.data.status===true){
                            console.log("ลบแล้ว")
                            this.CreateDataDetail()
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
            }else{
                 this.$bvToast.toast('ยังไม่ได้เลือกรายการ กรุณาตรวจสอบก่อนทำการอัพเดท', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'danger',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
            }
          
                  
        },
        CreateDataDetail(){  
              let round=0
            let totalround=this.selected.length
             this.selected.forEach((value, index) => {
                    let dt={
                        id: this.idstore,
                        status:'รายการเบิกได้',
                        pkid:value.pkid,
                        pkname:value.pkname,
                        pkdetail:value.pkdetail,
                        pkamount:parseFloat(this.amount[value.pkid]),
                        pkpicture:value.pkpicture,
                    }
                console.log(dt)
                     HTTP.post(`updatewithdrawpackaging`,dt).then(res => {
                         console.log("res",res)
                        if(res.data.status===true){
                             round++
                             if(round===totalround){
                                setTimeout(() => {
                                     this.$bvToast.toast('อัพเดทรายการเบิกบรรจุภัณฑ์แล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                },1500);
                            }
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                         setTimeout(()=>{
                             if(round===totalround){
                                 this.$router.push('withdrawpackaging')
                             }
                            this.isLoading=false
                        },500)
                    })
            });
          
        },
        onRowSelected(items) {
            this.selected = items
            this.length=this.selected.length
        },
    }
}
</script>
<style scoped>
    img{
        max-height: 50px;
    }
</style>