<template>
    <section>
        <TemplateManager>
             <AddPackaging/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import AddPackaging from '@/components/manager/managepackaging/AddPackaging.vue'
export default {
    components:{
        TemplateManager
        ,AddPackaging
    }
}
</script>