<template>
    <section>
        <TemplateManager>
             <ManagerPackaging/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManagerPackaging from '@/components/manager/managepackaging/ManagerPackaging.vue'
export default {
    components:{
        TemplateManager
        ,ManagerPackaging
    }
}
</script>