<template>
    <section>
        <TemplateManager>
             <UpdatePackaging/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import UpdatePackaging from '@/components/manager/managepackaging/UpdatePackaging.vue'
export default {
    components:{
        TemplateManager
        ,UpdatePackaging
    }
}
</script>