<template>
    <section>
        <TemplateProducttion>
             <AddNewProducttion/>
        </TemplateProducttion>
    </section>
  
</template>
<script>
import TemplateProducttion from '@/components/template/TemplateProducttion.vue'
import AddNewProducttion from '@/components/producttion/manageproducttion/AddNewProducttion.vue'
export default {
    components:{
        TemplateProducttion
        ,AddNewProducttion
    }
}
</script>