<template>
    <section>
        <TemplateProducttion>
             <ManageProducttion/>
        </TemplateProducttion>
    </section>
  
</template>
<script>
import TemplateProducttion from '@/components/template/TemplateProducttion.vue'
import ManageProducttion from '@/components/producttion/manageproducttion/ManageProducttion.vue'
export default {
    components:{
        TemplateProducttion
        ,ManageProducttion
    }
}
</script>