<template>
    <section>
        <TemplateProducttion>
             <AddWithdrawPackaging/>
        </TemplateProducttion>
    </section>
  
</template>
<script>
import TemplateProducttion from '@/components/template/TemplateProducttion.vue'
import AddWithdrawPackaging from '@/components/producttion/managewithdrawpackaging/AddWithdrawPackaging.vue'
export default {
    components:{
        TemplateProducttion
        ,AddWithdrawPackaging
    }
}
</script>