<template>
    <section>
        <TemplateProducttion>
             <ManageWithdrawPackaging/>
        </TemplateProducttion>
    </section>
  
</template>
<script>
import TemplateProducttion from '@/components/template/TemplateProducttion.vue'
import ManageWithdrawPackaging from '@/components/producttion/managewithdrawpackaging/ManageWithdrawPackaging.vue'
export default {
    components:{
        TemplateProducttion
        ,ManageWithdrawPackaging
    }
}
</script>