<template>
    <section>
        <TemplateProducttion>
             <UpdateWithdrawPackaging/>
        </TemplateProducttion>
    </section>
  
</template>
<script>
import TemplateProducttion from '@/components/template/TemplateProducttion.vue'
import UpdateWithdrawPackaging from '@/components/producttion/managewithdrawpackaging/UpdateWithdrawPackaging.vue'
export default {
    components:{
        TemplateProducttion
        ,UpdateWithdrawPackaging
    }
}
</script>