<template>
    <section>
        <TemplateManager>
             <AddNewShipping/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import AddNewShipping from '@/components/manager/manageshipping/AddNewShipping.vue'
export default {
    components:{
        TemplateManager
        ,AddNewShipping
    }
}
</script>