<template>
    <section>
        <TemplateManager>
             <ManageShipping/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManageShipping from '@/components/manager/manageshipping/ManageShipping.vue'
export default {
    components:{
        TemplateManager
        ,ManageShipping
    }
}
</script>