<template>
    <section>
        <TemplateManager>
             <AddEmployee/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import AddEmployee from '@/components/manager/manageemployee/AddEmployee.vue'
export default {
    components:{
        TemplateManager
        ,AddEmployee
    }
}
</script>