<template>
    <section>
        <TemplateManager>
             <ManageEmployee/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManageEmployee from '@/components/manager/manageemployee/ManageEmployee.vue'
export default {
    components:{
        TemplateManager
        ,ManageEmployee
    }
}
</script>