<template>
    <section>
        <TemplateManager>
             <UpdateEmployee/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import UpdateEmployee from '@/components/manager/manageemployee/UpdateEmployee.vue'
export default {
    components:{
        TemplateManager
        ,UpdateEmployee
    }
}
</script>