<template>
    <section>
         <p class="fnt-24 text-center mb-0 py-2">จัดการรายการเบิกบรรจุภัณฑ์</p>
        <div class=" bg-white bd-rd p-lg-5 p-3 height-100">
           
            <div class="  offset-lg-3 p-0 col-lg-6">
                   <p class="fnt-24 mt-4">คลังบรรจุภัณฑ์คงเหลือ</p>
                 <b-table  :fields="fieldstock" :items="datapackaging" responsive="lg"  >
                      <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'packaging/'+data.item.pkpicture"  alt="">
                    </template>      
                     <template v-slot:cell(name)="data"  >
                       {{data.item.pkname}}{{data.item.pkdetail}}
                    </template>  
                </b-table>
            </div>
            <div class="row px-3 my-4">
                <div class="col-lg-4 d-flex at p-0">
                  <b-form-select v-model="selected" :options="options"></b-form-select>  
                </div>
                <div class="col-lg-3  mt-lg-0 mt-3 text-center text-lg-left ml-lg-2 p-0">
                   <span class="text-right"><a href="addwithdrawpackaging"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มรายการเบิกบรรจุภัณฑ์</button> </a></span>
                </div>  
            </div>
             
            <b-table  :fields="fields" :items="packaging" responsive="lg"   :per-page="perPage" :current-page="currentPage"  :filter="selected" hover>
                <template v-slot:cell(seedetail)="data"  >
                   <p class="fnt-blue  mb-0 cp" @click="DataDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                <template v-slot:cell(check)="data" >
                    <div v-if="data.item.status==='รายการเบิกได้'">
                           <button class="btn-green" @click="ConfirmWithdraw(data.item.wpkid)" >ยืนยันทำการเบิก</button>
                   </div>
                </template>   
                <template v-slot:cell(withdrawdate)="data"  >
                    {{data.item.withdrawdate|dateFomatNotTimeEn}}
                </template>
                <template v-slot:cell(status)="data"  >
                        <span class="fnt-orange" v-if="data.item.status==='รายการเบิกได้'">{{data.item.status}}</span>
                        <span class="fnt-red" v-else-if="data.item.status==='รอตรวจสอบ'">{{data.item.status}}</span>
                        <span class="fnt-green" v-else>{{data.item.status}}</span>
                </template>
                <template v-slot:cell(deletedata)="data">
                       <span class="fnt-red cp" @click="ConfirmDelete(data.item.wpkid)" v-if="data.item.status!=='เบิกแล้ว'"><i class="fas fa-trash"></i></span>
                </template>
               
            </b-table>
             <p class="d-flex justify-content-end"><b-pagination  v-model="currentPage"   :total-rows="rows"  :per-page="perPage"    aria-controls="my-table"   ></b-pagination></p> 

            <b-modal id="seeDataDetail" hide-footer :title="'รายละอียดรายการเบิกบรรจุภัณฑ์ #'+id" centered size="lg">
             <p class="text-center fnt-24">รายการที่เบิก</p>
                <b-table   :fields="fielddetail" :items="packagingdetaildata" responsive="sm" >
                    <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'packaging/'+data.item.pkpicture"  alt="">
                    </template>   
                     <template v-slot:cell(name)="data"  >
                       {{data.item.pkname}}{{data.item.pkdetail}}
                    </template>  
                </b-table>
            </b-modal>
         
        </div>
        
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            packaging:[],
            packagingdetaildata:[],
            datapackaging:[],
            fields: [
                     
                        { key: 'withdrawdate', label: 'วันที่ทำรายการขอเบิก' ,class: 'text-center align-middle w150',sortable: true},
                        { key: 'namepicker', label: 'ชื่อผู้เบิก' ,class: 'text-center align-middle w150'},
                        { key: 'status', label: 'สถานะ' ,class: 'text-center align-middle w150 ',sortable: true},
                        { key: 'seedetail', label: 'รายละเอียด' ,class: 'text-center align-middle w150'},
                        { key: 'check', label: 'ยืนยันทำการเบิก' ,class: 'text-center align-middle w150'},
                        { key: 'deletedata', label: 'ลบรายการ' ,class: 'text-center align-middle w150 '}, 
                       
            ],
            fieldstock: [
                        { key: 'picture', label: 'รูป', class: 'text-center imgtable  align-middle'},
                        { key: 'name', label: 'รายการ', class: 'text-center align-middle'},
                        { key: 'pkamount', label: 'จำนวน', class: 'text-center align-middle'},         
            ],
            fielddetail: [
                        { key: 'picture', label: 'รูป', class: 'text-center imgtable  align-middle'},
                        { key: 'name', label: 'รายการ', class: 'text-center align-middle'},
                        { key: 'amount', label: 'จำนวน', class: 'text-center align-middle'},         
            ],
            selected: 'รายการเบิกประจำวัน',
            options: [
                { value: 'รายการเบิกประจำวัน',  text: 'รายการเบิกประจำวัน' },
                { value: 'เบิกแล้ว',  text: 'รายการที่เบิกออกจากคลังแล้ว' },
                { value: 'รายการเบิกได้',  text: 'รายการที่เบิกได้' },
                { value: 'รอตรวจสอบ',  text: 'รายการที่รอตรวจสอบ' },
            ],
               perPage: 10,
            currentPage: 1,
            isLoading:false,
            id:'',
            
        }
    },
    mounted(){
        this.GetDataPackaging()
        this.GetDataStock()
        this.SelectFilter()
    },
    computed: {
      rows() {
        return this.packaging.length
      }
    },
    methods:{
        SelectFilter(){
               this.selected='รายการเบิกประจำวัน'
            this.options.forEach((value, index) => {
                 if(this.selected==='รายการเบิกประจำวัน'&&value.value==='รายการเบิกประจำวัน'){
            
                        let current_datetime = new Date()
                        var dd = String(current_datetime.getDate()).padStart(2, '0');
                        var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = current_datetime.getFullYear();
                        current_datetime=yyyy+'-'+mm+'-'+dd
                        this.selected=current_datetime
                        value.value=current_datetime
                        console.log( "date",current_datetime)
                 }
            });
        },
        async GetDataStock(){
               this.isLoading=true
            await HTTP.get(`selectpackaging`).then(res => {
              console.log(res)
               if(res.data.status===true){
                   this.datapackaging=res.data.obj
                   console.log("stock",this.datapackaging)
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        async GetDataPackaging(){
            this.isLoading=true
              await HTTP.post(`selectallpackaginglist`).then(res => {
          
            console.log(res)
               if(res.data.status===true){
                   this.packaging=res.data.obj
                   console.log("packaging",this.packaging)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },1000)
             })
        },
        async DataDetail(data){
            this.isLoading=true
            console.log("data address",data.wpkid)
            this.id=data.wpkid
            this.$bvModal.show('seeDataDetail')
            let dt={
                id:data.wpkid
            }
            HTTP.post(`selectpackagingdetail`,dt).then(res => {
            console.log(res)
                if(res.data.status===true){
                  this.packagingdetaildata=res.data.obj
                  console.log("packagingdetaildata",this.packagingdetaildata)
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },100)
                })
        },
        async Updatepackaging(packagingid){
          this.$store.commit('id',packagingid)
          this.$router.push("updatepackaging")
        },
        async Deletepackaging(packagingid){
            console.log(packagingid)
          
            let dt={
                ids:packagingid
            }
            console.log(dt)
              await HTTP.post(`deletepackaging`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                 this.$bvToast.toast('ลบข้อมูแล้ว', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'success',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
                 this.GetDatapackaging()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   
                 },1000)
             })
        },
        ConfirmWithdraw(id) {
            this.$bvModal.msgBoxConfirm('ยืนยันว่าทำเบิกแล้ว',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.UpdateStatus(id)
                }
            })
            .catch(err => {
              
            })
        },
        async UpdateStatus(id){
             this.isLoading=true
        
            let dt={
                id:id,
                status:'เบิกแล้ว',
            }
       
              await HTTP.post(`updatepackagingstatus`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                 this.UpdateAmount(id)
               }
             })
           
        },
        async UpdateAmount(id){
               this.packagingdetaildata=[]
            let dt={
                id:id
            }
            console.log(dt)
            HTTP.post(`selectpackagingdetail`,dt).then(res => {
       
                if(res.data.status===true){
                   
                  res.data.obj.forEach((value, index) => {
                        let data={
                            pkid:value.pkid,
                            pkamount:value.amount
                        }
                        this.packagingdetaildata.push(data)
                    });
                   console.log(this.packagingdetaildata)
                  
                }
            }).finally(()=>{
                  this.CalAmount()
            })
                
        },
        CalAmount(){
            let dt=[]
            this.datapackaging.forEach((value, index) => {
                let data={
                    pkid:value.pkid,
                    pkamount:value.pkamount
                }
                dt.push(data)
            });
            console.log("datastock",dt)
            console.log("dataid",this.packagingdetaildata)
            let newdata=[]
            for(var i=0;i<dt.length;i++){
                this.packagingdetaildata.forEach((value, index) => {
                        if(value.pkid===dt[i].pkid){
                            let newdt={
                                pkid:value.pkid,
                                pkamount:parseFloat(dt[i].pkamount)-parseFloat(value.pkamount)
                            }
                            newdata.push(newdt)
                           
                        }
              
                });
            }
            this.packagingdetaildata=[]
            console.log("newdata",newdata)
            this.UpdateAmountProduct(newdata)
        },
        async UpdateAmountProduct(newdata){
              let round=0
            let totalround=newdata.length
          await newdata.forEach((value,index)=>{
                let dt={
                    pkid:value.pkid,
                    pkamount:parseFloat(value.pkamount)
                }
                HTTP.post(`updateamountpackaging`,dt).then(res => {
                  console.log(res)
                    if(res.data.status===true){
                             round++
                             if(round===totalround){
                                setTimeout(() => {
                                     this.$bvToast.toast('ยืนยันการเบิกแล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                },1500);
                            }
                    }
                }) .finally(()=>{
                        setTimeout(()=>{
                             if(round===totalround){
                                  this.GetDataPackaging()
                                 this.GetDataStock()
                             }
                            this.isLoading=false
                        },500)
                    })
           });
           
        },
        ConfirmDelete(id) {
                this.$bvModal.msgBoxConfirm('ต้องการลบรายการนี้หรือไม่?',{
                    okTitle:'ตกลง',
                    cancelTitle:'ยกเลิก'
                })
                .then(value => {
                    if( value===true){
                        this.DeleteOrder(id)
                    }
                })
        },
        async DeleteOrder(id){
            this.isLoading=true
            let dt={
                id:id
            }
            await HTTP.post(`deletewithdrawpackaging`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                  setTimeout(() => {
                       this.$bvToast.toast('ลบรายการที่เลือกแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                  }, 1500);
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
               setTimeout(() => {
                    this.GetDataPackaging()
                    this.GetDataStock()
               }, 500);
             })
        }
    }
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>