<template>
    <section>
        <TemplateManager>
             <ReportWithdrawProduct/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportWithdrawProduct from '@/components/manager/report/ReportWithdrawProduct.vue'
export default {
    components:{
        TemplateManager
        ,ReportWithdrawProduct
    }
}
</script>