<template>
    <section>
        <TemplateManager>
             <ReportStockProduct/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportStockProduct from '@/components/manager/report/ReportStockProduct.vue'
export default {
    components:{
        TemplateManager
        ,ReportStockProduct
    }
}
</script>