<template>
    <section>
        <TemplateManager>
             <ReportWithdrawStaple/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportWithdrawStaple from '@/components/manager/report/ReportWithdrawStaple.vue'
export default {
    components:{
        TemplateManager
        ,ReportWithdrawStaple
    }
}
</script>