<template>
    <section>
        <TemplateManager>
             <ReportWithdrawPackaging/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportWithdrawPackaging from '@/components/manager/report/ReportWithdrawPackaging.vue'
export default {
    components:{
        TemplateManager
        ,ReportWithdrawPackaging
    }
}
</script>