<template>
    <section>
        <TemplateManager>
             <ReportAddStaple/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportAddStaple from '@/components/manager/report/ReportAddStaple.vue'
export default {
    components:{
        TemplateManager
        ,ReportAddStaple
    }
}
</script>