<template>
    <section>
        <TemplateManager>
             <ReportStockPackaging/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportStockPackaging from '@/components/manager/report/ReportStockPackaging.vue'
export default {
    components:{
        TemplateManager
        ,ReportStockPackaging
    }
}
</script>