<template>
    <section>
        <TemplateManager>
             <ReportProducttion/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportProducttion from '@/components/manager/report/ReportProducttion.vue'
export default {
    components:{
        TemplateManager
        ,ReportProducttion
    }
}
</script>