<template>
    <section>
        <TemplateManager>
             <ReportStockStaple/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportStockStaple from '@/components/manager/report/ReportStockStaple.vue'
export default {
    components:{
        TemplateManager
        ,ReportStockStaple
    }
}
</script>