<template>
    <section>
        <TemplateManager>
             <ReportAddPackaging/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportAddPackaging from '@/components/manager/report/ReportAddPackaging.vue'
export default {
    components:{
        TemplateManager
        ,ReportAddPackaging
    }
}
</script>