<template>
    <section>
        <TemplateManager>
             <ReportCost/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportCost from '@/components/manager/report/ReportCost.vue'
export default {
    components:{
        TemplateManager
        ,ReportCost
    }
}
</script>