<template>
    <section>
        <TemplateManager>
             <ReportSale/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportSale from '@/components/manager/report/ReportSale.vue'
export default {
    components:{
        TemplateManager
        ,ReportSale
    }
}
</script>