<template>
    <section>
        <TemplateManager>
             <ReportGetPackaging/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ReportGetPackaging from '@/components/manager/report/ReportGetPackaging.vue'
export default {
    components:{
        TemplateManager
        ,ReportGetPackaging
    }
}
</script>