<template>
    <section>
        <div class="container my-5">
            <p class="fnt-24 text-center">อัพเดทข้อมูลส่วนตัว</p>
            <div class="position-relative  d-flex jt at ">
                <label for="uplaodProfile"  class="mb-0  d-flex at jt" >
                    <div>
                        <div class="upload  d-flex at jt ">
                            <img  :src="url+'userprofile/'+profile" v-if="picPreview===''">
                             <img  :src="picPreview" v-else>
                        </div>
                        <div class="input-upload  d-flex at jt ">  
                                <p class="m-0">เปลี่ยนรูปโปรไฟล์</p>   
                        </div>            
                    </div>
                </label>
            </div>
            
            <input @change="onFileChangeCoordinatorLogo($event)" type="file" class="d-none" id="uplaodProfile">       
               <b-form  >
                   <p class="fnt-24">ข้อมูลบุคคล</p>
                   <div class="row col">
                     
                   </div>
                    <div class="row col">
                       <div class="col-lg-6">
                           <b-form-group  label="ชื่อ:" :class="{'danger':$v.fname.$error}">
                                <b-form-input   v-model="fname" required      maxlength="50"  @input="$v.fname.$touch()"></b-form-input>
                                <b-form-invalid-feedback :state="!$v.fname.$error">
                                            กรุณากรอกชื่อ
                                </b-form-invalid-feedback>
                            </b-form-group>
                       </div>
                        <div class="col-lg-6">
                            <b-form-group  label="นามสกุล:" :class="{'danger':$v.lname.$error}">
                                 <b-form-input   v-model="lname"   required    maxlength="50"  @input="$v.lname.$touch()" ></b-form-input>
                                <b-form-invalid-feedback :state="!$v.lname.$error">
                                        กรุณากรอกนามสกุล
                                </b-form-invalid-feedback>
                         </b-form-group>
                       </div>

                   </div>
                    <div class="row col">
                       <div class="col-lg-6">
                            <b-form-group  label="เบอร์โทรศัพท์:" :class="{'danger':$v.phone.$error}">
                             <b-form-input   v-model="phone"  required    maxlength="15"  @input="$v.phone.$touch()" ></b-form-input>
                              <b-form-invalid-feedback :state="!$v.phone.$error">
                                        กรุณากรอกเบอร์โทรศัพท์ให้ถูกต้อง
                            </b-form-invalid-feedback>
                         </b-form-group>
                       </div>
                   </div>
                
                    <p class="fnt-24">ข้อมูลที่อยู่</p>
                    <div class="row col">
                        <div class="col-lg-6">
                           <b-form-group  label="ที่อยู่:" :class="{'danger':$v.address.$error}">
                            <b-form-input   v-model="address"  required     placeholder="ชื่อหมู่บ้าน หรือที่อยู่"  maxlength="150"  @input="$v.address.$touch()"></b-form-input>
                            <b-form-invalid-feedback :state="!$v.address.$error">
                                        กรุณากรอกที่อยู่
                            </b-form-invalid-feedback>
                        </b-form-group>
                        </div>
                        <div class="col-lg-6">
                                  <b-form-group  label="เขต:" >
                                    <b-form-select v-model="selectedsubdistrict" :options="subdistrict"></b-form-select>
                                </b-form-group>
                        </div>
                    </div>
                    <div class="row col">
                        
                        <div class="col-lg-6">
                                <b-form-group  label="เขต:" >
                                    <b-form-select v-model="selectedarea" :options="area"></b-form-select>
                                </b-form-group>
                        </div>
                    </div>
                </b-form>

                <center><button class=" mt-4 btn-blue" @click="updateUser" >ยืนยันการอัพเดทข้อมูล</button></center>
                 
        </div>
              <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section> 
</template>
<script>
import { required, minLength, sameAs,helpers,email,numeric} from "vuelidate/lib/validators";
const nonespace = helpers.regex('nonespace',/^\S*$/)
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    data(){
        return{
            isLoading:false,
          
            phone:'',
            fname:'',
            lname:'',
            address:'',
            selectedsubdistrict:'ห้วยแก้ว',
            subdistrict: [
                { value: 'ห้วยแก้ว',text:'ห้วยแก้ว' },
                { value: 'ช้างเผือก', text:'ช้างเผือก' },
                { value: 'เจ็ดยอด', text:'เจ็ดยอด' },
            ],
            selectedarea:'ห้วยแก้ว',
            area: [
                { value: 'ห้วยแก้ว',text:'ห้วยแก้ว' },
                { value: 'ช้างเผือก', text:'ช้างเผือก' },
                { value: 'เจ็ดยอด', text:'เจ็ดยอด' },
            ],
            profile:'',
            oldprofile:'',
            picPreview:'',
             url:process.env.VUE_APP_IMAGE_URL,
        }
    },
    mounted(){
        this.getDataUser()
    },
    methods:{
        async onFileChangeCoordinatorLogo(e) {
            const file = e.target.files[0];
            this.picPreview = URL.createObjectURL(file);
             await this.uploadImage(file)
          
        },
        async uploadImage(file) {
            console.log('file',file)
            if (
                file.type === 'image/jpeg' ||
                file.type === 'image/png' ||
                file.type === 'image/gif'
            ) {
              
                const formData = new FormData();
                formData.append('fileToUpload', file);
                formData.append('oldname', this.profile);
               console.log(formData)
                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                };
                await HTTP.post('/uploadprofile', formData, config)
                .then((res) => {
                    console.log('responce profile',res)
                    if(res.data.status=true){
                        this.profile =  res.data.obj
                        this.deleteProfilePicture()
                         
                    } 
                })
                .catch(e => {
                    console.log("upload/profile/error", e);
                   
                });

                
            } else {
                this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'danger',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
            }
        },
        async getDataUser(){
            this.isLoading=true
            let dt={
                id:this.$store.state.user.uid
            }
          
            await HTTP.post(`selectdatauserbyid`,dt).then(res => {
             console.log(res)
               if(res.data.status===true){
                   let dtuser=res.data.obj
                    this.profile=dtuser.profile
                    this.phone=dtuser.phone
                    this.fname=dtuser.fname
                    this.lname=dtuser.lname
                    this.address=dtuser.address
                    this.selectedsubdistrict=dtuser.subdistrict
                    this.selectedarea=dtuser.area
                       this.$store.commit('setUser',res.data.obj)
                       console.log(res.data.obj)
                   
               }else{
                    console.log("ดึงข้อมูลยูเซอไม่ได้")
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },1500)
             })
        },
        async updateUser(){
             if(this.$v.$invalid){
                            this.$v.$touch()
            }else{
                this.isLoading=true
                let dt={
                    id:this.$store.state.user.uid,
                    phone:this.phone,
                    fname:this.fname,
                    lname:this.lname,
                    address:this.address,
                    subdistrict:this.selectedsubdistrict,
                    area:this.selectedarea,

                }
                await HTTP.post(`updateuser`,dt).then(res => {
                console.log(res)
                if(res.data.status===true){
                        setTimeout(()=>{
                            this.$bvToast.toast('อัพเดทข้อมูลใหม่แล้ว', {
                                            title:'แจ้งเตือน',
                                            toaster:'b-toaster-top-center',
                                            variant: 'success',
                                            solid: true,
                                            autoHideDelay:2000,
                                            appendToast:false,   
                        })       
                        },1500)
                    
                          this.$store.commit('setUser',res.data.obj)
                }else{
                            setTimeout(()=>{
                            this.$bvToast.toast('อัพเดทข้อมูลใหม่ล้มเหลว', {
                                            title:'แจ้งเตือน',
                                            toaster:'b-toaster-top-center',
                                            variant: 'danger',
                                            solid: true,
                                            autoHideDelay:2000,
                                            appendToast:false,   
                        })       
                        },1500)
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                            this.isLoading=false   
                            // window.location.reload()  
                    },1000)
                })
            } 
        },
        async deleteProfilePicture(){
            let dt={
                profilepic:this.$store.state.user.profile
            }
              await HTTP.post('/deleteprofilepicture',dt)
                .then((res) => {
                    
                    if(res.data.status=true){
                       console.log("ลบรูปภาพสำเร็จ")
                       this.updateProfilePicture()
                    }else{
                         console.log("ลบรูปภาพไม่ได้")
                    } 
                })
                .catch(e => {
                   console.log(e);
                   
                });
        },
        async updateProfilePicture(){
            let dt={
                id:this.$store.state.user.uid,
                profile:this.profile,
            }
            await HTTP.post(`updateprofilepicture`,dt).then(res => {
             console.log(res)
               if(res.data.status===true){
                    console.log("อัดเดทข้อมูลรูปแล้ว")    
                        window.location.reload();     
               }else{
                    console.log("อัดเดทข้อมูลรูปไม่ได้")
               }
             })
             .catch(e => {
                 console.log(e);
             })
            
        }
    },
    validations:{
        fname:{
             required,
        },
        lname:{
             required,
        },
        phone:{
         
            required,
            numeric,
            minLength: minLength(10),
        },
        address:{
            required,
        },
          
    }
}
</script>>
<style scoped>
  .upload{
        overflow:hidden;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        background-color: rgba(208, 205, 205, 0.4);
        
    }
    .upload:hover{
        color:white!important;
    }
    .input-upload{
        width:200px;
        height: 200px;
        color:transparent;
        position: absolute;
        bottom:0;
        border-radius: 10px;
        transition: all 0.5s;
        font-size: 18px;
    }
    .input-upload:hover{
         color: white;
         background-color: rgba(0,0,0,.4);
    }
    img{
        max-width: 100%;
    }
</style>