<template>
    <section>
         <div class="container my-5 height-100">
            <p class="fnt-24 text-center">อัพเดทข้อมูลบัญชี</p>
              
                   <div class="row">
                        <div class="col-lg-10 ">     
                            <b-form-group  label="อีเมล:" class="mb-4 " >
                                <b-form-input  v-model="email" class="" type="email"  required   disabled  ></b-form-input>
                            </b-form-group>
                        </div>
                        <div class="col-lg d-flex at jt p-0">
                              <p class="text-center mb-0"><button class="btn-blue" v-b-modal.editemail>อัพเดท</button></p>
                        </div>
                   </div>
                    <div class="row">
                        <div class="col-lg-10 ">
                        <b-form-group  label="รหัสผ่าน:" class="mb-4">
                             <b-form-input   v-model="password"  type="password"  required  disabled  ></b-form-input>
                         </b-form-group>
                        </div>
                        <div class="col-lg d-flex at jt p-0">
                              <p class="text-center mb-0"><button class="btn-blue" v-b-modal.editpassword>อัพเดท</button></p>
                        </div>
                   </div>
                 
         </div>
        <b-modal id="editemail" hide-footer :title="'อัพเดทอีเมล'" centered size="lg">
             <b-form-group  label="อีเมล:" class="mb-4 "  :class="{'danger':$v.newemail.$error}">
                <b-form-input  v-model="newemail" class="" type="email"  required   placeholder="example@hotmail.com"  @input="$v.newemail.$touch()"  ></b-form-input>
                  <b-form-invalid-feedback :state="!$v.newemail.$error">
                    กรุณากรอกอีเมลล์ให้ถูกต้อง
                </b-form-invalid-feedback>
            </b-form-group>
            <p class="text-center"> <button class="btn-blue" @click="UpdateEmail">ยืนยันอัพเดทอีเมล</button></p>
        </b-modal>

         <b-modal id="editpassword" hide-footer :title="'อัพเดทรหัสผ่าน'" centered size="lg">
            <b-form-group  label="รหัสผ่านใหม่:"  class="mb-4 " :class="{'danger':$v.newpassword.$error}">
                <b-form-input  v-model="newpassword" class="" type="password"  required   placeholder="รหัสผาน 8 ตัว"    @input="$v.newpassword.$touch()"></b-form-input>
                 <b-form-invalid-feedback :state="!$v.newpassword.$error">
                    กรุณากรอกรหัสผ่านให้ถูกต้อง
                </b-form-invalid-feedback>
            </b-form-group>
        
            <b-form-group  label="ยืนยันรหัสผ่าน:" class="mb-4 " :class="{'danger':$v.checkpassword.$error}">
                <b-form-input  v-model="checkpassword" class="" type="password"  required    placeholder="รหัสผาน 8 ตัว"  @input="$v.checkpassword.$touch()"></b-form-input>
               <b-form-invalid-feedback :state="!$v.checkpassword.$error">
                    กรุณากรอกรหัสผ่านให้ถูกต้อง
                </b-form-invalid-feedback>
            </b-form-group>
                <p class="text-center"> <button class="btn-blue" @click="UpdatePassword">ยืนยันอัพเดทรหัสผ่าน</button></p>
        </b-modal>
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import { required, minLength, sameAs,helpers,email} from "vuelidate/lib/validators";
const nonespace = helpers.regex('nonespace',/^\S*$/)
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
        Loading
    },
    data(){
        return{
            isLoading:false,
            newemail:'',
            email:'',
            password:'xxxxxxxx',

            newpassword:'',
            checkpassword:'',
            isLoading:false
           
        }
    },
    computed:{
        user(){
            return this.$store.state.user
        }
    },
    mounted(){
        this.getDataUser()
    },
    methods:{
        async getDataUser(){
            this.email=this.user.email
        
           
        },
        async UpdateEmail(){
             if(this.$v.newemail.$invalid){
                  this.$v.newemail.$touch()
             }else{
                     this.$bvModal.hide('editemail')
                    this.isLoading=true
                    let dt={
                        newemail:this.newemail,
                        id:this.user.uid
                    }
                    await HTTP.post(`updateemail`,dt).then(res => {
                        console.log("res",res)
                    if(res.data.status===true){
                        setTimeout(() => {
                                this.$bvToast.toast('อัพเดทข้อมูลอีเมลล์ใหม่แล้ว', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'success',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:false,
                            })
                        }, 1000);
                        this.$store.commit('setUser',res.data.obj)
                        this.getDataUser()
                    
                    }else{
                            this.$bvToast.toast('อัพเดทข้อมูลอีเมลล์ใหม่ไม่ได้', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'danger',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:false,
                            })
                    }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                        setTimeout(()=>{
                            this.isLoading=false
                        
                        },500)
                    })
             }
           
        },
        async UpdatePassword(){
              if(this.$v.newpassword.$invalid||this.$v.checkpassword.$invalid){
                    this.$v.newpassword.$touch()
                    this.$v.checkpassword.$touch()
              }else{
                    this.$bvModal.hide('editpassword')
                       this.isLoading=true
                        let dt={
                            password:this.newpassword,
                            email:this.email
                        }
                        await HTTP.post(`updatepassword`,dt).then(res => {
                            console.log("res",res)
                           if(res.data.status===true){
                               setTimeout(() => {
                                    this.$bvToast.toast('อัพเดทข้อมูลรหัสผ่านใหม่แล้ว', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'success',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,
                                })
                               }, 1000);
                               this.$store.commit('setUser',res.data.obj)
                                this.getDataUser()
                           }else{
                                this.$bvToast.toast('อัพเดทข้อมูลรหัสผ่านใหม่ไม่ได้', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'danger',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                })
                           }
                         })
                         .catch(e => {
                             console.log(e);
                         })
                         .finally(()=>{
                             setTimeout(()=>{
                                 this.isLoading=false
                              
                             },500)
                         })
              }
        
        }
 
    },
    validations:{
          newemail:{
              required,
              email,
          },
           newpassword: {
                required,
                minLength: minLength(8),
                nonespace
            },
            checkpassword:{
                required, 
                sameAsPassword: sameAs('newpassword'),
                nonespace
            },  
    }
}
</script>>