<template>
    <section>
        <div class="container height-container py-5">
            <p class="fnt-24 text-center">เข้าสู่ระบบ</p>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">อีเมล</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">รหัสผ่าน</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" v-model="password">
                </div>
            </form>
           <p class="text-center"><button class="btn-blue" @click="test()">เข้าสู่ระบบ</button></p>
            <p class="text-center">ยังไม่มีบัญชีผู้ใช้ ?<a href="signup"><span class="fnt-orange"> สมัครสมาชิก</span></a></p>           
               
               <!-- <div class="text-center">
              ยังไม่มีบัญชี ?<br>
                  <button class="btn-signup">สมัครสมาชิก</button>
            </div> -->
        </div>
        <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import {HTTP} from "@/axios.js";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components:{
        Loading
    },
    data(){
        return{
            email:'',
            password:'',
            isLoading:false
        }
    },
    methods:{
        async test(){
            this.isLoading=true
            let dt={
                email:this.email,
                password:this.password
            }
            await HTTP.post(`signin`,dt).then(res => {
                console.log("res",res)
               if(res.data.status===true){
                  
                   this.$store.commit('setUser',res.data.obj)
                    console.log("ข้อมุลuserที่เก็บไว้บนสโต",res.data.obj)
                   this.$router.push('./home')
               }else{
                    setTimeout(() => {
                          this.$bvToast.toast('เข้าสู่ระบบไม่ได้กรุณาตรวจสอบอีเมลและรหัสผ่าน', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'danger',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:true,
                        })
                    }, 1000);
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        }
    }
}
</script>>
<style scoped>
    .btn-signup{
        min-width:100px;
        background: rgb(83, 146, 249);
        color: white;
        position: relative;
        z-index: 0;
        padding: 10px;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(83, 146, 249);
    }
    .btn-signup:hover{
        background:  rgb(46, 123, 247);
    }
    .border-right{
        border-right:1px solid #ACACAC;
    }
    
</style>