<template>
    <section>
      <div class="container my-5 ">
            <p class="fnt-24 text-center">สมัครสมาชิก</p>
            <div class="position-relative  d-flex jt at">
                 <label for="uplaodProfile"  class="mb-0 d-flex jt at" >
                   <div> 
                       <div class="upload d-flex jt at">
                            <img data-v-398f5dc2="" src="https://d30795irbdecem.cloudfront.net/assets/default-avatar-4dc02b82.svg" class="w-100" v-if="picPreview===''" >
                            <img data-v-398f5dc2="" :src="picPreview" class="w-100"  v-else>
                        </div>
                        <div class="input-upload  d-flex at jt">                    
                                <p>เพิ่มรูปภาพ</p>  
                        </div> 
                      </div>
                </label>
            </div>
             <input @change="onFileChangeCoordinatorLogo($event)" type="file" class="d-none" id="uplaodProfile">
             <b-form>
                <p class="fnt-24">ข้อมูลบุคคล</p>
                <div class="row col">
                    <div class="col-lg-6">
                        <b-form-group  label="อีเมล:" :class="{'danger':$v.email.$error}" >
                             <b-form-input  v-model="email"  type="email"  required    maxlength="50"   @change="$v.email.$touch()"></b-form-input>
                                    <b-form-invalid-feedback :state="!$v.email.$error">
                                        กรุณากรอกอีเมลล์ให้ถูกต้อง
                                    </b-form-invalid-feedback>
                         </b-form-group>
                    </div>
                     <div class="col-lg-6">
                           <b-form-group  label="รหัสผ่าน:" :class="{'danger':$v.password.$error}">
                             <b-form-input   v-model="password"  type="password"  required   maxlength="50"   @input="$v.password.$touch()"></b-form-input>
                             <b-form-invalid-feedback :state="!$v.password.$error">
                                        กรุณากรอกรหัสผ่านให้ถูกต้อง
                            </b-form-invalid-feedback>
                         </b-form-group>
                    </div>
                </div>
                 <div class="row col">
                    <div class="col-lg-6">
                        <b-form-group  label="ชื่อ:" :class="{'danger':$v.fname.$error}">
                             <b-form-input   v-model="fname" required      maxlength="50"  @input="$v.fname.$touch()"></b-form-input>
                            <b-form-invalid-feedback :state="!$v.fname.$error">
                                        กรุณากรอกชื่อ
                            </b-form-invalid-feedback>
                         </b-form-group>
                    </div>
                     <div class="col-lg-6">
                         <b-form-group  label="นามสกุล:" :class="{'danger':$v.lname.$error}">
                                 <b-form-input   v-model="lname"   required    maxlength="50"  @input="$v.lname.$touch()" ></b-form-input>
                                <b-form-invalid-feedback :state="!$v.lname.$error">
                                        กรุณากรอกนามสกุล
                                </b-form-invalid-feedback>
                         </b-form-group>
                    </div>
                </div>
                 <div class="row col">
                    <div class="col-lg-6">
                        <b-form-group  label="เบอร์โทรศัพท์:" :class="{'danger':$v.phone.$error}">
                             <b-form-input   v-model="phone"  required    maxlength="15"  @input="$v.phone.$touch()" ></b-form-input>
                              <b-form-invalid-feedback :state="!$v.phone.$error">
                                        กรุณากรอกเบอร์โทรศัพท์ให้ถูกต้อง
                            </b-form-invalid-feedback>
                         </b-form-group>
                    </div>
                </div>
                 

                 <p class="fnt-24">ข้อมูลที่อยู่</p>
                 <div class="row col">
                     <div class="col-lg-6">
                         <b-form-group  label="ที่อยู่:" :class="{'danger':$v.address.$error}">
                            <b-form-input   v-model="address"  required     placeholder="ชื่อหมู่บ้าน หรือที่อยู่"  maxlength="150"  @input="$v.address.$touch()"></b-form-input>
                            <b-form-invalid-feedback :state="!$v.address.$error">
                                        กรุณากรอกที่อยู่
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </div>
                    <div class="col-lg-6">
                        <b-form-group  label="ตำบล:" >
                              <b-form-select v-model="selectedsubdistrict" :options="subdistrict" maxlength="50"  ></b-form-select>
                        </b-form-group>
                     </div>
                 </div>
                <div class="row col">
                     
                     <div class="col-lg-6">
                             <b-form-group  label="เขต:" >
                                 <b-form-select v-model="selectedarea" :options="area" maxlength="50"  ></b-form-select>
                             </b-form-group>
                     </div>
                     <div class="col-lg-6">
                             <b-form-group  label="อำเภอ:" >
                                <b-form-input   value='เมือง' required     placeholder="ชื่อหมู่บ้าน หรือที่อยู่" disabled ></b-form-input>
                             </b-form-group>
                     </div>
                 </div>
                        <div class="row col">
                
                     <div class="col-lg-6">
                             <b-form-group  label="อำเภอ:" >
                                <b-form-input   value='เชียงใหม่' required     placeholder="ชื่อหมู่บ้าน หรือที่อยู่" disabled ></b-form-input>
                             </b-form-group>
                     </div>
                 </div>
                
             </b-form>
              <center><button class="btn-blue mt-4" @click="signup" >สมัครสมาชิก</button></center>
            <b-modal id="confirmSignup" title="ข้อกำหนดและเงื่อนไขสมาชิก" centered  hide-footer >
                    <div>
                            <p>ข้อกำหนดโรงน้ำดื่มราชมงคลล้านนา</p>
                            <p>- จัดส่งเฉพาะพื้นที่ อำเภอเมืองเชียงใหม่ จังหวัดเชียงใหม่ ภายในเขต ห้วยแก้ว ช้างเผือก เจ็ดยอด</p>
                            <p>- การดำเนินการจัดส่งน้ำ จะทำการจัดส่งวันละเขต</p>
                            <p>- รายการสินค้าที่จะทำการจัดส่งกรณีเลือกชำระเงินออนไลน์จะต้องเพิ่มหลักฐานการชำระเงินและหลักฐานถูกต้อง</p>
                     </div>
                   
                    <b-form-checkbox    v-model="status"   value="1" unchecked-value="2" class="text-center" @input="check">
                             ยอมรับข้อกำหนดและเงื่อนไขของสมาชิก
                    </b-form-checkbox>
                    
                     
                        
            </b-modal>
      </div>
      <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import { required, minLength,maxLength,sameAs,helpers,email,numeric} from "vuelidate/lib/validators";
const nonespace = helpers.regex('nonespace',/^\S*$/)
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    mounted(){
        this.showModal()
    },
    data(){
        return{
            isLoading:false,
            email:'',
            password:'',
            phone:'',
            fname:'',
            lname:'',
            address:'',
            selectedsubdistrict:'ห้วยแก้ว',
            subdistrict: [
                { value: 'ห้วยแก้ว',text:'ห้วยแก้ว' },
                { value: 'ช้างเผือก', text:'ช้างเผือก' },
                { value: 'เจ็ดยอด', text:'เจ็ดยอด' },
            ],
            selectedarea:'ห้วยแก้ว',
            area: [
                { value: 'ห้วยแก้ว',text:'ห้วยแก้ว' },
                { value: 'ช้างเผือก', text:'ช้างเผือก' },
                { value: 'เจ็ดยอด', text:'เจ็ดยอด' },
            ],
             status:'',
            profile:'',
            picPreview:''
        }
    },
    methods:{
        showModal(){
            this.$bvModal.show('confirmSignup')
        },
        check(){
                if(this.status==='1'){
                     this.$bvModal.hide('confirmSignup')
                }
           
        },
        async signup(){
            
                 let dt={
                        profile:this.profile,
                        email:this.email,
                        password:this.password,
                        phone:this.phone,
                        fname:this.fname,
                        lname:this.lname,
                        address:this.address,
                        subdistrict:this.selectedsubdistrict,
                        area:this.selectedarea,
                    }
                 if(this.status==='1'&&this.profile!==''){
                  
                     if(this.$v.$invalid){
                            this.$v.$touch()
                     }else{
                                this.isLoading=true
                        await HTTP.post(`signup`,dt).then(res => {
                                console.log(res)
                            if(res.data.status===true){
                                    setTimeout(()=>{
                                        this.$bvToast.toast('สมัครสมาชิกสำเร็จ', {
                                            title:'แจ้งเตือน',
                                            toaster:'b-toaster-top-center',
                                            variant: 'success',
                                            solid: true,
                                            autoHideDelay:2000,
                                            appendToast:false,  
                                            
                                        })
                                    },1500)
                                
                            }else{
                            
                                    this.$bvToast.toast('สมัครสมาชิกไม่สำเร็จ', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'danger',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                        
                                    })
                                
                            }
                        })
                        .catch(e => {
                            console.log(e);
                        })
                        .finally(()=>{
                            setTimeout(()=>{
                                this.isLoading=false
                                document.body.scrollTop = 0;
                                document.documentElement.scrollTop = 0;
                                this.$router.push('signin')
                            },500)    
                        })
                     }
                
                 }else{
                     if(this.profile===''){
                          this.$bvToast.toast('ยังไม่ได้เพิ่มรูปภาพ', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'warning',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                        
                            })
                     }else{
                          this.$bvModal.show('confirmSignup')
                     }
                   
                 }
                    
                  
                      
                       
        },
        async onFileChangeCoordinatorLogo(e) {
            const file = e.target.files[0];
          
            this.picPreview = URL.createObjectURL(file);
            let img = await this.uploadImage(file)
          
        },
        async uploadImage(file) {
            console.log('file',file)
            if (
                file.type === 'image/jpeg' ||
                file.type === 'image/png' ||
                file.type === 'image/gif'
            ) {
                let img = ''
                let nameimg='test'
                const formData = new FormData();
                formData.append('fileToUpload', file);
                formData.append('namefile',nameimg);
                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                };
                await HTTP.post('/uploadprofile', formData, config)
                .then((res) => {
                    console.log('responce profile',res)
                    if(res.data.status=true){
                       this.profile =  res.data.obj
                        console.log("upload success")
                    } 
                })
           
               
            } else {
                this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'danger',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
            }
        },
    } 
    ,validations:{
        email:{
              required,
              email,
          },
        password: {
                required,
                minLength: minLength(8),
               
                nonespace
        },
        fname:{
             required,
        },
        lname:{
             required,
        },
        phone:{
         
            required,
            numeric,
            minLength: minLength(10),
        },
        address:{
            required,
        },
        
    }
}
</script>>
<style scoped>
    .img-zindex{
        z-index: 10;
    }

    .btn-signup{
        min-width:100px;
        background: rgb(83, 146, 249);
        color: white;
        position: relative;
        z-index: 0;
        padding: 10px;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(83, 146, 249);
    }
    .btn-signup:hover{
        background:  rgb(46, 123, 247);
    }
    .border-right{
        border-right:1px solid #ACACAC;
    }
    img{
         border-radius: 10px;
    }

</style>