<template >
    <section class="">
        <div class="container py-5">
                <p class="text-center fnt-logo">RMUTL DRINKS </p>

                <!-- <div class="row  py-lg-5 my-lg-5 my-4">
                    <div class="col-lg-5 ">
                        <img src="@/assets/pic_em.png" alt="" class="w-100">
                    </div>
                    <div class="col-lg ">
                        <p class="text-center fnt-24">เข้าสู่ระบบ</p>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ชื่อใช้งาน</label>
                                <input class="form-control" v-model="user" placeholder="example">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">รหัสผ่าน</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" v-model="password">
                            </div>
                        </form>
                        <button class="btn-signin" @click="signin()">เข้าสู่ระบบ</button>
                    </div>
                </div> -->
                <div class="container-lg">
                      <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ชื่อใช้งาน</label>
                                <input class="form-control" v-model="user" placeholder="example">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">รหัสผ่าน</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" v-model="password">
                            </div>
                        </form>
                        <button class="btn-signin" @click="signin()">เข้าสู่ระบบ</button>
                </div>
        </div>
    </section>
</template>>
<script>
import {HTTP} from "@/axios.js";
export default {
    data(){
        return{
            user:'',
            password:'',
            userlevel:''
        }
    },
    methods:{
        async signin(){
            this.isLoading=true
            let dt={
                user:this.user,
                password:this.password
            }
            await HTTP.post(`signinemployee`,dt).then(res => {
                console.log("res",res)
               if(res.data.status===true){
                   console.log()
                let dt={
                    eid:res.data.obj.eid,
                    profilepic:res.data.obj.profilepic,
                    firstname:res.data.obj.firstname,
                    lastname:res.data.obj.lastname,
                    userlevel:res.data.obj.userlevel
                }
                this.userlevel=res.data.obj.userlevel
                this.$store.commit('setUser',dt)
                   this.Check()
                  
               }else{
                   setTimeout(() => {
                         this.$bvToast.toast('เข้าสู่ระบบไม่ได้กรุณาตรวจสอบชื่อใช้งานและรหัสผ่าน', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'danger',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:true,
                        })
                   }, 1000);
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        
        },
        async Check(){
            if(this.userlevel==="1"){
                this.$router.push('manage/employee')
            }else if(this.userlevel==="2"){
                 this.$router.push('producttion/withdrawproduct')
            }else{
                  this.$router.push('transport/shipping')
            }
        }
    }
}
</script>
<style scoped>

.btn-signin{
    background: #4997dd;
    border-color: #4997dd;
    color: #fff;
    border-radius: 4px;
    width:100%;
    padding:0.4rem
}
</style>>