<template>
    <section>
          <p class="fnt-24 text-center mb-0 py-2">เพิ่มข้อมูลพนักงานใหม่</p>
        <div class=" bg-white bd-rd p-lg-5 p-3 ">
          
            <div class="position-relative  d-flex jt at">
                 <label for="uplaodProfile"  class="mb-0 d-flex jt at" >
                   <div> 
                       <div class="upload d-flex jt at">
                            <img  :src="picPreview" class=""   v-if="picPreview!==''">
                        </div>
                        <div class="input-upload  d-flex at jt">                    
                               <p :class="{'fnt-white':picPreview===''}">เพิ่มรูปพนักงาน</p>  
                        </div> 
                      </div>
                </label>
            </div>
               <input @change="UploadEmployeePicture($event)" type="file" class="d-none" id="uplaodProfile">
           <div class="container px-lg-5 mt-4">
               <p class="fnt-24">ข้อมูลพนักงาน</p>
               <div class="row">
                   <div class=" col-lg-6">
                         <b-form-group  label="ชื่อเข้าสู่ระบบ:" :class="{'danger':$v.username.$error}" >
                            <b-form-input   v-model="username"   required      ></b-form-input>
                            <b-form-invalid-feedback :state="!$v.username.$error">
                                กรุณากรอกชื่อเข้าสู่ระบบ
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                    <div class=" col-lg-6">
                         <b-form-group  label="รหัสผ่าน:" :class="{'danger':$v.password.$error}">
                            <b-form-input  type="password" v-model="password"   required   ></b-form-input>
                            <b-form-invalid-feedback :state="!$v.password.$error">
                                กรุณากรอกรหัสผ่านให้ถููกต้อง
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
           
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="ชื่อ:" :class="{'danger':$v.name.$error}">
                            <b-form-input   v-model="name"   required      ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.name.$error">
                                กรุณากรอกชื่อ
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                   <div class=" col-lg-6">
                        <b-form-group  label="นามสกุล:" :class="{'danger':$v.lastname.$error}">
                            <b-form-input   v-model="lastname"   required      ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.lastname.$error">
                                กรุณากรอกนามสกุล
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="ที่อยู่:" :class="{'danger':$v.address.$error}">
                            <b-form-input   v-model="address"   required      ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.address.$error">
                                กรุณากรอกที่อยู่
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                   <div class=" col-lg-6">
                        <b-form-group  label="ตำบล:" :class="{'danger':$v.subdistrict.$error}">
                            <b-form-input   v-model="subdistrict"   required      ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.subdistrict.$error">
                                กรุณากรอกตำบล
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="อำเภอ:" :class="{'danger':$v.district.$error}">
                            <b-form-input   v-model="district"   required      ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.district.$error">
                                กรุณากรอกอำเภอ
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                   <div class=" col-lg-6">
                        <b-form-group  label="จังหวัด:" :class="{'danger':$v.province.$error}" >
                            <b-form-input   v-model="province"   required      ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.province.$error">
                                กรุณากรอกจังหวัด
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="รหัสไปรษณีย์:" :class="{'danger':$v.postcode.$error}">
                            <b-form-input   v-model="postcode"   required      ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.postcode.$error">
                                กรุณากรอกรหัสไปรษณีย์
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                   <div class=" col-lg-6">
                        <b-form-group  label="เบอร์โทรศัพท์:" :class="{'danger':$v.phone.$error}">
                            <b-form-input   v-model="phone"   required      ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.phone.$error">
                                กรุณากรอกเบอร์โทรศัพท์
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="ตำแหน่ง:" >
                             <b-form-select v-model="department" :options="departmentdata"></b-form-select>
                        </b-form-group>
                     
                           
                   </div>
                   <div class=" col-lg-6">
                      <b-form-group  label="ระดับการเข้าถึงข้อมูล:" >
                            <b-form-select v-model="userlevel" :options="userleveldata"></b-form-select>  
                        </b-form-group>
                   </div>
               </div>
            <p class="text-center mt-4">
                <button class="btn-blue" @click="AddNewEmployee">เพิ่มข้อมูลพนักงานใหม่</button>
            </p>
           </div>
                      
                  
        </div>
         <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
         
    </section>
</template>
<script>
import { required, minLength, sameAs,helpers,email,numeric} from "vuelidate/lib/validators";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from '@/axios.js'
export default {
    components: {
            Loading
    },
    data(){
        return{
            picPreview:'',
            picture:'',
            username:'',
            password:'',
            name:'',
            lastname:'',
            address:'',
            subdistrict:'',
            district:'',
            province:'',
            postcode:'',
            phone:'',
         
            department: 'ผู้จัดการ',
            departmentdata: [
            { value: 'ผู้จัดการ', text: 'ผู้จัดการ' },
            { value: 'พนักงานฝ่ายผลิต', text: 'พนักงานฝ่ายผลิต' },
            { value: 'พนักงานขนส่ง', text: 'พนักงานขนส่ง' },
          
            ],
               userlevel: '1',
            userleveldata: [
                { value: '1', text: '1' },
                { value: '2', text: '2' },
                { value: '3', text: '3' },    
            ],
              isLoading:false
            
        }
    },
    methods:{
        async UploadEmployeePicture(e) {
            const file = e.target.files[0];
            this.picPreview = URL.createObjectURL(file);
            let img = await this.uploadImage(file)
            this.EmployeePicture = img
        },
        async uploadImage(file) {
              if ( file.type === 'image/jpeg' || file.type === 'image/png' ||file.type === 'image/gif') {
                            if (file.size < 1024 * 1024 * 2) {
                              
                              
                                  this.isLoading=true
                                    const formData = new FormData();
                                    formData.append('fileToUpload', file);
                                    const config = {
                                        headers: {
                                            'Content-Type': 'multipart/form-data',
                                        },
                                    };
                                    await HTTP.post('/uploademppicture', formData, config)
                                    .then((res) => {
                                        if(res.data.status=true){
                                            this.picture =  res.data.obj
                                        } 
                                    })
                                    .finally(()=>{
                                        setTimeout(() => {
                                                this.isLoading=false
                                        }, 500);
                                    })
                            }else{
                                this.$bvToast.toast('ไฟล์รูปใหญ่เกินไป', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'danger',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,
                                })
                            }
                } else {
                        this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'danger',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                }
           
        },
        async  AddNewEmployee(){
          
            if(this.picture!==''){
                 if(this.$v.$invalid){
                            this.$v.$touch()
                }else{
                      this.isLoading=true
                       let datanewEmployee={
                            profilepic:this.picture,
                            userid:this.username,
                            password:this.password,
                            firstname:this.name,
                            lastname:this.lastname,
                            address:this.address,
                            subdistrict:this.subdistrict,
                            district:this.district,
                            province:this.province,
                            postcode:this.postcode,
                            phone:this.phone,
                            department:this.department,
                            userlevel:this.userlevel
                        }
                        await HTTP.post(`addemployee`,datanewEmployee).then(res => {
                                    console.log(res)
                                if(res.data.status===true){
                                        setTimeout(()=>{
                                            this.$bvToast.toast('เพิ่มข้อมูลพนักงานใหม่แล้ว', {
                                                title:'แจ้งเตือน',
                                                toaster:'b-toaster-top-center',
                                                variant: 'success',
                                                solid: true,
                                                autoHideDelay:2000,
                                                appendToast:false,  
                                            
                                            })
                                        },1500)
                                        setTimeout(()=>{
                                            
                                        },1000)
                                }else{
                                
                                        this.$bvToast.toast('เกิดข้อผิดพลาด', {
                                            toaster:'b-toaster-top-center',
                                            title:'แจ้งเตือน',
                                            variant: 'danger',
                                            solid: true,
                                            autoHideDelay:2000,
                                            appendToast:false,
                                            
                                        })
                                    
                                }
                            })
                            .catch(e => {
                                console.log(e);
                            })
                            .finally(()=>{
                                setTimeout(()=>{
                                    this.isLoading=false
                                    this.$router.push('employee')
                                },500)    
                            })
                }
            }else{
                 this.$bvToast.toast('ยังไม่ได้เพิ่มรูปภาพ', {
                       toaster:'b-toaster-top-center',
                       title:'แจ้งเตือน',
                       variant: 'warning',
                       solid: true,
                       autoHideDelay:2000,
                       appendToast:false,
                       
                })
            }
         
        }
    }
    ,validations:{
        username:{
            required,
         
        },
        password:{
            required,
         
        },
        name:{
             required,
        },
        lastname:{
             required,
        },
        phone:{
            required,
            numeric,
            minLength: minLength(10),
        },
        address:{
            required,
        },
        subdistrict:{
            required
        },
        district:{
            required
        },
        province:{
            required
        },
        postcode:{
            required
        }
          
    }
    
}
</script>
<style scoped>
    .upload{
        background-color: rgba(0,0,0,.4);
    }
    img{
        max-height:200px ;
    }
</style>