<template>
    <section>
          <p class="fnt-24 text-center  mb-0 py-2">จัดการข้อมูลพนักงาน</p>
        <div class=" bg-white bd-rd p-lg-5 p-3 height-100">
          
              <p class="text-right"><a href="addemployee"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มข้อมูลพนักงานใหม่</button> </a></p>
            <b-table hover  :fields="fields" :items="employee" responsive="sm"  >
                   <template v-slot:cell(profilepic)="data"  >
                     <img  :src="url+'employeeprofile/'+data.item.profilepic" alt="" >
                   </template>
                 
                  <template v-slot:cell(address)="data">
                      ที่อยู่{{data.item.address}} ต.{{data.item.subdistrict}} อ.{{data.item.district}} จ.{{data.item.province}} ไปรษณีย์{{data.item.postcode}}
                   </template>
                   <template v-slot:cell(updatedata)="data">
                        <span class="fnt-orange" @click="Updateemployee(data.item)"><i class="fas fa-edit"></i></span>
                   </template>
                   <template v-slot:cell(deletedata)="data">
                       <span class="fnt-red" @click="ConfirmDelete(data.item.eid)"><i class="fas fa-trash"></i></span>
                      
                   </template>
            </b-table>
            <b-modal id="modal-dl" hide-footer title="ยืนยันการลบข้อมูล">
                <center><b-button class="mt-2 w-50" variant="outline-success" block @click="Deleteemployee">ยืนยัน</b-button></center>
            </b-modal>
        </div>
       
     <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import {HTTP} from "@/axios.js";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            employee:[],
            fields: [
                    
                        { key: 'profilepic', label: 'รูปพนักงาน', class: ' align-middle text-center w100'},                    
                        { key: 'firstname', label: 'ชื่อ' ,class: 'text-center align-middle w80'},
                        { key: 'lastname', label: 'นามสกุล' ,class: 'text-center align-middle w100'},
                        { key: 'address', label: 'ที่อยู่' ,class: 'text-center align-middle w300'},
                       ,
                        { key: 'phone', label: 'เบอร์โทรศัพท์' ,class: 'text-center align-middle '},
                        { key: 'department', label: 'ตำแหน่ง' ,class: 'text-center align-middle w100'},                    
                        { key: 'updatedata', label: 'อัพเดทข้อมูล' ,class: 'text-center align-middle '},
                        { key: 'deletedata', label: 'ลบข้อมูล' ,class: 'text-center align-middle '},
            ],
            isLoading:false
        }
    },
    mounted(){
        this.GetDataEmployee()
    },
    methods:{
        async GetDataEmployee(){
            this.isLoading=true
              await HTTP.get(`getdataemployee`).then(res => {
           
               if(res.data.status===true){
                   this.employee=res.data.obj
                  
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        },
        async Updateemployee(employeeid){
          this.$store.commit('IdEmployee',employeeid)
          this.$router.push("updateemployee")
        },
      
        ConfirmDelete(employee_id) {
                this.$bvModal.msgBoxConfirm('ต้องการลบข้อมูลพนักงานหรือไม่?',{
                    okTitle:'ตกลง',
                    cancelTitle:'ยกเลิก'
                })
                .then(value => {
                    if( value===true){
                        this.Deleteemployee(employee_id)
                    }
                })
        },
        async Deleteemployee(employee_id){
          this.$bvModal.hide('modal-dl')
            this.isLoading=true
            let dt={
                id:employee_id
            }
         
              await HTTP.post(`deleteemployee`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                setTimeout(()=>{
                    this.$bvToast.toast('ลบข้อมูลพพนักงานแล้ว', {
                        toaster:'b-toaster-top-center',
                        title:'แจ้งเตือน',
                        variant: 'success',
                        solid: true,
                        autoHideDelay:2000,
                        appendToast:false,
                    })
                       
                 },800)
               
                       this.GetDataEmployee()
              
                
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 
             })
        }

    }
}
</script>>
<style scoped>
  img{
        max-height:50px!important;
}

</style>>