<template>
    <section>
         <p class="fnt-24 text-center mb-0 py-2">อัพเดทข้อมูลพนักงานใหม่</p>
        <div class="bg-white bd-r height-100 p-lg-5 p-3" @GetIdEmployee="GetIdEmployee">
           
            <div class="position-relative  d-flex jt at">
                 <label for="uplaodEmployee"  class="mb-0 d-flex jt at" >
                   <div> 
                       <div class="upload d-flex jt at">
                               <img :src="picPreview" class="" v-if="picPreview!==''" >
                                <img :src="url+'employeeprofile/'+picture" v-else  >
                        </div>
                        <div class="input-upload  d-flex at jt">                    
                               <p >เปลี่ยนรูปพนักงาน</p>  
                        </div> 
                      </div>
                </label>
            </div>
               <input  @change="updateEmployeePicture($event)" type="file" class="d-none" id="uplaodEmployee">
           <div class="container px-lg-5 mt-4">
               <p class="fnt-24">ข้อมูลพนักงาน</p>
                 <div class="row">
                   <div class=" col-lg-6">
                         <b-form-group  label="ชื่อเข้าสู่ระบบ:" :class="{'danger':$v.userid.$error}" >
                            <b-form-input   v-model="userid"   required    @input="$v.userid.$touch()"  ></b-form-input>
                            <b-form-invalid-feedback :state="!$v.userid.$error">
                                กรุณากรอกชื่อเข้าสู่ระบบ
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                    <div class=" col-lg-6">
                         <b-form-group  label="รหัสผ่าน:" :class="{'danger':$v.password.$error}">
                            <b-form-input  type="password" v-model="password"   required    @input="$v.password.$touch()"></b-form-input>
                            <b-form-invalid-feedback :state="!$v.password.$error">
                                กรุณากรอกรหัสผ่านให้ถููกต้อง
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
           
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="ชื่อ:" :class="{'danger':$v.firstname.$error}">
                            <b-form-input   v-model="firstname"   required       @input="$v.firstname.$touch()"></b-form-input>
                             <b-form-invalid-feedback :state="!$v.firstname.$error">
                                กรุณากรอกชื่อ
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                   <div class=" col-lg-6">
                        <b-form-group  label="นามสกุล:" :class="{'danger':$v.lastname.$error}">
                            <b-form-input   v-model="lastname"   required       @input="$v.lastname.$touch()"></b-form-input>
                             <b-form-invalid-feedback :state="!$v.lastname.$error">
                                กรุณากรอกนามสกุล
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="ที่อยู่:" :class="{'danger':$v.address.$error}">
                            <b-form-input   v-model="address"   required       @input="$v.address.$touch()"></b-form-input>
                             <b-form-invalid-feedback :state="!$v.address.$error">
                                กรุณากรอกที่อยู่
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                   <div class=" col-lg-6">
                        <b-form-group  label="ตำบล:" :class="{'danger':$v.subdistrict.$error}">
                            <b-form-input   v-model="subdistrict"   required       @input="$v.subdistrict.$touch()"></b-form-input>
                             <b-form-invalid-feedback :state="!$v.subdistrict.$error">
                                กรุณากรอกตำบล
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="อำเภอ:" :class="{'danger':$v.district.$error}">
                            <b-form-input   v-model="district"   required      @input="$v.district.$touch()" ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.district.$error">
                                กรุณากรอกอำเภอ
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                   <div class=" col-lg-6">
                        <b-form-group  label="จังหวัด:" :class="{'danger':$v.province.$error}" >
                            <b-form-input   v-model="province"   required       @input="$v.province.$touch()"></b-form-input>
                             <b-form-invalid-feedback :state="!$v.province.$error">
                                กรุณากรอกจังหวัด
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="รหัสไปรษณีย์:" :class="{'danger':$v.postcode.$error}">
                            <b-form-input   v-model="postcode"   required      @input="$v.postcode.$touch()" ></b-form-input>
                             <b-form-invalid-feedback :state="!$v.postcode.$error">
                                กรุณากรอกรหัสไปรษณีย์
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
                   <div class=" col-lg-6">
                        <b-form-group  label="เบอร์โทรศัพท์:" :class="{'danger':$v.phone.$error}">
                            <b-form-input   v-model="phone"   required       @input="$v.phone.$touch()"></b-form-input>
                             <b-form-invalid-feedback :state="!$v.phone.$error">
                                กรุณากรอกเบอร์โทรศัพท์
                            </b-form-invalid-feedback>
                        </b-form-group>
                   </div>
               </div>
                <div class="row">
                    <div class=" col-lg-6">
                        <b-form-group  label="ตำแหน่ง:" >
                             <b-form-select v-model="department" :options="departmentdata"></b-form-select>
                        </b-form-group>
                     
                           
                   </div>
                   <div class=" col-lg-6">
                      <b-form-group  label="ระดับการเข้าถึงข้อมูล:" >
                            <b-form-select v-model="userlevel" :options="userleveldata"></b-form-select>  
                        </b-form-group>
                   </div>
               </div>
           </div>
                <p class="text-center">
                    <button class="btn-blue" @click="updateDataEmployee">อัพเดทข้อมูลพนักงาน</button>
                </p>  
        </div>
         <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import { required, minLength, sameAs,helpers,email,numeric} from "vuelidate/lib/validators";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from '@/axios.js'
export default {
    components: {
        Loading
    },
    mounted(){
        this.GetIdEmployee()
    },
    computed:{
        IdEmployee(){
            return this.$store.state.idemployee
        }
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            picPreview:'',
            picture:'',
            oldpicture:'',
            userid:'',
            password:'',
            firstname:'',
            lastname:'',
            address:'',
            subdistrict:'',
            district:'',
            province:'',
            postcode:'',
            phone:'',
            department: 'ผู้จัดการ',
            departmentdata: [
                { value: 'ผู้จัดการ', text: 'ผู้จัดการ' },
                { value: 'ฝ่ายผลิต', text: 'ฝ่ายผลิต' },
                { value: 'ฝ่ายขนส่ง', text: 'ฝ่ายขนส่ง' },    
            ],
            userlevel: '',
            userleveldata: [
                { value: '1', text: '1' },
                { value: '2', text: '2' },
                { value: '3', text: '3' },    
            ],
            isLoading:false
        }
    },
    methods:{
        async GetIdEmployee(id){
                this.picture=this.IdEmployee.profilepic
                this.oldpicture=this.IdEmployee.profilepic
                this.userid=this.IdEmployee.userid
                this.password=this.IdEmployee.password
                this.firstname=this.IdEmployee.firstname
                this.lastname=this.IdEmployee.lastname
                this.address=this.IdEmployee.address
                this.subdistrict=this.IdEmployee.subdistrict
                this.district=this.IdEmployee.district
                this.province=this.IdEmployee.province
                this.postcode=this.IdEmployee.postcode
                this.phone=this.IdEmployee.phone
                this.department=this.IdEmployee.department
                this.userlevel=this.IdEmployee.userlevel
        },
        async updateEmployeePicture(e){
                const file = e.target.files[0];
                this.picPreview = URL.createObjectURL(file);
                await this.uploadImage(file)
        },
        async uploadImage(file){
                    if ( file.type === 'image/jpeg' || file.type === 'image/png' ||file.type === 'image/gif') {
                                if (file.size < 1024 * 1024 * 2) {
                                    this.isLoading=true
                                        const formData = new FormData();
                                        formData.append('fileToUpload', file);
                                        const config = {
                                            headers: {
                                                'Content-Type': 'multipart/form-data',
                                            },
                                        };
                                        await HTTP.post('/uploademppicture', formData, config)
                                        .then((res) => {
                                            if(res.data.status=true){
                                                this.picture =  res.data.obj
                                                    this.deleteEmployeePicture()
                                            } 
                                        })
                                        .finally(()=>{
                                            setTimeout(() => {
                                                    this.isLoading=false
                                            }, 500);
                                        })
                                }else{
                                    this.$bvToast.toast('ไฟล์รูปใหญ่เกินไป', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'danger',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                }
                    } else {
                            this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'danger',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:false,
                            })
                    }
            
        },
        async deleteEmployeePicture(){
                let dt={
                    profilepic:this.oldpicture
                }
            
                await HTTP.post('/deleteemployeepicture',dt)
                    .then((res) => {
                        
                        if(res.data.status=true){
                        console.log("ลบรูปภาพสำเร็จ")
                        this.updateProducDatatPicture()
                        }else{
                            console.log("ลบรูปภาพไม่ได้")
                        } 
                    })
                    .catch(e => {
                    console.log(e);
                    
                    });
        },
        async updateProducDatatPicture(){
            this.isLoading=true
                let dt={
                    id:this.IdEmployee.eid,
                    profilepic:this.picture
                }
                console.log(this.IdEmployee.pd_id)
                await HTTP.post(`updateemployeepicture`,dt).then(res => {
                console.log(res)
                if(res.data.status===true){
                        setTimeout(() => {
                        this.$bvToast.toast('อัพเดทรูปใหม่แล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                        })

                    }, 1000);      
                }else{
                        console.log("อัดเดทข้อมูลรูปไม่ได้")
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>
                    setTimeout(() => {
                        this.isLoading=false
                    }, 500));
                
        },
        async updateDataEmployee(){
          if(this.$v.$invalid){
              this.$v.$touch()
          }else{
                this.isLoading=true
                    let dt={
                            id:this.IdEmployee.eid,
                            userid: this.userid,
                            password: this.password,
                            firstname:this.firstname,
                            lastname :this.lastname,
                            address :this.address,
                            subdistrict :this.subdistrict,
                            district :this.district,
                            province:this.province,
                            postcode :this.postcode,
                            phone :this.phone,
                            department :this.department,
                            userlevel:this.userlevel
                    }
                
                    await HTTP.post(`updatedataemployeedata`,dt).then(res => {
                    console.log(res)
                    if(res.data.status===true){
                            setTimeout(() => {
                                this.isLoading=false
                                this.$bvToast.toast('อัพเดทข้อมูลพนักงานแล้ว', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'success',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:false,
                            })
                        },1500)
                            
                    }else{
                            console.log("อัพเดทข้อมูลไม่ได้")
                    }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                        setTimeout(() => {
                            this.isLoading=false
                            this.$router.push('employee')
                        }, 500);
                    })
          }
           
            
        }
    }, 
    validations:{
        userid:{
            required,
         
        },
        password:{
            required,
         
        },
        firstname:{
             required,
        },
        lastname:{
             required,
        },
        phone:{
            required,
            numeric,
            minLength: minLength(10),
         
        },
        address:{
            required,
        },
        subdistrict:{
            required
        },
        district:{
            required
        },
        province:{
            required
        },
        postcode:{
            required,
             numeric,
        }
          
    }
    
    
    
}
</script>
<style scoped>
    .upload{
        background-color: rgba(0,0,0,.4);
    }
    img{
        max-height:200px ;
    }
</style>