<template>
    <section>
        <TemplateManager>
             <ManageProducttion/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManageProducttion from '@/components/manager/manageproducttion/ManageProducttion.vue'
export default {
    components:{
        TemplateManager
        ,ManageProducttion
    }
}
</script>