<template>
    <section>
        <TemplateManager>
             <UpdateProducttion/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import UpdateProducttion from '@/components/manager/manageproducttion/UpdateProducttion.vue'
export default {
    components:{
        TemplateManager
        ,UpdateProducttion
    }
}
</script>