<template>
    <section>
          <p class="fnt-24 text-center  mb-0 py-2">จัดการข้อมูลวัตถุดิบ</p>
        <div class="  bg-white bd-rd  p-lg-5 p-3 height-100">
          
              <p class="text-right"><a href="addstaple"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มวัตถุดิบใหม่</button> </a></p>
            <b-table hover  :fields="fields" :items="Staple" responsive="sm"  >
                   <template v-slot:cell(picture)="data"  >
                     <img  :src="url+'staple/'+data.item.spicture" alt="" >
                   </template>
                    <template v-slot:cell(name)="data"  >
                        {{data.item.sname}}{{data.item.sdetail}}
                   </template>
               
                   <template v-slot:cell(addamount)="data">
                        <span class="fnt-green" @click="ShowModalAddStock(data.item)"><i class="fas fa-box-open"></i></span>
                   </template>
                   <template v-slot:cell(updatedata)="data">
                        <span class="fnt-orange" @click="UpdateStaple(data.item)"><i class="fas fa-edit"></i></span>
                   </template>
                   <template v-slot:cell(deletedata)="data">
                       <span class="fnt-red" @click="showMsgBoxOne(data.item.sid)"><i class="fas fa-trash"></i></span>
                      
                   </template>
            </b-table>
            <b-modal id="modal-dl" hide-footer title="ยืนยันการลบข้อมูล">
                <center><b-button class="mt-2 w-50" variant="outline-success" block @click="DeleteStaple">ยืนยัน</b-button></center>
            </b-modal>
         
        </div>
         <b-modal id="CheckStock" hide-footer :title="'เพิ่มจำนวนวัตถุดิบใหม่'"  header-class="bg-header-alert" >
               <p>  มีรายการวัตถุดิบบางรายการในคลังเหลือน้อย</p>
         </b-modal>
        
        <b-modal id="AddToStock" hide-footer :title="'เพิ่มจำนวนวัตถุดิบใหม่'" centered  >
                  <p class="text-center">  <img  :src="url+'staple/'+datastaple.spicture" alt="" ><br>
                  
                     {{datastaple.sname}}{{datastaple.sdetail}} 
                  </p>
            <p class="d-flex jt ">   <b-form-input  class="w-50" v-model="amount" type="number" min="0" ></b-form-input></p>
            <p class="text-center mt-4" @click="Close">  <button class="btn-red">ยกเลิก</button><button class="btn-green" @click="ConfirmAddToStock">ยืนยันเพิ่มจำนวนใหม่</button></p>
        </b-modal>
        
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
 components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            Staple:[],
            fields: [
                    
                        { key: 'picture', label: 'รูปวัตถุดิบ', class: 'text-center '},
                        { key: 'name', label: 'รายการ' ,class: 'text-center align-middle w200'},
                        { key: 'samount', label: 'จำนวนคงเหลือ' ,class: 'text-center align-middle w100'},
                        { key: 'addamount', label: 'เพิ่มจำนวนวัตถุดิบใหม่' ,class: 'text-center align-middle w100'},
                        { key: 'updatedata', label: 'อัพเดทข้อมูล' ,class: 'text-center align-middle w100'},
                        { key: 'deletedata', label: 'ลบข้อมูล' ,class: 'text-center align-middle w100'},
            ],
            isLoading:false,
            datastaple:[],
            amount:0,
          
        }
    },
    mounted(){
        this.GetDataStaple()
    },
    methods:{
        async GetDataStaple(){
            this.isLoading=true
              await HTTP.get(`selectstaple`).then(res => {
           
               if(res.data.status===true){
                   this.Staple=res.data.obj
                   console.log("Staple",this.Staple)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                   this.CheckStock()
                 },500)
             })
        },
        async CheckStock(){
             this.Staple.forEach((value,index)=>{
                 if(value.samount<10){
                     this.$bvModal.show('CheckStock')
                 }
             })
        },
        async UpdateStaple(stapleid){
          this.$store.commit('id',stapleid)
          this.$router.push("updatestaple")
        },
        async DeleteStaple(Stapleid){
           this.isLoading=true
          
            let dt={
                ids:Stapleid
            }
            console.log(dt)
              await HTTP.post(`deletestaple`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   setTimeout(() => {
                    this.$bvToast.toast('ลบข้อมูลวัตถุดิบแล้ว', {
                        toaster:'b-toaster-top-center',
                        title:'แจ้งเตือน',
                        variant: 'success',
                        solid: true,
                        autoHideDelay:2000,
                        appendToast:false,
                    })
                    }, 1000);
               
                 this.GetDataStaple()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
          
        },
        showMsgBoxOne(id) {
         
            this.$bvModal.msgBoxConfirm('ต้องการลบรายการสั่งซื้อหรือไม่?',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.DeleteStaple(id)
                }
            })
            .catch(err => {
                // An error occurred
            })
        },
        async ShowModalAddStock(data){
            
            this.datastaple=data
            console.log("data",this.datastaple)
          
            this.$bvModal.show('AddToStock')
        },
        async ConfirmAddToStock(){
            this.isLoading=true
            this.$bvModal.hide('AddToStock')
            console.log(this.datastaple)
            let total=parseFloat(this.amount)+parseFloat(this.datastaple.samount)
            let dt={
                total:total,
                sid:this.datastaple.sid,
                sname:this.datastaple.sname,
                sdetail:this.datastaple.sdetail,
                spicture:this.datastaple.spicture,
                addamount:this.amount
            }
            console.log(dt)
              await HTTP.post(`addamountstaple`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   setTimeout(() => {
                        this.$bvToast.toast('เพิ่มจำนวนวัตถุดิบเข้าคลังแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                    }, 1000);
                    this.amount=0
                 this.GetDataStaple()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
            
        }
        ,Close(){
            this.$bvModal.hide('AddToStock')
        }
    }
}
</script>>
<style scoped>
  img{
        max-height:50px!important;
}

</style>>