<template>
    <section>
         <p class="fnt-24 text-center  mb-0 py-2">อัพเดทข้อมูลวัตถุดิบ</p>
        <div class=" bg-white bd-rd  p-lg-5 p-3 height-100" @GetIdStaple="GetIdStaple">
          
           
            <div class="position-relative  d-flex jt at">
                 <label for="uplaodStaple"  class="mb-0 d-flex jt at" >
                   <div> 
                       <div class="upload d-flex jt at">
                               <img :src="picPreview" class="" v-if="picPreview!==''" >
                                <img :src="url+'staple/'+picture" v-else  >
                        </div>
                        <div class="input-upload  d-flex at jt">                    
                               <p >เพิ่มรูปวัตถุดิบ</p>  
                        </div> 
                      </div>
                </label>
            </div>
               <input  @change="UpdateStaplePicture($event)" type="file" class="d-none" id="uplaodStaple">
           <div class="container px-5">
               <p class="fnt-24">ข้อมูลวัตถุดิบ</p>
                  <b-form-group  label="ชื่อวัตถุดิบ:" :class="{'danger':$v.name.$error}">
                    <b-form-input   v-model="name"   required      @input="$v.name.$touch()"  ></b-form-input>
                     <b-form-invalid-feedback :state="!$v.name.$error">
                                        กรุณากรอกข้อมูลวัตถุดิบ
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group  label="รายละเอียดวัตถุดิบ:" >
                    <b-form-input   v-model="detail"    required   placeholder="*ถ้ามี"   ></b-form-input>

                </b-form-group>
                <b-form-group  label="จำนวนคงเหลือ:" :class="{'danger':$v.amount.$error}">
                    <b-form-input  type="number" v-model="amount"    required    @input="$v.amount.$touch()" min="1" ></b-form-input>
                     <b-form-invalid-feedback :state="!$v.amount.$error">
                                        กรุณากรอกข้อมูลจำนวนวัตถุดิบ
                    </b-form-invalid-feedback>
                </b-form-group>
               <p class="text-center mt-5">
                    <button class="btn-blue" @click="UpdateDataStaple">อัพเดทข้อมูลวัตถุดิบ</button>
               </p>
           </div>
                      
                  
        </div>
         <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import { required, minLength,maxLength,sameAs,helpers,email,numeric} from "vuelidate/lib/validators";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from '@/axios.js'
export default {
    components: {
            Loading
    },
    mounted(){
        this.GetIdStaple()
    },
    computed:{
        IdStaple(){
            return this.$store.state.id
        }
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            picture:'',
            oldpicture:'',
         
            name:'',
            detail:'',
       
            amount:'',
            picPreview:'',
            oldpicture:'',
            isLoading:false
        }
    },
    methods:{
        async GetIdStaple(id){
            this.picture=this.IdStaple.spicture
            this.oldpicture=this.IdStaple.spicture
            this.name=this.IdStaple.sname
            this.detail=this.IdStaple.sdetail
            this.amount=this.IdStaple.samount
        },
        async UpdateStaplePicture(e){
                const file = e.target.files[0];
                this.picPreview = URL.createObjectURL(file);
                await this.UploadImage(file)
        },
        async UploadImage(file){
            if ( file.type === 'image/jpeg' || file.type === 'image/png' ||file.type === 'image/gif') {
                            if (file.size < 1024 * 1024 * 2) {
                              
                              
                                  this.isLoading=true
                                    const formData = new FormData();
                                    formData.append('fileToUpload', file);
                                    const config = {
                                        headers: {
                                            'Content-Type': 'multipart/form-data',
                                        },
                                    };
                                    await HTTP.post('/uploadstaplepic', formData, config)
                                    .then((res) => {
                                        if(res.data.status=true){
                                            this.picture =  res.data.obj
                                            this.UpdateDataStaplePicture()
                                        } 
                                    })
                                    .finally(()=>{
                                        setTimeout(() => {
                                                this.isLoading=false
                                        }, 500);
                                    })
                            }else{
                                this.$bvToast.toast('ไฟล์รูปใหญ่เกินไป', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'danger',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,
                                })
                            }
                } else {
                        this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'danger',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                }
        },
        async UpdateDataStaplePicture(){
            let dt={
                oldpicture:this.oldpicture,
                picture:this.picture,
                id:this.IdStaple.sid
            }
        
              await HTTP.post('/updatestaplepicture',dt)
                .then((res) => {
                    console.log("res",res)
                    if(res.data.status=true){
                       setTimeout(() => {
                              this.$bvToast.toast('อัพเดทรูปใหม่แล้ว', {
                                     toaster:'b-toaster-top-center',
                                     title:'แจ้งเตือน',
                                     variant: 'success',
                                     solid: true,
                                     autoHideDelay:2000,
                                     appendToast:false,
                              })

                          }, 1000);    
                  
                    }else{
                         console.log("ลบรูปภาพไม่ได้")
                    } 
                })
                .catch(e => {
                   console.log(e);
                   
                })
                .finally(()=>{
                    setTimeout(() => {
                        this.isLoading=false
                    }, 500);
                })
        },
        async UpdateDataStaple(){
            if(this.$v.$invalid){
                this.$v.$touch()
            }else{
                    this.isLoading=true
                    let dt={
                        id:this.IdStaple.sid,
                        name:this.name,
                        detail:this.detail,
                        amount:parseFloat(this.amount),
                    }
                    console.log(this.IdStaple.id)
                    await HTTP.post(`updatestaple`,dt).then(res => {
                    console.log(res)
                    if(res.data.status===true){
                            setTimeout(() => {
                            this.isLoading=false
                            this.$bvToast.toast('อัพเดทข้อมูลวัตถุดิบแล้ว', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'success',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,
                                })
                        },1500)  
                    }else{
                            console.log("อัพเดทข้อมูลไม่ได้")
                    }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>
                        setTimeout(() => {
                            this.isLoading=false
                            this.$router.push('staple')
                        }, 500)
                    );
            }
            
        }
    }, 
    validations:{
        name:{
            required
        },
        amount:{
            required,
            numeric
        },
    }
    
    
    
}
</script>
<style scoped>
    .upload{
        background-color: rgba(0,0,0,.4);
    }
    img{
        max-height:200px ;
    }
</style>