<template>
    <section>
        <TemplateManager>
             <AddStaple/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import AddStaple from '@/components/manager/managestaple/AddStaple.vue'
export default {
    components:{
        TemplateManager
        ,AddStaple
    }
}
</script>