<template>
    <section>
        <TemplateManager>
             <ManagerStaple/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManagerStaple from '@/components/manager/managestaple/ManagerStaple.vue'
export default {
    components:{
        TemplateManager
        ,ManagerStaple
    }
}
</script>