<template>
    <section>
        <TemplateManager>
             <UpdateStaple/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import UpdateStaple from '@/components/manager/managestaple/UpdateStaple.vue'
export default {
    components:{
        TemplateManager
        ,UpdateStaple
    }
}
</script>