<template>
    <section class="">
         <p class="text-center fnt-24 mb-0 py-2">เพิ่มรายการสั่งซื้อสินค้าใหม่</p>
        <div class=" bg-white bd-rd  p-lg-5 p-3 height-100">
             
                <b-table 
                    :fields="fields" 
                     :items="product" responsive="sm"  
                    ref="selectableTable"
                    @row-selected="onRowSelected"
                    selectable
                    select-mode="multi"
                    hover  
                >
                     <template v-slot:cell(selected)="{ rowSelected }">
                          <template v-if="rowSelected">
                            <span aria-hidden="true" class="fnt-green ">เลือกแล้ว</span>
                        </template>
                        <template v-else>
                            <span aria-hidden="true" class="fnt-orange">ยังไม่ได้เลือก</span>
                        </template>
                    </template>
                    <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'product/'+data.item.ppicture" alt="" >
                    </template>
                    <template v-slot:cell(name)="data" >
                        {{data.item.pname}}{{data.item.pdetail}}
                    </template>
                 
                    <template v-slot:cell(want)="data">
                        <b-form-input   type="number" v-model="amount[data.item.pid]"   required    placeholder="ป้อนจำนวนที่ต้องการ"  ></b-form-input>
                    </template>
                  
            </b-table>
           <p class="fnt-20 text-right"> คิดเป็นเงิน {{sum}}</p>
           <p class="fnt-20">ข้อมูลลูกค้า</p>
                <b-form-group  label="ชื่อลูกค้า" >
                    <b-form-input   v-model="name"   required      ></b-form-input>
                </b-form-group>
                <b-form-group  label="เบอร์โทร์ลูกค้า:" >
                    <b-form-input   v-model="phone"   required      ></b-form-input>
                </b-form-group>
                <b-form-group  label="ที่อยู่:" >
                    <b-form-input   v-model="address"    required      ></b-form-input>
                </b-form-group>
                <b-form-group  label="ตำบล:" >
                  <b-form-select v-model="selectedsubdistrict" :options="subdistrict" :disabled="checkAddress==='1'" ></b-form-select>
                </b-form-group>
                <b-form-group  label="เขต:" >
                        <b-form-select v-model="selectedarea" :options="area" :disabled="checkAddress==='1'" ></b-form-select>
                </b-form-group>
            <p class="text-center"> <button class="btn-blue" @click="ComfirmCreate">ยืนยันรายการสั่งซื้อ</button></p>
        </div>

        <b-modal id="confirmcreate" hide-footer :title="'ยืนยันคำสั่งซื้อ'" centered size="lg">
            <b-table :fields="fieldsorder" :items="selected" responsive="sm" >
                <template v-slot:cell(picture)="data"  >
                    <img  :src="url+'product/'+data.item.ppicture" alt="" >
                </template>
                <template v-slot:cell(name)="data" >
                    {{data.item.pname}}{{data.item.pdetail}}
                </template>
                 <template v-slot:cell(pamount)="data" >
                    {{amount[data.item.pid]}}
                </template>
            </b-table>
               <p class="text-center"> <button class="btn-blue" @click="CreateOrderList">บันทึกข้อมูลรายการสั่งซื้อ</button></p>
        </b-modal>
          
            <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    mounted(){
        this.GetProduct()
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            product:[],
            fields: [
                { key: 'selected', label: 'รายการที่เลือก', class: 'text-center align-middle'},
                { key: 'picture', label: 'รูปสินค้า', class: 'text-center dnone'},
                { key: 'name', label: 'รายการ' ,class: 'text-left align-middle w200'},
                { key: 'pprice', label: 'ราคา' ,class: 'text-left align-middle w-80 dnone'},
                { key: 'pamount', label: 'จำนวนคงเหลือ' ,class: 'text-center align-middle '},
                { key: 'want', label: 'จำนวนที่ลูกค้าต้องการ' ,class: 'text-center align-middle w200'},   
            ],
            fieldsorder: [
             
                { key: 'picture', label: 'รูปสินค้า', class: 'text-center '},
                { key: 'name', label: 'รายการ' ,class: 'text-center align-middle '},
                { key: 'pprice', label: 'ราคา' ,class: 'text-center align-middle w-80'},
                { key: 'pamount', label: 'จำนวนที่สั่ง' ,class: 'text-center align-middle '},
              
            ],
            amount:{
            },
            order:[],
            address:'',
            selectedsubdistrict:'ห้วยแก้ว',
            subdistrict: [
                { value: 'ห้วยแก้ว',text:'ห้วยแก้ว' },
                { value: 'ช้างเผือก', text:'ช้างเผือก' },
                { value: 'เจ็ดยอด', text:'เจ็ดยอด' },
            ],
            selectedarea:'ห้วยแก้ว',
            area: [
                { value: 'ห้วยแก้ว',text:'ห้วยแก้ว' },
                { value: 'ช้างเผือก', text:'ช้างเผือก' },
                { value: 'เจ็ดยอด', text:'เจ็ดยอด' },
            ],
            checkAddress:'0',
            name:'',
            phone:'',
            sumary:'',
            idorder:'',
            checkHowPay:'',
            selected:[],
            length:''
        }
    },
    computed:{
         sum(){
            this.sumary=0
            
            let length =this.selected.length
          
            if(length>=1){
                 this.selected.forEach((value, index) => {
                  
                       
                
                     if(this.amount[value.pid]!==''){
                        let price=parseFloat(value.pprice)
                        let amount=parseFloat(this.amount[value.pid])
                        let total=parseFloat(price)*parseFloat(amount)
                        this.sumary=this.sumary+total
                        let checknan=isNaN(this.sumary)
                        if(checknan===true){
                            this.sumary=0
                        }
                     }
                  
                  
                });
              
            }
              return this.sumary
         }
    },
    methods:{
        onRowSelected(items) {
            this.selected = items
            this.length=this.selected.length
        },
        async GetProduct(){
             this.isLoading=true
            await HTTP.get(`getproduct`).then(res => {
              console.log(res)
               if(res.data.status===true){
                   this.product=res.data.obj
                
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        ComfirmCreate(){
             if(this.selected.length===0){
                this.$bvToast.toast('กรุณาเลือกรายการสินค้าที่ต้องการ', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'warning',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
               
            }else{
                let check=true
                console.log(this.selected)
                  this.selected.forEach((value, index) => {
                       if(typeof(this.amount[value.pid]) === 'undefined'){
                           check=false
                       }
                 })

                if(check===true){
                    this.$bvModal.show('confirmcreate')
                } else{
                        this.$bvToast.toast('ยังไม่ได้เพิ่มจำนวนรายการที่เลือก', {
                        toaster:'b-toaster-top-center',
                        title:'แจ้งเตือน',
                        variant: 'warning',
                        solid: true,
                        autoHideDelay:2000,
                        appendToast:false,
                    })
                  } 
            }
         
        },
        async CreateOrderList(){
            this.isLoading=true
            this.$bvModal.hide('confirmcreate')
            let dataorder={
                 cid:9999,
                 type:'สั่งโดยตรง',
                 email:this.name,
                 od_phone:this.phone,
                 od_address:this.address,
                 od_subdistrict:this.selectedsubdistrict,
                 od_area:this.selectedarea,
                 od_date: new Date(),
                 total:this.sum,
                 howpay:'เก็บเงินตอนส่ง',
                 status:'กำลังเตรียมจัดส่ง'
            }
              await   HTTP.post(`addorder`,dataorder).then(res => {
                        console.log(res)
                        if(res.data.status===true){
                            
                                this.CreateOrderDetail(res.data.obj)
                        }else{
                                console.log("เพิ่มorderไม่ได้")
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                     
                    })
        },
        CreateOrderDetail(id){  
            let round=0
            let totalround=this.selected.length
            this.selected.forEach((value, index) => {
                    let orderdetail={
                        od_id: id,
                        ppicture:value.ppicture,
                        pid:value.pid,
                        pname:value.pname,
                        pdetail:value.pdetail,
                        pprice:parseFloat(value.pprice) ,
                        pamount:parseFloat(this.amount[value.pid]) 
                    }
             
                     HTTP.post(`addorderdetail`,orderdetail).then(res => {
                       
                        if(res.data.status===true){
                             round++
                             if(round===totalround){
                                setTimeout(() => {
                                     this.$bvToast.toast('เพิ่มรายการสั่งซื้อแล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                },1500);
                            }
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                        setTimeout(()=>{
                             if(round===totalround){
                                 this.$router.push('order')
                             }
                            this.isLoading=false
                        },500)
                    })
            });
           
        
        }
    }
}
</script>
<style scoped>
    img{
        max-height: 50px;
    }
</style>