<template>
    <section>
          <p class="fnt-24 text-center mb-0 py-2">จัดการรายการสั่งซื้อสินค้า</p>
        <div class="bg-white bd-rd  p-lg-5 p-3 height-100">

            <div class="row px-3 my-4">
                <div class="col-lg-4 d-flex at p-0">
                  <b-form-select v-model="selected" :options="options"></b-form-select>  
                </div>
                <div class="col-lg-3  text-center  text-lg-left p-0 mt-3 mt-lg-0 ml-lg-2">
                    <a href="addneworder"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มรายการสั่งซื้อใหม่</button> </a>
                </div>  
            </div>
            <b-table  :fields="fields" :items="Order" responsive="sm"   :per-page="perPage" :current-page="currentPage"  :filter="selected" hover>
                <template v-slot:cell(seedetail)="data"  >
                   <p class="fnt-blue mb-0" @click="OrderDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                  <template v-slot:cell(date)="data"  >
                    {{data.item.date|dateFomatNotTimeEn}}
                </template>
                  <template v-slot:cell(status)="data" >
                
                    <p class="fnt-orange mb-0" v-if="data.item.status==='กำลังเตรียมจัดส่ง'"> {{data.item.status}}</p>
                    <p class="fnt-blue mb-0" v-else-if="data.item.status==='รอตรวจสอบ'"> {{data.item.status}}</p>
                    <p class="fnt-green mb-0" v-else-if="data.item.status==='จัดส่งสินค้าแล้ว'"> {{data.item.status}}</p>
                      <p class="fnt-orange mb-0" v-else-if="data.item.status==='กำลังดำเนินการจัดส่ง'"> {{data.item.status}}</p>
                    <p class="fnt-red mb-0" v-else-if="data.item.status==='รอหลักฐานการชำระเงิน'"> {{data.item.status}}</p>
                    <p class="fnt-red mb-0" v-else-if="data.item.status==='ไม่สามารถจัดส่งได้'"> {{data.item.status}}</p>
                    <p class="fnt-red mb-0" v-else-if="data.item.status==='หลักฐานไม่ถูกต้อง'"> {{data.item.status}}</p>
                </template>  
                <template v-slot:cell(payment)="data" >
                    <p class="fnt-orange fnt-20 mb-0" @click="CheckPayment(data.item)"   v-show="data.item.status==='รอตรวจสอบ'"><i class="fas fa-search"></i></p>
                </template>   
                <template v-slot:cell(deletedata)="data">
                       <span class="fnt-red" @click="ConfirmDelete(data.item.oid)" v-if="data.item.type==='สั่งโดยตรง'&&data.item.status!=='จัดส่งสินค้าแล้ว'&&data.item.status!=='กำลังดำเนินการจัดส่ง'"><i class="fas fa-trash"></i></span>
                   </template>
            </b-table>
           <p class="d-flex justify-content-end"><b-pagination  v-model="currentPage"   :total-rows="rows"  :per-page="perPage"    aria-controls="my-table"   ></b-pagination></p> 
        </div>
         <b-modal id="seeorderdetail" hide-footer :title="'รายละอียดรายการสั่งซื้อ #'+idorder" centered size="xl">
             <p class="text-center fnt-24">รายการที่สั่ง</p>

            <b-table   :fields="fieldorderdetail" :items="orderdetaildata" responsive="sm" >
                <template v-slot:cell(ppicture)="data"  >
                    <img  :src="url+'product/'+data.item.ppicture"  alt="">
                  
                </template>   
                  <template v-slot:cell(nameproduct)="data"  >
                  {{data.item.pname+data.item.pdetail}}
                  
                </template>  
            </b-table>
           
            <p class="text-justify d-flex">
                <span >
                    <span class="fnt-20">สถานที่จัดส่ง: </span>{{orderaddress.address+" ตำบล "+orderaddress.subdistrict+" เขต "+orderaddress.area}} </span> 
                    <span > <span class="fnt-20">รวม: </span>{{ Number(total).toLocaleString()}} บาท
                </span> 
            </p>
        </b-modal>
         <b-modal id="checkpayment" hide-footer :title="'ตรวจสอบการชำระเงินรายการ #'+idorder" centered size="lg">
           <center>  <img  class="imgpayment"  :src="url+'payment/'+payment"> </center>
            <p class="text-center my-4">
                 <button class="btn-red mr-4" @click="UpdateStatus('หลักฐานไม่ถูกต้อง',payment)">หลักฐานไม่ถูกต้อง</button>
                <button class="btn-green" @click="UpdateStatus('กำลังเตรียมจัดส่ง','')">หลักฐานถูกต้อง</button>
            </p>  
        </b-modal>
           <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
     components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            Order:[],
            filter:null,
            fields: [
                        { key: 'date', label: 'วันที่ทำการสั่งซื้อ' ,class: 'text-center align-middle w150'},
                        //   { key: 'type', label: 'วันที่ทำการสั่งซื้อ' ,class: 'text-center align-middle w150'},
                        { key: 'user', label: 'ผู้สั่ง' ,class: 'text-center align-middle w150'},
                        { key: 'phone', label: 'เบอร์โทรศัพท์' ,class: 'text-center align-middle w150'},
                        { key: 'howpay', label: 'วิธีชำระเงิน' ,class: 'text-center align-middle w150'},
                        { key: 'status', label: 'สถานะ' ,class: 'text-center align-middle w150'},
                        { key: 'seedetail', label: 'ดูรายละเอียดรายการ' ,class: 'text-center align-middle w150'},
                        { key: 'payment', label: 'ตรวจสอบการชำระเงิน' ,class: 'text-center align-middle w150 '},
                        { key: 'deletedata', label: 'ลบรายการ' ,class: 'text-center align-middle w150 '},      
            ],
            fieldorderdetail: [
                        { key: 'ppicture', label: 'รูป', class: 'text-center imgtable  '},
                        { key: 'pname', label: 'รายการ', class: 'text-center '},
                        { key: 'pdetail', label: 'รายละเอียด', class: 'text-center '},
                        { key: 'amount', label: 'จำนวน', class: 'text-center '},
                             
            ],
            perPage: 10,
            currentPage: 1,
            selected: '',
            options: [
                { value: '', text: 'รายการทั้งหมด' },
                { value: 'สั่งจากเว็บไซต์', text: 'รายการที่สั่งซื้อผ่านเว็บไซต์' },
                { value: 'สั่งโดยตรง', text: 'รายการที่สั่งซื้อโดยตรง' },
                { value: 'รอตรวจสอบ', text: 'รายการรอตรวจสอบ' },
                { value: 'รอหลักฐานการชำระเงิน', text: 'รายการที่รอหลักฐานการชำระเงิน' },
                { value: 'กำลังเตรียมจัดส่ง', text: 'รายการที่กำลังเตรียมจัดส่ง' },
                { value: 'กำลังดำเนินการจัดส่ง', text: 'รายการที่กำลังดำเนินการจัดส่ง' },
                { value: 'จัดส่งสินค้าแล้ว', text: 'รายการที่จัดส่งสินค้าแล้ว' },
                { value: 'ไม่สามารถจัดส่งได้', text: 'รายการที่ไม่สามารถจัดส่งได้' },
                { value: 'หลักฐานไม่ถูกต้อง', text: 'รายการที่หลักฐานไม่ถูกต้อง' },
               
                
                 

                 
              
            ],
            idorder:'',
            orderaddress:{},
            orderdetaildata:[],
            payment:'',
            total:''

        }
    },
    mounted(){
        this.GetDataOrder()
    },
    computed: {
      rows() {
        return this.Order.length
      }
    },
    methods:{
        async GetDataOrder(){
              this.isLoading=true
              await HTTP.post(`selectallorder`).then(res => {
           
               if(res.data.status===true){
                   this.Order=res.data.obj
                   this.selected=''
                   console.log("Order",this.Order)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        async OrderDetail(order){
            this.isLoading=true
            console.log("order address",order)
            this.idorder=order.oid
            this.orderaddress=order
            this.total=order.total
            this.$bvModal.show('seeorderdetail')
            let dt={
                od_id: this.idorder
            }
           
            HTTP.post(`getorderdetail`,dt).then(res => {
              console.log("order detail",res)
                if(res.data.status===true){
                 
                  this.orderdetaildata=res.data.obj
                  console.log("odrderdetaildata",this.orderdetaildata)
                  
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },100)
                })
        },
        CheckPayment(order){
            this.idorder=order.oid
            this.payment=order.payment
            this.$bvModal.show('checkpayment')
            
        },
        ShowModal(Order_id){
            console.log(Order_id)
            this.$bvModal.show('seeorderdetail')
            this.$store.commit('getIdOrder',Order_id)
        },
        async UpdateStatus(status,payment){
             this.$bvModal.hide('checkpayment')
            this.isLoading=true
                console.log("status",payment)
              let dt={
                id:this.idorder,
                status:status,
            }
         
             await HTTP.post(`updatestatus`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   setTimeout(() => {
                          this.$bvToast.toast('อัพเดทสถานะการชำระเงินแล้ว', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'success',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:false,
                            })
                   },1500);
                   
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                       this.GetDataOrder()
                      if(payment!==''){
                           this.DeletePayment(payment)
                      }
                 },500)
             })
             
        },
        async DeletePayment(payment){
             let dt={
                 payment:payment
             }
             await HTTP.post(`deletepaymentpicture`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   console.log("delete success")
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
               setTimeout(() => {
                   this.isLoading=false
               }, 500);
             })
        },
        ConfirmDelete(id) {
                this.$bvModal.msgBoxConfirm('ต้องการลบรายการนี้หรือไม่?',{
                    okTitle:'ตกลง',
                    cancelTitle:'ยกเลิก'
                })
                .then(value => {
                    if( value===true){
                        this.DeleteOrder(id)
                    }
                })
        },
        async DeleteOrder(id){
            this.isLoading=true
            let dt={
                id:id
            }
            await HTTP.post(`deleteorder`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                  setTimeout(() => {
                       this.$bvToast.toast('ลบรายการที่เลือกแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                  }, 1500);
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
               setTimeout(() => {
                  this.GetDataOrder()
               }, 500);
             })
        }
    }
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>