<template>
    <section>
        <TemplateProducttion>
             <AddWithdrawStaple/>
        </TemplateProducttion>
    </section>
  
</template>
<script>
import TemplateProducttion from '@/components/template/TemplateProducttion.vue'
import AddWithdrawStaple from '@/components/producttion/managewithdrawstaple/AddWithdrawStaple.vue'
export default {
    components:{
        TemplateProducttion
        ,AddWithdrawStaple
    }
}
</script>