<template>
    <section>
        <TemplateProducttion>
             <ManageWithdrawStaple/>
        </TemplateProducttion>
    </section>

</template>
<script>
import TemplateProducttion from '@/components/template/TemplateProducttion.vue'
import ManageWithdrawStaple from '@/components/producttion/managewithdrawstaple/ManageWithdrawStaple.vue'
export default {
    components:{
        TemplateProducttion
        ,ManageWithdrawStaple
    }
}
</script>