<template>
    <section>
         <p class="fnt-24 text-center   mb-0 py-2">เพิ่มรายการขนส่ง</p>
        <div class=" bg-white bd-rd p-lg-5 p-3 height-100">
           

            <div class="row px-3 my-4">
                <div class="col-lg-4 d-flex at jt p-0">
                  <b-form-select v-model="filterdata" :options="options" ></b-form-select>  
                </div>
              
            </div>
            <p class="fnt-20">เลือกกรายการสั่งซื้อเพื่อบันทึกลงรายยการขนส่งประจำวัน</p>
            <b-table  
                :fields="fields" 
                :items="Order" 
                responsive="sm"  
                :per-page="perPage"
                :current-page="currentPage"  
                :filter="filterdata"
                ref="selectableTable"
                @row-selected="onRowSelected"
                selectable
                select-mode="multi"
                hover
                    
            >
                 <template v-slot:cell(selected)="{ rowSelected }">
                    <template v-if="rowSelected">
                            <span aria-hidden="true" class="fnt-green ">เลือกแล้ว</span>
                        </template>
                        <template v-else>
                            <span aria-hidden="true" class="fnt-orange">ยังไม่ได้เลือก</span>
                        </template>
                </template>
                <template v-slot:cell(seedetail)="data"  >
                   <p class="fnt-blue mb-0" @click="OrderDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                 <template v-slot:cell(address)="data"  >
                  ที่อยู่{{data.item.address}} ตำบล{{data.item.subdistrict}}  เขต{{data.item.area}} 
                </template>
                  <template v-slot:cell(date)="data"  >
                  {{data.item.date|dateFomatNotTimeEn}} 
                </template>
             
            </b-table>
        
            <div >
               
                <p>เลือกวันที่เพื่อการจัดส่ง</p>
                <div class="row px-3">
                      
                    <div class="col-lg-4 p-0">
                         <b-form-datepicker placeholder="เลือกวันที่จัดส่งสินค้า" v-model="shippingdate" class="mb-2"  :hide-header="true"></b-form-datepicker>
                    </div>
                
                </div>
              
                <p class="text-center"><button class="btn-blue" @click="ComfirmCreate">บันทึกรายการขนส่ง</button></p>
              
            </div>
        </div>
             <b-modal id="confirmcreate" hide-footer :title="'รายการสั่งซื้อที่เลือกจัดทำรายการขนส่ง '" centered size="lg">
                <b-table :fields="fieldselect" :items="selected" responsive="sm" >
                    <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'packaging/'+data.item.pkpicture" alt="" >
                    </template>
                    <template v-slot:cell(pkname)="data" >
                        {{data.item.pkname}}{{data.item.pkdetail}}
                    </template>
                    <template v-slot:cell(pkamount)="data" >
                        {{amount[data.item.pkid]}}
                    </template>
                </b-table>
                <p class="text-center"> <button class="btn-blue" @click="UpdateShippingDate">บันทึกข้อมูลรายการขนส่ง</button></p>
            </b-modal>

         <b-modal id="seeorderdetail" hide-footer :title="'รายละอียดรายการสั่งซื้อ #'+idorder" centered size="xl">
             <p class="text-center fnt-24">รายการที่สั่ง</p>
            <b-table   :fields="fieldorderdetail" :items="orderdetaildata" responsive="sm" >
                <template v-slot:cell(ppicture)="data"  >
                    <img  :src="url+'product/'+data.item.ppicture"  alt="">
                </template>   
                  <template v-slot:cell(name)="data"  >
                  {{data.item.pname}}{{data.item.pdetail}}
                </template>  
            </b-table>
            <p class="fnt-20 text-right">รวม: <span class="fnt-18">{{Number(total).toLocaleString()}} บาท</span> </p>
       </b-modal>
 
           <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
     components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            Order:[],
            filter:null,
            fields: [
                        { key: 'selected', label: 'รายการที่เลือก', class: 'text-center align-middle'},
                        { key: 'user', label: 'ผู้สั่ง' ,class: 'text-center  align-middle w200'},
                        { key: 'address', label: 'ที่อยู่ที่จัดส่ง' ,class: 'text-center  align-middle w300'},
                        { key: 'date', label: 'วันที่ทำการสั่งซื้อ' ,class: 'text-center  align-middle dnone w200'},
                        { key: 'howpay', label: 'วิธีชำระเงิน' ,class: 'text-center  align-middle w150 dnone'},
                        { key: 'status', label: 'สถานะ' ,class: 'text-center align-middle dnone w150'},
                        { key: 'seedetail', label: 'ดูรายละเอียดรายการ' ,class: 'text-center  align-middle w150'},
                       
            ],
            fieldorderdetail: [
                        { key: 'ppicture', label: 'รูป', class: 'text-center imgtable  align-middle w150'},
                        { key: 'name', label: 'รายการ', class: 'text-center  align-middle w150'},
                        { key: 'pprice', label: 'ราคาต่อชิ้น', class: 'text-center  align-middle w150 dnone'},    
                        { key: 'amount', label: 'จำนวน', class: 'text-center  align-middle w150'},
                             
            ],
            fieldselect:[
                        { key: 'user', label: 'ผู้สั่ง' ,class: 'text-center  align-middle w200'},
                        { key: 'address', label: 'ที่อยู่ที่จัดส่ง' ,class: 'text-center  align-middle w300'},
                        { key: 'date', label: 'วันที่ทำการสั่งซื้อ' ,class: 'text-center  align-middle w200'},
                        { key: 'howpay', label: 'วิธีชำระเงิน' ,class: 'text-center  align-middle w150 dnone'},
            ],
            perPage: 10,
            currentPage: 1,
            filterdata: 'ห้วยแก้ว',
            options: [
                 { value: '', text: 'เลือกเขตที่ต้องการจัดส่ง' },
                { value: 'ห้วยแก้ว', text: 'เขตห้วยแก้ว' },
                { value: 'ช้างเผือก', text: 'เขตช้างเผือก' },
                { value: 'เขตเจ็ดยอด', text: 'เขตเจ็ดยอด' },
             
              
            ],
            idorder:'',
            orderaddress:{},
            orderdetaildata:[],
            shippingdate:'',
            total:'',
            totalprice:0,
            shippinglist:[],
            selected:[],
            length:0,
            selectMode: 'multi',
            shippingdate:'',
            orderdetail:[],
            idwithdraw:''

        }
    },
    mounted(){
        this.GetDataOrder()
    },
    computed: {
      rows() {
        return this.Order.length
      },
      user(){
          return this.$store.state.user
      }
    },
    methods:{
        async GetDataOrder(){
               let current_datetime = new Date()
            var dd = String(current_datetime.getDate()).padStart(2, '0');
            var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = current_datetime.getFullYear();
            current_datetime=yyyy+'-'+mm+'-'+dd
            this.shippingdate=current_datetime
              this.isLoading=true
              await HTTP.post(`selectordertosend`).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   this.Order=res.data.obj
                   this.filterdata='ห้วยแก้ว'
                   console.log("Order",this.Order)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },100)
             })
        },
        async OrderDetail(order){
              this.isLoading=true
            console.log("order address",order)
            this.idorder=order.oid
            this.orderaddress=order
            this.total=order.total
            this.$bvModal.show('seeorderdetail')
            let dt={
                od_id:order.oid
            }
            HTTP.post(`getorderdetail`,dt).then(res => {
            
                if(res.data.status===true){
                   
                  this.orderdetaildata=res.data.obj
                  console.log("odrderdetaildata",this.orderdetaildata)
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },100)
                })
        },
        onRowSelected(items) {
            this.selected = items
            this.length=this.selected.length
        },
        ShowModal(Order_id){
            console.log(Order_id)
            this.$bvModal.show('seeorderdetail')
            this.$store.commit('getIdOrder',Order_id)
        },
        ComfirmCreate(){
             if(this.selected.length===0){
                this.$bvToast.toast('กรุณาเลือกรายการสินค้าที่ต้องการ', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'warning',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
               
            }else{
             
                    this.$bvModal.show('confirmcreate')  
            }
         
        },
        async UpdateShippingDate(){
            this.$bvModal.hide('confirmcreate')  
            this.isLoading=true
             let round=0
            let totalround=this.selected.length
              await  this.selected.forEach((value, index) => {
                    this.shippinglist.push(value)
                    let dt={
                        id:value.oid,
                        date:this.shippingdate,
                        status:'กำลังดำเนินการจัดส่ง'
                    }
                    this.totalprice+=parseFloat(value.total) 
                 HTTP.post(`updateshippingdate`,dt).then(res => {
                     console.log("res=",res)
                    if(res.data.status===true){
                        round++
                      
                    }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    if(totalround===round){
                          this.CreateShippingList()
                    }
                })
             });
              
            
          
        },
        CreateShippingList(){
          
                let dt={
                    eid:this.user.eid,
                    area:this.filterdata,
                    shippingdate:this.shippingdate,
                    status:'กำลังดำเนินการจัดส่ง',
                    totalprice:parseFloat(this.totalprice),
                }
                console.log(dt)
                HTTP.post(`insertshippinglist`,dt).then(res => {
                    
                        if(res.data.status===true){
                          
                            this.CreateShippingDetail(res.data.obj)
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                      
                    })
        },
        async CreateShippingDetail(id){
            let round=0
            let totalround=this.selected.length
           await  this.selected.forEach((value, index) => {
                    let dt={
                            id:id,
                            orderid:value.oid,
                            // email:value.user,
                            // phone:value.phone,
                            // address:value.address,
                            // subdistrict:value.subdistrict,
                            // area:value.area,
                            // paymentmethod:value.howpay,
                            // totalprice:parseFloat(value.total)
                    }
                    
                    HTTP.post(`insertshippingdetail`,dt).then(res => {
                        if(res.data.status===true){
                            round++
                             if(round===totalround){
                               
                            }
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                       if(round===totalround){
                                this.CreateWithdraw()
                                //  console.log("create sp detail",round)
                            }
                    })
                });

                
            
        },
        async CreateWithdraw(){
            let round=0
            let totalround=this.selected.length
            await this.selected.forEach((value, index) => {
                        let id={
                            od_id:value.oid
                        }
                    
                        let data={}
                        HTTP.post(`getorderdetail`,id).then(res => {
                        
                            if(res.data.status===true){
                                round++
                                data=  res.data.obj
                                data.forEach((value, index) => {
                                    this.orderdetail.push(value)
                                });    
                                
                                
                            }
                        })
                        .catch(e => {
                            console.log(e);
                        })
                        .finally(()=>{
                           if(round===totalround){
                                    this.CalProduct()
                                    console.log("orderdetail",this.orderdetail)
                                    // console.log("create round",round)
                            }
                        })
                });
                 
            
        },
        async CalProduct(){
            let data=[]
      
            await this.orderdetail.forEach((value, index) => {
                if(data.length===0){
                     let dt={
                            ppicture:value.ppicture,
                            pid:value.pid,
                            // pname:value.pname,
                            // pdetail:value.pdetail,
                            // pprice:value.pprice,
                            amount:parseFloat(value.amount)
                        }
                    data.push(value)
                }else{
                    let amount             
                    const result = data.filter((data) => {
                        return data.pid === value.pid
                    })
                      
                    if(result.length>0){
                      
                        data.forEach((value,index)=>{
                            if(value.pid===result[0].pid){
                                amount=value.amount
                                console.log("delete amount",amount)
                               data.remove(index)
                            }
                        });
                        let dt={
                          
                            pid:value.pid,
                         
                            amount:parseFloat(value.amount)+parseFloat(amount)
                        }
                        console.log("cal",parseFloat(value.amount))
                        data.push(dt)
                         console.log("สินค้าเก่า",data)
                    }else{
                          let dt={
                            pid:value.pid,
                            amount:parseFloat(value.amount)
                        }
                        data.push(value)
                        console.log("สินค้าใหม่",data)
                    }
                }
            });   
            console.log(data)
            await this.InsertProductList(data)
        },
         async InsertProductList(data){
            let dt={
                      eid:this.user.eid,
                    date:this.shippingdate,
                    status:'รายการเบิกได้',
                }
                HTTP.post(`addproductlist`,dt).then(res => {
                    console.log(res)
                    if(res.data.status===true){
                        console.log("insert product list success")
                        console.log("data=",data)
                        this.InsertProductDetail(res.data.obj,data)
                    }
                })
                .catch(e => {
                    console.log(e);
                })
              
                
         },
        async InsertProductDetail(id,data){
            let round=0
            let totalround=data.length
            console.log("length",totalround)
             data.forEach((value, index) => {
                    let OrderWithdrawdetail={
                        id:id,
                        pid:value.pid,
                        pamount:parseFloat(value.amount) 
                    } 
                     HTTP.post(`addproductdetail`,OrderWithdrawdetail).then(res => {
                         console.log("insert product detail",res)
                        if(res.data.status===true){
                            round++
                            if(round===totalround){
                                 setTimeout(() => {
                                     this.$bvToast.toast('เพิ่มรายการขนส่งแล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                },1500);
                            }
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                             if(round===totalround){
                                  this.$router.push('shipping')
                                  
                                this.isLoading=false
                             }
                           
                    })
            });

            
       }
       
    }
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>