<template>
    <section>
         <p class="fnt-24 text-center  mb-0 py-2">จัดการรายการขนส่ง</p>
        <div class="bg-white bd-rd p-lg-5 p-3 height-100">
           
            <div class="row px-3 my-4">
                <div class="col-lg-4 d-flex at jt p-0">
                  <b-form-select v-model="selected" :options="options"></b-form-select>  
                </div>
                <div class="col-lg-2  text-center text-lg-left ml-lg-2 p-0 mt-3 mt-lg-0">
                    <a href="addnewshipping"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มรายการขนส่ง</button> </a>
                </div>  
            </div>
            <b-table  :fields="fields" :items="Order" responsive="sm"   :per-page="perPage" :current-page="currentPage"  :filter="selected" hover>
                <template v-slot:cell(seedetail)="data"  >
                   <p class="fnt-blue " @click="OrderDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
              
                 <template v-slot:cell(shippingdate)="data"  >
                    {{data.item.shippingdate|dateFomatNotTimeEn}}
                </template> 
                 <template v-slot:cell(status)="data"  >
                
                   <p class="fnt-green mb-0" v-if="data.item.status==='รายการขนส่งเสร็จสิ้น'"> {{data.item.status}}</p>
                     <p class="fnt-orange mb-0" v-else> {{data.item.status}}</p>
                </template> 
                   
                <template v-slot:cell(totalprice)="data"  >
                        {{ Number(data.item.totalprice).toLocaleString()}}
                </template>
                <template v-slot:cell(detail)="data"  >
                   <p class="fnt-blue mb-0" @click="OrderDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                <template v-slot:cell(deletedata)="data">
                       <span class="fnt-red" @click="ConfirmDelete(data.item.spid)" v-if="data.item.status!=='รายการขนส่งเสร็จสิ้น'"><i class="fas fa-trash"></i></span>
                </template>
            </b-table>
           <p class="d-flex justify-content-end"><b-pagination  v-model="currentPage"   :total-rows="rows"  :per-page="perPage"    aria-controls="my-table"   ></b-pagination></p> 
        </div>
         <b-modal id="seeorderdetail" hide-footer :title="'รายละอียดรายการขนส่ง #'+idorder" centered size="xl">
             <p class="text-center fnt-24">รายการที่สั่ง</p>
            <b-table   :fields="fieldorderdetail" :items="shippingdetail" responsive="sm" >
                 <template v-slot:cell(address)="data">
                       ที่อยู่{{data.item.address}} ต.{{data.item.subdistrict}} เขต{{data.item.area}} 
                </template>
                <template v-slot:cell(total)="data">
                     {{ Number(data.item.total).toLocaleString()}}
                </template>
            </b-table>
        </b-modal>
           <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
     components: {
            Loading
    },
    data(){
        return{
            isLoading:false,
            Order:[],
            filter:null,
            fields: [
                        { key: 'shippingdate', label: 'วันที่จัดส่ง' ,class: 'text-center align-middle w150'},
                        { key: 'area', label: 'เขตขนส่ง' ,class: 'text-center align-middle w150'},
                        { key: 'shippingdate', label: 'วันที่จัดส่ง' ,class: 'text-center align-middle w150'},
                        { key: 'totalprice', label: 'มูลค่ารายการ' ,class: 'text-center align-middle w150'},
                        { key: 'income', label: 'เงินที่ได้รับ' ,class: 'text-center align-middle w150'},
                        { key: 'status', label: 'สถานะ' ,class: 'text-center align-middle w150'},    
                        { key: 'detail', label: 'รายละเอียด' ,class: 'text-center align-middle w150'},
                        { key: 'deletedata', label: 'ลบรายการ' ,class: 'text-center align-middle w150 '},             
            ],
            fieldorderdetail: [
                        { key: 'oid', label: 'รหัสรายการ', class: 'text-center align-middle'},
                        { key: 'user', label: 'ผู้สั่ง' ,class: 'text-center align-middle'},
                        { key: 'phone', label: 'เบอร์โทรศัพท์' ,class: 'text-center align-middle'},
                        { key: 'address', label: 'ที่อยู่' ,class: 'text-center align-middle'},
                        { key: 'status', label: 'สถานะรายการสั่งซื้อ' ,class: 'text-center align-middle'},
                        { key: 'total', label: 'มูลค่ารายการ' ,class: 'text-center align-middle'},          
            ],
            perPage: 10,
            currentPage: 1,
            selected: '',
            options: [
                { value: '', text: 'รายการทั้งหมด' },
                { value: 'ห้วยแก้ว', text: 'เขตห้วยแก้ว' },
                { value: 'ช้างเผือก', text: 'เขตช้างเผือก' },
                { value: 'เจ็ดยอด', text: 'เขตเจ็ดยอด' },
            ],
            idorder:'',
           
            shippingdetail:[],
            payment:'',
            total:''

        }
    },
    mounted(){
        this.GetDataOrder()
    },
    computed: {
      rows() {
        return this.Order.length
      }
    },
    methods:{
        async GetDataOrder(){
              this.isLoading=true
              await HTTP.post(`selectshippinglist`).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   this.Order=res.data.obj
                   this.selected=''
                   console.log("Order",this.Order)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },100)
             })
        },
        async OrderDetail(order){
            this.isLoading=true
            this.idorder=order.spid
            this.total=order.total
            this.$bvModal.show('seeorderdetail')
            let dt={
                id:order.spid
            }
            
            HTTP.post(`selectshippingdetail`,dt).then(res => {
                console.log(res)
                if(res.data.status===true){
                   
                  this.shippingdetail=res.data.obj
                  console.log("odrderdetaildata",this.shippingdetail)
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },100)
                })
        },
        async UpdateStatus(status){
            this.isLoading=true
                console.log("status",status)
            let dt={
                id:this.idorder,
                status:status
            }
            console.log(dt)
             await HTTP.post(`updatestatus`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                 this.$bvToast.toast('อัพเดทสถานะการชำระเงินแล้ว', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'success',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
                
                    this.$bvModal.hide('checkpayment')
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                       this.GetDataOrder()
                 },500)
             })
        },
         ConfirmDelete(id) {
                this.$bvModal.msgBoxConfirm('ต้องการลบรายการนี้หรือไม่?',{
                    okTitle:'ตกลง',
                    cancelTitle:'ยกเลิก'
                })
                .then(value => {
                    if( value===true){
                        this.DeleteShipping(id)
                    }
                })
        },
        async DeleteShipping(id){
            this.isLoading=true
            let dt={
                id:id
            }
            await HTTP.post(`deleteshipping`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                  setTimeout(() => {
                       this.$bvToast.toast('ลบรายการที่เลือกแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                  }, 1500);
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
               setTimeout(() => {
                  this.GetDataOrder()
               }, 500);
             })
        }
    }
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>