<template>
    <section>
        <TemplateProducttion>
             <AddWithdrawProduct/>
        </TemplateProducttion>
    </section>
  
</template>
<script>
import TemplateProducttion from '@/components/template/TemplateProducttion.vue'
import AddWithdrawProduct from '@/components/producttion/managewithdrawproduct/AddWithdrawProduct.vue'
export default {
    components:{
        TemplateProducttion
        ,AddWithdrawProduct
    }
}
</script>