<template>
    <section>
        <TemplateProducttion>
             <ManageWithdrawProduct/>
        </TemplateProducttion>
    </section>
  
</template>
<script>
import TemplateProducttion from '@/components/template/TemplateProducttion.vue'
import ManageWithdrawProduct from '@/components/producttion/managewithdrawproduct/ManageWithdrawProduct.vue'
export default {
    components:{
        TemplateProducttion
        ,ManageWithdrawProduct
    }
}
</script>