<template>
    <section>
         <div class="container bg-white bd-rd p-lg-5 h-report">
          <div class="row col p-0 m-0 jt ">     
                    <div class="">
                        <p class="text-center"><img src="@/assets/rmutllogo.png" alt=""></p>
                        <p class="text-center"> ศูนย์เรียนรู้โรงงานผลิตน้ำดื่มต้นแบบเพื่อการศึกษา
                        มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา<br>
                        ตั้งอยู่ที่ 98 หมู่ 8 ต.ป่าป้อง อ.ดอยสะเก็ด จ.เชียงใหม่ 50220</p>
                    </div>
              
            </div>
            <p class="text-center fnt-24 mt-4">รายงานการขาย</p>
          
                    <b-form-group  label="รายงานการขายประจำเดือน" >
                            <b-form-select v-model="selected" :options="options" @change="GetdataSaleldetailtion"></b-form-select>
                    </b-form-group>
              
                
                    <p class="text-center print">   <button class="btn-blue" @click="Print()"><i class="fas fa-print"></i> พิมพ์</button></p>
            
          
             <div class="my-1">
                 <b-table  :fields="fields" :items="Sale" responsive="sm"  >
                           <template v-slot:cell(address)="data"  >
                              

                                ที่อยู่{{data.item.address}} ตำบล{{data.item.subdistrict}} เขค{{data.item.area}} อำเภอเมอืง จังหวัดเชียงใหม่
                            </template>
                            <template v-slot:cell(shippingdate)="data"  >
                               {{data.item.date|dateFomatNotTimeEn}}
                            </template>
                            <template v-slot:cell(date)="data"  >
                               {{data.item.date|dateFomatNotTimeEn}}
                            </template>
                             <template v-slot:cell(total)="data"  >
                               {{Number(data.item.total).toLocaleString()}}
                            </template>
                           
                 </b-table>
              </div>
                 <div class="row mx-1">
                        <div class="col-8  bd-b d-flex at py-2 ">
                        คิดเป็นยอดขายรวมทั้งสิ้น
                        </div>
                        <div class="col bd-b ml-1 d-flex at">
                            {{Number(CalTotal).toLocaleString()}} บาท
                        </div>
                    </div>
                <div class="offset-sm-9 col-sm-3 text-center mt-4 ">
                    <p class="mb-1">-------------------------</p>
                    <p class="mb-1">ผู้จัดการ</p>
                    <p class="mb-1">วันที่.............../.............../.............../</p>
                </div>
            <p class="text-center d-sm-none d-lg-block">
                
               
            </p>
         </div>
           <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>>
<script>
import {HTTP} from "@/axios.js";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
            Loading
    },
    computed:{
        CalTotal(){
            this.Sale.forEach((value,index)=>{
               this.total=this.total+parseFloat(value.total)
            })

            return this.total
        }
    },
     mounted(){
        this.GetdataSaleldetailtion()
    },
    data(){
        return{
            Sale:[],
            lenghtdetail:[],
            fields: [
                        { key: 'oid', label: 'รหัสรายการซื้อขาย', class: 'text-center align-middle width'},      
                        { key: 'user', label: 'ชื่อลูกค้า', class: 'text-center  align-middle'},         
                        // { key: 'address', label: 'ที่อยู่', class: 'text-center'},           
                        { key: 'phone', label: 'เบอร์โทรศัพท์', class: 'text-center  align-middle'},
                        { key: 'shippingdate', label: 'วันที่จัดส่ง', class: 'text-center  align-middle w150'},
                        { key: 'total', label: 'เป็นเงิน', class: 'text-center  align-middle'},
                     
                       
                       
            ],
            isLoading:false,
            selected:'5',
            options:[
                { value: '1', text: 'มกราคม' },
                { value: '2', text: 'กุมภาพัธ์' },
                { value: '3', text: 'มีนาคม ' },
                { value: '4', text: 'เมษายน ' },
                { value: '5', text: 'พฤษภาคม ' },
                { value: '6', text: 'มิถุนายน ' },
                { value: '7', text: 'กรกฎาคม ' },
                { value: '8', text: 'สิงหาคม  ' },
                { value: '9', text: 'กันยายน  ' },
                { value: '10', text: 'ตุลาคม  ' },
                { value: '11', text: 'พฤศจิกายน  ' },
                { value: '12', text: 'ธันวาคม  ' },
            ],
            total:0
   
        }
    },
    methods:{
        async GetdataSaleldetailtion(){
         
            this.isLoading=true
            let dt={
                month:this.selected
            }
              await HTTP.post(`reportsale`,dt).then(res => {
               
               if(res.data.status===true){
                   this.Sale=res.data.obj
                  
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        },
       
        Print(){
            window.print()
        }

    }
}
</script>>