<template>
    <section>
         <div class="container bg-white bd-rd p-lg-5 h-report">
             <div class="row col p-0 m-0 jt ">     
                    <div class="">
                        <p class="text-center"><img src="@/assets/rmutllogo.png" alt=""></p>
                        <p class="text-center"> ศูนย์เรียนรู้โรงงานผลิตน้ำดื่มต้นแบบเพื่อการศึกษา
                        มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา<br>
                        ตั้งอยู่ที่ 98 หมู่ 8 ต.ป่าป้อง อ.ดอยสะเก็ด จ.เชียงใหม่ 50220</p>
                    </div>
              
            </div>
            <p class="text-center fnt-24 mt-4">รายงานการเบิกวัตถุดิบ</p>
          
          
            
                    <b-form-group  label="รายงานการเบิกวัตถุดิบประจำเดือน" >
                            <b-form-select v-model="selected" :options="options" @change="GetdataStapleldetailtion" ></b-form-select>
                    </b-form-group>
             
               
                    <p class="text-center   print">   <button class="btn-blue" @click="Print()"><i class="fas fa-print"></i> พิมพ์</button></p>
              
          
            <p class="print">
                <span class="cp" :class="type===1?'fnt-darkblue':'fnt-blue'" @click="GetDataResult()">ดูรายงานผลสรุปการเบิกวัตถุดิบ</span>
                <span class="fnt-blue" > / </span>
                <span class="cp" :class="type===2?'fnt-darkblue':'fnt-blue'" @click="GetdataStapleldetailtion()">ดูรายละเอียดรายงานการเบิกวัตถุดิบ</span>
            </p>
             <div class="my-1">
               
                 <b-table  :fields="fields" :items="Staple" responsive="sm"  :class="{'d-none':type===1}">
                           <template v-slot:cell(sname)="data"  >
                               {{data.item.sname}}{{data.item.sdetail}}
                            </template>
                            <template v-slot:cell(withdrawdate)="data" >
                               {{data.item.withdrawdate|dateFomatNotTimeEn}}
                            </template>
                           
                 </b-table>

                <b-table  :fields="fieldsresult" :items="Staple" responsive="sm"    :class="{'d-none':type===2}">
                           <template v-slot:cell(sname)="data"  >
                                  {{data.item.sname}}{{data.item.sdetail}}
                            </template>
                            <template v-slot:cell(date)="data" >
                               {{data.item.withdrawdate|dateFomatNotTimeEn}}
                            </template>
                           
                 </b-table>
             
              </div>
                <div class="offset-sm-9 col-sm-3 text-center mt-4 ">
                    <p class="mb-1">-------------------------</p>
                    <p class="mb-1">ผู้จัดการ</p>
                    <p class="mb-1">วันที่.............../.............../.............../</p>
                </div>
            <p class="text-center d-sm-none d-lg-block">
                
               
            </p>
         </div>
           <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>>
<script>
import {HTTP} from "@/axios.js";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
            Loading
    },
    computed:{
    
    },
     mounted(){
        this.GetDataResult()
    },
    data(){
        return{
            Staple:[],
            lenghtdetail:[],
            fields: [
                        { key: 'withdrawdate', label: 'วันที่ทำการเบิกวัตถุดิบ', class: 'text-center width'},      
                        { key: 'sname', label: 'รายการ', class: ' '},                    
                        { key: 'amount', label: 'จำนวน', class: 'text-center'},
                       
                       
            ],
             fieldsresult: [
                       
                        { key: 'sname', label: 'รายการ', class: ' '},                    
                        { key: 'samount', label: 'จำนวน', class: 'text-center'},
                       
                       
            ],
            isLoading:false,
            selected:'5',
            options:[
                { value: '1', text: 'มกราคม' },
                { value: '2', text: 'กุมภาพัธ์' },
                { value: '3', text: 'มีนาคม ' },
                { value: '4', text: 'เมษายน ' },
                { value: '5', text: 'พฤษภาคม ' },
                { value: '6', text: 'มิถุนายน ' },
                { value: '7', text: 'กรกฎาคม ' },
                { value: '8', text: 'สิงหาคม  ' },
                { value: '9', text: 'กันยายน  ' },
                { value: '10', text: 'ตุลาคม  ' },
                { value: '11', text: 'พฤศจิกายน  ' },
                { value: '12', text: 'ธันวาคม  ' },
            ],
            total:0,
            type:null
   
        }
    },
    methods:{
        async GetdataStapleldetailtion(){
         this.type=2
            this.isLoading=true
            let dt={
                month:this.selected
            }
              await HTTP.post(`reportwithdrawstaple`,dt).then(res => {
               console.log(res)
               if(res.data.status===true){
                   this.Staple=res.data.obj
                  
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                
                 },500)
             })
        },
        async GetDataResult(){
          this.type=1
            this.isLoading=true
            let dt={
                month:this.selected
            }
              await HTTP.post(`reportwithdrawstaple`,dt).then(res => {
                  console.log("res",res)
               if(res.data.status===true){
                   this.Staple=res.data.obj
                     this.ResultReport()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                   
                 },500)
             })
        },
        async ResultReport(){
              let newdt=[]
               var i=1
               var amount=0
            this.Staple.forEach((value,key)=>{
                if(newdt.length===0){
                    let dt={
                      sid:value.sid,
                      sname:value.sname,
                      sdetail:value.sdetail,
                      samount:parseFloat(value.amount),
                      date:value.withdrawdate,
                  }
                  newdt.push(dt)
                }else{
                   const result = newdt.filter((newdt) => {
                          return newdt.sid === value.sid
                    })
                   
                    if(result.length>0){
                          newdt.forEach((value,index)=>{
                            if(value.sid===result[0].sid){
                                amount=value.samount
                               newdt.remove(index)
                            }
                        });
                        let dt={
                            sid:value.sid,
                            sname:value.sname,
                            sdetail:value.sdetail,
                            samount:parseFloat(value.amount)+parseFloat(amount),
                            date:value.withdrawdate
                        }
                        newdt.push(dt)
                    }else{
                        let dt={
                              sid:value.sid,
                              sname:value.sname,
                              sdetail:value.sdetail,
                              samount:parseFloat(value.amount),
                              date:value.withdrawdate,
                        }
                        newdt.push(dt)
                    }
                }
                 
                  i++
                // this.total=this.total+parseFloat(value.costprice)
               
            })
         this.Staple=newdt
              console.log("new data", this.Staple)
        },
        Print(){
            window.print()
        }

    }
}
</script>>