<template>
    <section>
         <div class="container bg-white bd-rd p-lg-5 p-3 h-report">
            <div class="row col p-0 m-0 jt  ">     
                <div class="">
                    <p class="text-center"><img src="@/assets/rmutllogo.png" alt=""></p>
                    <p class="text-center"> ศูนย์เรียนรู้โรงงานผลิตน้ำดื่มต้นแบบเพื่อการศึกษา
                    มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา<br>
                    ตั้งอยู่ที่ 98 หมู่ 8 ต.ป่าป้อง อ.ดอยสะเก็ด จ.เชียงใหม่ 50220</p>
                </div>
              
            </div>
            <p class="text-center fnt-24 mt-4">รายงานคลังสินค้าคงคลัง</p>
            <p class="text-lg-right print text-center my-3 mb-0"> <button class="btn-blue" @click="Print()"><i class="fas fa-print"></i> พิมพ์</button></p>
            <p  class=" text-center mb-0"><b>ประจำวันที่</b>: {{date|dateFomatNotTimeEn}}</p>
            
               
           
       
             <div class="my-1">
               
                 <b-table  :fields="fields" :items="Product" responsive="sm"  >
                    <template v-slot:cell(ppicture)="data"  >
                        <img  :src="url+'product/'+data.item.ppicture" alt="" >
                    </template>
                    <template v-slot:cell(pname)="data"  >
                       {{data.item.pname+data.item.pdetail}}
                    </template>
                  
                 </b-table>
              
              </div>
                <div class="offset-sm-9 col-sm-3 text-center mt-4 ">
                    <p class="mb-1">-------------------------</p>
                    <p class="mb-1">ผู้จัดการ</p>
                    <p class="mb-1">วันที่.............../.............../.............../</p>
                </div>
            <p class="text-center d-sm-none d-lg-block">
                
               
            </p>
         </div>
           <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>>
<script>
import {HTTP} from "@/axios.js";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
            Loading
    },
    computed:{
        CalTotal(){
            // this.Product.forEach(()=>{
            //     if(value.pid===)
            // })
        }
    },
     mounted(){
        this.GetProduct()
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            Product:[],
            lenghtdetail:[],
            fields: [
                        { key: 'ppicture', label: 'รูป', class: 'text-center align-middle width imgtable'},      
                        { key: 'pname', label: 'รายการ', class: ' text-center align-middle  width'},                    
                        { key: 'pamount', label: 'จำนวน', class: 'text-center align-middle  width'},
                       
                       
            ],
            isLoading:false,
            selected:'5',
            options:[
                { value: '1', text: 'มกราคม' },
                { value: '2', text: 'กุมภาพัธ์' },
                { value: '3', text: 'มีนาคม ' },
                { value: '4', text: 'เมษายน ' },
                { value: '5', text: 'พฤษภาคม ' },
                { value: '6', text: 'มิถุนายน ' },
                { value: '7', text: 'กรกฎาคม ' },
                { value: '8', text: 'สิงหาคม  ' },
                { value: '9', text: 'กันยายน  ' },
                { value: '10', text: 'ตุลาคม  ' },
                { value: '11', text: 'พฤศจิกายน  ' },
                { value: '12', text: 'ธันวาคม  ' },
            ],
            total:0
   
        }
    },
    methods:{
        async GetProduct(){
              this.date=new Date()
            this.isLoading=true
            let dt={
                month:this.selected
            }
              await HTTP.get(`getproduct`,dt).then(res => {
              
               if(res.data.status===true){
                   this.Product=res.data.obj
                  
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        },
     
        Print(){
            window.print()
        }

    }
}
</script>>

