<template>
    <section>
         <div class="container bg-white bd-rd p-lg-5 h-report">
             <div class="row col p-0 m-0 jt ">     
                    <div class="">
                        <p class="text-center"><img src="@/assets/rmutllogo.png" alt=""></p>
                        <p class="text-center"> ศูนย์เรียนรู้โรงงานผลิตน้ำดื่มต้นแบบเพื่อการศึกษา
                        มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา<br>
                        ตั้งอยู่ที่ 98 หมู่ 8 ต.ป่าป้อง อ.ดอยสะเก็ด จ.เชียงใหม่ 50220</p>
                    </div>
              
            </div>
            <p class="text-center fnt-24 mt-4">รายงานค่าใช้จ่าย</p>
          
                    <b-form-group  label="รายงานประจำเดือน" >
                            <b-form-select v-model="selected" :options="options" @change="GetDataCost"></b-form-select>
                    </b-form-group>
               

                    <p class="text-center print">   <button class="btn-blue" @click="Print()"><i class="fas fa-print"></i> พิมพ์</button></p>
         
             <div class="my-1">
                   <b-table  :fields="fields" :items="Cost" responsive="sm"  >
                         <template v-slot:cell(date)="data"  >
                               {{data.item.date|dateFomatNotTimeEn}}
                        </template>
                          <template v-slot:cell(costprice)="data"  >
                              {{Number(data.item.costprice).toLocaleString()}}
                        </template>
                   </b-table>
                     <div class="row mx-1">
                        <div class="col-8  bd-b d-flex at py-2 ">
                            ค่าใช้จ่ายรวมทั้งสิ้น
                        </div>
                        <div class="col bd-b ml-1 d-flex at">
                            {{Number(total).toLocaleString()}} บาท
                        </div>
                    </div>
              </div>
                <div class="offset-sm-9 col-sm-3 text-center mt-4 ">
                    <p class="mb-1">-------------------------</p>
                    <p class="mb-1">ผู้จัดการ</p>
                    <p class="mb-1">วันที่.............../.............../.............../</p>
                </div>
            <p class="text-center d-sm-none d-lg-block">
                
               
            </p>
         </div>
           <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>>
<script>
import {HTTP} from "@/axios.js";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
            Loading
    },
    data(){
        return{
            Cost:[],
            fields: [
                        { key: 'id', label: 'ลำดับ', class: 'text-center '},      
                        { key: 'costlist', label: 'รายการ', class: 'text-center '},                    
                        { key: 'costprice', label: 'เป็นเงิน' ,class: 'text-center align-middle '},
                        { key: 'date', label: 'วันที่บันทึก' ,class: 'text-center align-middle w-80'},
                       
            ],
            costlist:'',
            costprice:0,
            isLoading:false,
            selected:'5',
            options:[
                { value: '1', text: 'มกราคม' },
                { value: '2', text: 'กุมภาพัธ์' },
                { value: '3', text: 'มีนาคม ' },
                { value: '4', text: 'เมษายน ' },
                { value: '5', text: 'พฤษภาคม ' },
                { value: '6', text: 'มิถุนายน ' },
                { value: '7', text: 'กรกฎาคม ' },
                { value: '8', text: 'สิงหาคม  ' },
                { value: '9', text: 'กันยายน  ' },
                { value: '10', text: 'ตุลาคม  ' },
                { value: '11', text: 'พฤศจิกายน  ' },
                { value: '12', text: 'ธันวาคม  ' },
            ],
            total:0
        }
    },
    mounted(){
        this.GetDataCost()
    },
    methods:{
        async GetDataCost(){
            this.isLoading=true
            let dt={
                month:this.selected
            }
              await HTTP.post(`reportcost`,dt).then(res => {
                  console.log("res",res)
               if(res.data.status===true){
                   this.Cost=res.data.obj
                    this.FetchData()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        },
        async FetchData(){
            let newdt=[]
               var i=1
            this.Cost.forEach((value,key)=>{
             
                  let dt={
                      id:i,
                      costlist:value.costlist,
                      costprice:value.costprice,
                      date:value.date
                  }
                  i++
                this.total=parseFloat(this.total)+parseFloat(value.costprice)
                  newdt.push(dt)
            })
            this.Cost=newdt
              console.log("new data",this.Cost)
        },

        Print(){
            window.print()
        }

    }
}
</script>>