<template>
    <section>
         <div class="container bg-white bd-rd p-lg-5 h-report">
            <div class="row col p-0 m-0 jt ">     
                    <div class="">
                        <p class="text-center"><img src="@/assets/rmutllogo.png" alt=""></p>
                        <p class="text-center"> ศูนย์เรียนรู้โรงงานผลิตน้ำดื่มต้นแบบเพื่อการศึกษา
                        มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา<br>
                        ตั้งอยู่ที่ 98 หมู่ 8 ต.ป่าป้อง อ.ดอยสะเก็ด จ.เชียงใหม่ 50220</p>
                    </div>
              
            </div>
            <p class="text-center fnt-24 mt-4">รายงานบรรจุภัณฑ์คงคลัง</p>
          
            <p class="text-lg-right print text-center my-3 mb-0"> <button class="btn-blue" @click="Print()"><i class="fas fa-print"></i> พิมพ์</button></p>
            <p  class=" text-center mb-0"><b>ประจำวันที่</b>: {{date|dateFomatNotTimeEn}}</p>
          
             <div class="my-1">
               
                 <b-table  :fields="fields" :items="Packaging" responsive="sm"  >
                      <template v-slot:cell(pkpicture)="data"  >
                        <img  :src="url+'packaging/'+data.item.pkpicture" alt="" >
                    </template>
                    <template v-slot:cell(pkname)="data"  >
                        {{data.item.pkname+data.item.pkdetail}}
                    </template>
                       
                       
                 </b-table>
              
              </div>
                <div class="offset-sm-9 col-sm-3 text-center mt-4 ">
                    <p class="mb-1">-------------------------</p>
                    <p class="mb-1">ผู้จัดการ</p>
                    <p class="mb-1">วันที่.............../.............../.............../</p>
                </div>
            <p class="text-center d-sm-none d-lg-block">
                
               
            </p>
         </div>
           <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>>
<script>
import {HTTP} from "@/axios.js";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
            Loading
    },
 
     mounted(){
        this.GetPackaging()
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            Packaging:[],
            lenghtdetail:[],
            fields: [
                { key: 'pkpicture', label: 'รูป', class: 'text-center width  align-middle tbimg'},      
                { key: 'pkname', label: 'รายการ', class: ' text-center width  align-middle '},                    
                { key: 'pkamount', label: 'จำนวน', class: 'text-center width  align-middle'},     
            ],
            isLoading:false,
            date:null
   
        }
    },
    methods:{
        async GetPackaging(){
            this.date=new Date()
          
            this.isLoading=true
            let dt={
                month:this.selected
            }
              await HTTP.get(`selectpackaging`,dt).then(res => {
                //   console.log("res",res)
               if(res.data.status===true){
                   this.Packaging=res.data.obj
                  
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        },
     
        Print(){
            window.print()
        }

    }
}
</script>>
<style scoped>
.tbimg img{
    max-width: 50px;
}
</style>