<template>
    <section>
        <TemplateManager>
             <ManageWithdrawPackaging/>
        </TemplateManager>
    </section>
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManageWithdrawPackaging from '@/components/manager/managewithdrawpackaging/ManageWithdrawPackaging.vue'
export default {
    components:{
        TemplateManager
        ,ManageWithdrawPackaging
    }
}
</script>