<template>
    <section>
        <TemplateManager>
             <UpdateWithdrawPackaging/>
        </TemplateManager>
    </section>
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import UpdateWithdrawPackaging from '@/components/manager/managewithdrawpackaging/UpdateWithdrawPackaging.vue'
export default {
    components:{
        TemplateManager
        ,UpdateWithdrawPackaging
    }
}
</script>