<template>
    <section>
        <TemplateTransport>
             <AddPackaging/>
        </TemplateTransport>
    </section>
  
</template>
<script>
import TemplateTransport from '@/components/template/TemplateTransport.vue'
import AddPackaging from '@/components/transport/AddPackaging.vue'
export default {
    components:{
        TemplateTransport
        ,AddPackaging
    }
}
</script>