<template>
    <section>
         <TemplateTransport>
             <CreateInvoice/>
        </TemplateTransport>
    </section>
  
</template>
<script>
import TemplateTransport from '@/components/template/TemplateTransport.vue'
import CreateInvoice from '@/components/transport/CreateInvoice.vue'
export default {
    components:{
        TemplateTransport
        ,CreateInvoice
    }
}
</script>