<template>
    <section>
        <TemplateTransport>
             <ManageShipping/>
        </TemplateTransport>
    </section>
  
</template>
<script>
import TemplateTransport from '@/components/template/TemplateTransport.vue'
import ManageShipping from '@/components/transport/ManageShipping.vue'
export default {
    components:{
        TemplateTransport
        ,ManageShipping
    }
}
</script>