<template>
    <section>
        <TemplateManager>
             <AddProduct/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import AddProduct from '@/components/manager/manageproduct/AddProduct.vue'
export default {
    components:{
        TemplateManager
        ,AddProduct
    }
}
</script>