<template>
    <section>
        <TemplateManager>
             <ManagerProduct/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManagerProduct from '@/components/manager/manageproduct/ManagerProduct.vue'
export default {
    components:{
        TemplateManager
        ,ManagerProduct
    }
}
</script>