<template>
    <section>
        <TemplateManager>
             <UpdateProduct/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import UpdateProduct from '@/components/manager/manageproduct/UpdateProduct.vue'
export default {
    components:{
        TemplateManager
        ,UpdateProduct
    }
}
</script>