<template>
    <section >
    <div class="position-relative">
         <div class="position-relative  bg  d-none d-lg-flex at">
            <div class="container-lg ">
                  <div class="row">
                        <div class="col-5  d-flex jt py-4">
                               <b-carousel
                                    id="carousel-fade"
                                    style="text-shadow: 0px 0px 2px #000"
                                    no-animation
                                    img-width="1024"
                                    img-height="480"
                                >
                                    <div         
                                        v-for=" item in product" 
                                        :key="item.value" 
                                        :label="item.label" 
                                        :value="item.value"
                                    >
                                        <b-carousel-slide
                                    
                                        :img-src="url+'product/'+item.ppicture"
                                        ></b-carousel-slide>
                                    </div>
                                    
                                    
                                </b-carousel>
                        </div>
                        <div class="col-7 d-flex jt at fnt-white px-5 bg-text">
                            <div class="text">
                                <p class="fnt-32 mb-0">น้ำดื่ม</p>
                                <p class="fnt-48">ราชมงคล<br>ล้านนาเชียงใหม่<br></p>
                                <p class="fnt-32">เพื่อการศึกษา</p>
                            </div>
                        </div>
                  </div>
            </div>
        </div>

         <div class="position-relative  bg  d-flex d-lg-none at jt">
             <div>
            
                 <div class="text fnt-white">
                                <p class="fnt-32 mb-0">น้ำดื่ม</p>
                                <p class="fnt-48">ราชมงคล<br>ล้านนาเชียงใหม่<br></p>
                                <p class="fnt-32">เพื่อการศึกษา</p>
                </div>
             </div>
         
         </div>

    </div>
       
    </section>
</template>
<script>
import {HTTP} from "@/axios.js";
export default {
    mounted(){
        this.GetDataProduct()
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            product:[]
        }
    },
    methods:{
        async GetDataProduct(){
             await HTTP.get(`getproduct`).then(res => {
              console.log(res)
               if(res.data.status===true){
                   this.product=res.data.obj
                
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
          
        }
    }
    
}
</script>
<style scoped>
  @media only screen and (min-width: 769px) {
      .bg{
        background-image: url("../../assets/water.png");
        height:500px;
    }
  }
   @media only screen and (max-width: 768px) {
      .bg{
        background-image: url("../../assets/water.png");
        height:350px;
    }
  }
.text{
    opacity: 1;
     text-shadow: 2px 1px 6px #000000;
}



.blog-left{
    background: #384aeb;
    height:650px;
    width:30%;
}
.bg-img{
    background: #fff;
}


</style>