<template>
    <section>
        <Blog class=""/>
       
        <ProductList/>
    </section>
</template>
<script>
import Blog from '@/components/home/Blog.vue'
import ProductList from '@/components/home/Product-List.vue'
export default {
    components:{
        Blog,
        ProductList
    }
}
</script>>