<template>
    <section>
        <center>
            <div class="  mx-2 my-2 fnt-darkblue">
                <div class="block-product ">
                     <div class=" py-4 bg-white bd-rd">
                        <img :src="url+'product/'+picture">
                    </div>
                    <p class="fnt-24 mt-4">{{name}}{{detail}}</p>
                    <button class="btn-addcart " @click="addCart(idproduct)"> เลือกรายการสินค้า</button>
                </div> 
            </div>
        </center>   
    </section>
</template>
<script>
import {HTTP} from "@/axios.js";
export default {
     props:{
        picture:{
            type:String,
            default(){
                return ''
            }
        },
        name:{
            type:String,
            default(){
                return ''
            }
        },
        detail:{
            type:String,
            default(){
                return ''
            }
        },
        price:{
            type:String,
            default(){
                return ''
            }
        },
        idproduct:{
            type:String,
            default(){
                return ''
            }
        }
    },
    data(){
        return{
           cart:[],
           url:process.env.VUE_APP_IMAGE_URL,
        }
    },
    methods:{
        addCart(pd_id){
            let product={
                pid:this.idproduct,
                pname:this.name,
                pdetail:this.detail,
                pprice:this.price,
                ppicture:this.picture,
                pamount:0
            }
         
            let cartstore=[]
            let lengthcartstore=this.$store.state.cart.length
            cartstore=this.$store.state.cart
           
            if(lengthcartstore===0){
                this.cart.push(product)
                this.$store.commit('addCart',this.cart)
                document.body.scrollTop = 0;
                 document.documentElement.scrollTop = 0;
                this.$router.push('/cart')
            }else{
                const result = cartstore.filter((cartstore) => {
                    return cartstore.pid === pd_id
                })
            
                 let checkCart=result.length
               console.log(checkCart)
                if(checkCart>=1){
                        this.$bvToast.toast('ดูตะกร้าสินค้า', {
                            toaster:'b-toaster-top-center',
                            title:'มีสินค้านี้แล้วในตะกร้า',
                            variant: 'warning',
                            solid: true,
                            autoHideDelay:100,
                            appendToast:true,
                            href: '/cart',
                        })
                        this.$store.commit('addOrder',1)
                        console.log("มีสินค้านี้แล้ว")
                }else{
                      let dt=this.$store.state.cart
                dt.forEach((value, index) => {
                    this.cart.push(value) 
                });
                     console.log("เพิ่มสินค้าใหม่")
                    this.cart.push(product)
                    this.$store.commit('addCart',this.cart)
                      document.body.scrollTop = 0;
                       document.documentElement.scrollTop = 0;
                    this.$router.push('/cart')
                }
            
            }
           
            
        }
    }

}
</script>>
<style scoped>
        .block-product{
            width:350px;
            border-radius: 10px;
           
        }
    img{
        max-width:540px;
        max-height:300px;;
    }
    .btn-addcart{
        background-color: #4C85C0;
        border: solid 1px #4C85C0;
        padding: 17px 50px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 1px;
        color: #ffffff;
        transition: all 0.5s ease;
        text-align: center;
    }
    .btn-addcart:hover{
        background: #E9007F;
        border:solid 1px #E9007F;
    }
     @media only screen and (max-width: 768px) {
        img{
            max-width:250px;
             max-height:200px;
        }
          .block-product{
            width:250px;
            border-radius: 10px;
        }
    }
</style>
