<template>
    <section>
           <div class="bg-pd">
            <div class="container bg-pd py-4">
              <p class="fnt-24 fnt-darkblue text-lg-left text-center">รายการสินค้า</p>
                 <div class="row m-0  jt">
                    <Product 
                    :picture='item.ppicture'  
                    :name='item.pname' 
                    :detail='item.pdetail' 
                    :price='item.pprice' 
                    :idproduct='item.pid'
                    
                    v-for=" item in product" 
                    :key="item.value" 
                    :label="item.label" 
                    :value="item.value"/>
                </div>
            </div>
           </div>
           
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
    
</template>
<script>
import {HTTP} from "@/axios.js";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import Product from '@/components/home/Product.vue'
export default {
    components:{
        Product,
        Loading
    },
    data(){
        return{
            product:[],
            isLoading:false
        }
    },
    mounted(){
        this.getProduct()
    },
    methods:{
        async getProduct(){
            this.isLoading=true
            await HTTP.get(`getproduct`).then(res => {
              console.log(res)
               if(res.data.status===true){
                   this.product=res.data.obj
                
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        }
    }
}
</script>
<style scoped>

</style>
