<template>
    <section>
         <p class="fnt-24 text-center  mb-0 py-2">บันทึกข้อมูลค่าใช้จ่าย</p>
        <div class=" bg-white bd-rd p-lg-5 p-3 height-100">
           
             
               <div class="offset-lg-3 col-lg-6">
                  <p class="text-lg-right text-center"><button class="btn-blue" v-b-modal.addnewcost><i class="fas fa-plus"></i> เพิ่มรายการค่าใช่จ่าย</button></p>
              </div>
              <div class="offset-lg-3 col-lg-6">
                   <b-table  :fields="fields" :items="Cost" responsive="sm"  hover >
                        <template v-slot:cell(date)="data"  >
                            {{data.item.date|dateFomatNotTimeEn}}
                        </template> 
                          <template v-slot:cell(costprice)="data">
                               {{Number(data.item.costprice).toLocaleString()}}
                        </template>
                        <template v-slot:cell(deletedata)="data">
                                <span class="fnt-red" @click="ConfirmDelete(data.item.cid)" ><i class="fas fa-trash"></i></span>
                        </template>
                   </b-table>
              </div>
           
        </div>
        <b-modal id="addnewcost" hide-footer :title="'เพิ่มรายการค่าใช่จ่าย'" centered size="lg">
               <div class="form-group">
                    <label for="">รายการค่าใช้จ่าย</label>
                    <input type="text" class="form-control" id="" placeholder="รายการค่าใช้จ่าย" v-model="costlist">
                </div>
                <div class="form-group">
                    <label for="">เป็นเงิน</label>
                    <input type="number" class="form-control" v-model="costprice">
                </div>
            <p class="text-center"> <button class="btn-blue" @click="InsertCost">บันทึกรายการค่าใช้จ่าย</button></p>
        </b-modal>
          
     <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import {HTTP} from "@/axios.js";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
            Loading
    },
    computed:{
        user(){
            return this.$store.state.user
        }
    },
    data(){
        return{
            Cost:[],
            fields: [
                        
                        { key: 'costlist', label: 'รายการ', class: 'text-center '},                    
                        { key: 'costprice', label: 'เป็นเงิน' ,class: 'text-center align-middle '},
                        { key: 'date', label: 'วันที่บันทึก' ,class: 'text-center align-middle w-80'},
                        { key: 'deletedata', label: 'ลบรายการ' ,class: 'text-center align-middle w150 '}, 
                       
            ],
            costlist:'',
            costprice:0,
            isLoading:false
        }
    },
    mounted(){
        this.GetDataCost()
    },
    methods:{
        async GetDataCost(){
            this.isLoading=true
              await HTTP.get(`selectcostmonth`).then(res => {
                  console.log("res",res)
               if(res.data.status===true){
                   this.Cost=res.data.obj
                  
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        },
        
        async InsertCost(){
              this.isLoading=true
              let dt={
                  eid:this.user.eid,
                  costlist:this.costlist,
                  costprice:this.costprice
              }
              await HTTP.post(`insertcost`,dt).then(res => {
                  console.log("res",res)
               if(res.data.status===true){
                   console.log("sc")
                  
               }else{
                    console.log("usc")
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                   this.GetDataCost()
                 },500)
             })
             this.$bvModal.hide('addnewcost')
        },

        ConfirmDelete(id) {
                this.$bvModal.msgBoxConfirm('ต้องการลบรายการสั่งซื้อหรือไม่?',{
                    okTitle:'ตกลง',
                    cancelTitle:'ยกเลิก'
                })
                .then(value => {
                    if( value===true){
                        this.DeleteCost(id)
                    }
                })
        },
        async DeleteCost(id){
       
            this.isLoading=true
            let dt={
                id:id
            }
         
              await HTTP.post(`deletecost`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                    setTimeout(() => {
                        this.$bvToast.toast('ลบรายการที่เลือกแล้ว', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'success',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:false,
                            })
                    }, 1500);
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(() => {
                       this.GetDataCost()
                 }, 500);
             })
        }

    }
}
</script>>
<style scoped>
  img{
        max-height:50px!important;
}

</style>>