<template>
    <section>
          <p class="text-center fnt-24 mb-0 py-2">บันทึกรายการผลิต</p>
        <div class="bg-white bd-rd p-lg-5 p-3 height-100">
            
                <b-table 
                    :fields="fields" 
                    :items="product" responsive="sm"  
                    ref="selectableTable"
                    @row-selected="onRowSelected"
                    selectable
                    select-mode="multi" 
                    hover
                >
                 <template v-slot:cell(selected)="{ rowSelected }">
                   <template v-if="rowSelected">
                        <span aria-hidden="true" class="fnt-green ">เลือกแล้ว</span>
                   </template>
                   <template v-else>
                       <span aria-hidden="true" class="fnt-orange">ยังไม่ได้เลือก</span>
                   </template>
                </template>
                <template v-slot:cell(picture)="data"  >
                    <img  :src="url+'product/'+data.item.ppicture" alt="" >
                </template>
                <template v-slot:cell(pname)="data" >
                    {{data.item.pname}}{{data.item.pdetail}}
                </template>
                <template v-slot:cell(want)="data">
                     <b-form-input    type="number" v-model="amount[data.item.pid]"   required    ></b-form-input>
                </template>
                  
            </b-table>
        <div class="col-lg-2 p-0">
             <b-form-group  label="ช่วงเวลาในการผลิต" >
                 <b-form-select v-model="time" :options="options"></b-form-select>  
             </b-form-group>
        </div>
        <b-modal id="confirmcreate" hide-footer :title="'ยืนยันเพิ่มรายการผลิต'" centered size="lg">
            <b-table :fields="fieldsorder" :items="selected" responsive="sm" >
                <template v-slot:cell(picture)="data"  >
                    <img  :src="url+'product/'+data.item.ppicture" alt="" >
                </template>
                <template v-slot:cell(pname)="data" >
                    {{data.item.pname}}{{data.item.pdetail}}
                </template>
                 <template v-slot:cell(pamount)="data" >
                    {{amount[data.item.pid]}}
                </template>
            </b-table>
            ช่วงเวลาในการผลิต : {{time}}
               <p class="text-center"> <button class="btn-blue" @click="CreateDataList">บันทึกข้อมูลรายการผลิต</button></p>
        </b-modal>
            <p class="text-center"> <button class="btn-blue" @click="ComfirmCreate">ยืนยันเพิ่มรายการผลิต</button></p>
        </div>
          
            <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    mounted(){
        this.GetProduct()
    },
 
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            product:[],
            fields: [
                        { key: 'selected', label: 'รายการที่เลือก', class: 'text-center align-middle'},
                        { key: 'picture', label: 'รูปสินค้า', class: 'text-center align-middle dnone'},
                        { key: 'pname', label: 'รายการ' ,class: 'text-center align-middle w150'},
                      
                        { key: 'pamount', label: 'จำนวนคงเหลือในคลัง' ,class: 'text-center align-middle '},
                        { key: 'want', label: 'จำนวนที่ผลิตได้' ,class: 'text-center align-middle w150'},   
            ],
            fieldsorder: [
                     
                        { key: 'picture', label: 'รูปสินค้า', class: 'text-center '},
                        { key: 'pname', label: 'ชื่อสินค้า' ,class: 'text-center align-middle '},
                        { key: 'pamount', label: 'จำนวนคงเหลือในคลัง' ,class: 'text-center align-middle '},
                    
            ],
            amount:{
            },
            order:[],
          
            time: 'ช่วงเช้า',
            options: [
                { value: 'ช่วงเช้า', text: 'ช่วงเช้า' },
                { value: 'ช่วงบ่าย', text: 'ช่วงบ่าย' },
            ],
            selected:[],
            checkAddress:'0',
            name:'',
            length:''
           

        }
    },
    computed:{
        user(){
            return this.$store.state.user
        },
          rows() {
                return this.product.length
                
         }
    },
    methods:{
        async GetProduct(){
             this.isLoading=true
            await HTTP.get(`getproduct`).then(res => {
              console.log(res)
               if(res.data.status===true){
                   this.product=res.data.obj
                
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        ComfirmCreate(){
             if(this.selected.length===0){
                this.$bvToast.toast('กรุณาเลือกรายการสินค้าที่ต้องการ', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'warning',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
               
            }else{
                let check=true
                console.log(this.selected)
                  this.selected.forEach((value, index) => {
                       if(typeof(this.amount[value.pid]) === 'undefined'){
                           check=false
                       }
                 })

                if(check===true){
                    this.$bvModal.show('confirmcreate')
                } else{
                        this.$bvToast.toast('ยังไม่ได้เพิ่มจำนวนรายการที่เลือก', {
                        toaster:'b-toaster-top-center',
                        title:'แจ้งเตือน',
                        variant: 'warning',
                        solid: true,
                        autoHideDelay:2000,
                        appendToast:false,
                    })
                  } 
            }
         
        },
        async CreateDataList(){
            this.$bvModal.hide('confirmcreate')
            this.isLoading=true
           
            let current_datetime = new Date()
            var dd = String(current_datetime.getDate()).padStart(2, '0');
            var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = current_datetime.getFullYear();
            current_datetime=yyyy+'-'+mm+'-'+dd
            let name =this.user.firstname+" "+this.user.lastname
           
            let dt={
                 eid:this.user.eid,
                 time:this.time,
                 nameproducttion:name,
                 date:current_datetime,
                 status:'รอตรวจสอบ',
            }

            console.log("data list",dt)
              await   HTTP.post(`insertproducttionlist`,dt).then(res => {
                        console.log(res)
                        if(res.data.status===true){
                              console.log("เพิ่มorderได้")
                                this.CreateDataDetail(res.data.obj)
                        }else{
                                console.log("เพิ่มorderไม่ได้")
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                     
                    })
        },
        CreateDataDetail(id){  
             let round=0
            let totalround=this.selected.length
             this.selected.forEach((value, index) => {
                    let dtdetail={
                        id:id,
                        pid:value.pid,
                        pamount:parseFloat(this.amount[value.pid]),
                    }
                console.log(dtdetail)
                    
                     HTTP.post(`insertproducttiondetail`,dtdetail).then(res => {
                         console.log("order detail",res)
                        if(res.data.status===true){
                             round++
                             if(round===totalround){
                                setTimeout(() => {
                                     this.$bvToast.toast('บันทึกรายการผลิตแล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                },1500);
                            }
                            
            
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                       
                             if(round===totalround){
                                  setTimeout(()=>{
                                 this.$router.push('producttion')
                                  },500)
                                  this.isLoading=false
                             }
                            
                       
                    })
            });
           
            
        },
        onRowSelected(items) {
            this.selected = items
            this.length=this.selected.length
        },
    }
}
</script>
<style scoped>
    img{
        max-height: 50px;
    }
</style>