<template>
    <section>
         <p class="fnt-24 text-center mb-0 py-2">จัดการรายการผลิต</p>
        <div class="bg-white bd-rd p-lg-5 p-3 height-100">
           
          <div class=" offset-lg-3 col-lg-6">
                <p class="fnt-24 mt-4">คลังสินค้าคงเหลือ</p>
                 <b-table  :fields="fielddataproduct" :items="productstock" responsive="lg"   >
                      <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'product/'+data.item.ppicture"  alt="">
                    </template>
                    <template v-slot:cell(name)="data"  >
                       {{data.item.pname}}{{data.item.pdetail}}
                     </template>        
                </b-table>
            </div>
            <div class="row px-3 my-4">
                <div class="col-lg-4 d-flex at p-0"> 
                  <b-form-select v-model="selected" :options="options"></b-form-select>  
                </div>
                <div class="col-lg-2  mt-lg-0 mt-3 text-center  text-lg-left ml-lg-2 p-0">
                    <a href="addproducttion"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มรายการผลิต</button> </a>
                </div>  
            </div>
            <b-table  :fields="fields" :items="producttion" responsive="sm"   :per-page="perPage" :current-page="currentPage"  :filter="selected" hover>
                <template v-slot:cell(namepickup)="data"  >
                    <p v-if="data.item.namepickup===''" class="mb-0 ">ยังไม่ได้รับการยืนยันเข้าคลัง</p>
                    <p v-else class="mb-0 " >{{data.item.namepickup}}</p>
                </template>
                    <template v-slot:cell(detail)="data"  >
                    <p class="fnt-blue mb-0 cp" @click="ProducttionDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                <template v-slot:cell(check)="data"  >
                      <button class="btn-green" @click="ComfirmPickup(data.item.pdid,'รับรายการสินค้าเข้าคลังแล้ว')" v-if="data.item.status==='รายการผลิตถูกต้อง'">ยืนยันรับเข้าคลัง</button>
                   
                </template>
                 <template v-slot:cell(date)="data"  >
                    {{data.item.date|dateFomatNotTimeEn}}
                </template>
                 <template v-slot:cell(status)="data"  >
                        <span class="fnt-orange" v-if="data.item.status==='รายการผลิตถูกต้อง'">{{data.item.status}}</span>
                        <span class="fnt-red" v-else-if="data.item.status==='รอตรวจสอบ'">{{data.item.status}}</span>
                        <span class="fnt-green" v-else>{{data.item.status}}</span>
                </template>
                <template v-slot:cell(deletedata)="data">
                       <span class="fnt-red cp" @click="ConfirmDelete(data.item.pdid)" v-if="data.item.status!=='รับรายการสินค้าเข้าคลังแล้ว'"><i class="fas fa-trash"></i></span>
                </template>
            </b-table>
            <p class="d-flex justify-content-end"><b-pagination  v-model="currentPage"   :total-rows="rows"  :per-page="perPage"    aria-controls="my-table"   ></b-pagination></p> 
        </div>
         <b-modal id="seeproducttiondetail" hide-footer :title="'รายละอียดรายการการผลิต #'+idproducttion" centered size="lg">
            <p class="text-center fnt-24">รายการที่ผลิต</p>
            <b-table   :fields="fieldProducttiondetail" :items="producttiondetail" responsive="sm" >
                 <template v-slot:cell(ppicture)="data"  >
                        <img  :src="url+'product/'+data.item.ppicture"  alt="">
                 </template> 
                   <template v-slot:cell(name)="data"  >
                       {{data.item.pname}}{{data.item.pdetail}}
                 </template>       
            </b-table>
        </b-modal>
        <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            producttion:[],
            filter:null,
            fields: [
                { key: 'date', label: 'วันที่ทำการผลิต' ,class: 'text-center  align-middle w150',sortable: true}, 
                 { key: 'time', label: 'ช่วงเวลาผลิต' ,class: 'text-center  align-middle w150',sortable: true},
                 { key: 'nameproducttion', label: 'ผู้ผลิต' ,class: 'text-center  align-middle w150'},
                 { key: 'namepickup', label: 'ผู้ที่รับเข้าคลัง' ,class: 'text-center  align-middle w150'},
                 { key: 'status', label: 'สถานะรายการ' ,class: 'text-center align-middle w150',sortable: true},   
                 { key: 'detail', label: 'รายละเอียด' ,class: 'text-center  align-middle w150'},   
                 { key: 'check', label: 'ยืนยันรับเข้าคลัง' ,class: 'text-center  align-middle w150'},
                { key: 'deletedata', label: 'ลบรายการ' ,class: 'text-center align-middle w150 '},         
            ],
            fielddataproduct: [
                 { key: 'picture', label: 'รูป', class: 'text-center imgtable align-middle '},
                 { key: 'name', label: 'รายการ', class: 'text-center align-middle'},
                 { key: 'pamount', label: 'จำนวน', class: 'text-center align-middle'},   
            ],
            fieldProducttiondetail: [
                { key: 'ppicture', label: 'รูป' ,class: 'text-center align-middle imgtable'},
                { key: 'name', label: 'รายการ' ,class: 'text-center align-middle'},
                { key: 'amount', label: 'จำนวนที่ผลิต' ,class: 'text-center align-middle'},             
            ],
            perPage: 10,
            currentPage: 1,
            selected: '',
            options: [
                { value: 'รายการผลิตประจำวัน', text: 'รายการผลิตประจำวัน' },
                { value: 'รายการผลิตถูกต้อง',  text: 'รายการที่รับเข้าคลังได้' },
                { value: 'รอตรวจสอบ',  text: 'รายการที่รอตรวจสอบ' },
                { value: 'รับรายการสินค้าเข้าคลังแล้ว',  text: 'รายการที่รับเข้าคัลงแล้ว' },
             
            ],
            idproducttion:'',
            producttiondetail:[],
            productstock:[]
         

        }
    },
    mounted(){
        this.GetDataProducttion()
        this.GetProductStock()
        this.SelectFilter()
    },
    computed: {
      rows() {
        return this.producttion.length
      },
      user(){
          return this.$store.state.user
      }
    },
    methods:{
        SelectFilter(){
               this.selected='รายการผลิตประจำวัน'
            this.options.forEach((value, index) => {
                 if(this.selected==='รายการผลิตประจำวัน'&&value.value==='รายการผลิตประจำวัน'){
            
                        let current_datetime = new Date()
                        var dd = String(current_datetime.getDate()).padStart(2, '0');
                        var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = current_datetime.getFullYear();
                        current_datetime=yyyy+'-'+mm+'-'+dd
                        this.selected=current_datetime
                        value.value=current_datetime
                        console.log( "date",current_datetime)
                 }
            });
        },
        async GetDataProducttion(){
              this.isLoading=true
              await HTTP.post(`selectproducttionlist`).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   this.producttion=res.data.obj
                 
                   console.log("Producttion",this.producttion)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        async GetProductStock(){
             this.isLoading=true
              await HTTP.get(`getproduct`).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   this.productstock=res.data.obj
                   console.log("productstock",this.productstock)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        async ProducttionDetail(producttion){
            console.log(producttion.id)
            this.isLoading=true
            this.idproducttion=producttion.pdid
            this.$bvModal.show('seeproducttiondetail')
            let dt={
                id:producttion.pdid
            }
            HTTP.post(`selectproducttiondetail`,dt).then(res => {
                console.log(res)
                if(res.data.status===true){
                   
                  this.producttiondetail=res.data.obj
                  console.log("odrderdetaildata",this.producttiondetail)
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },100)
                })
        },
        ComfirmPickup(id,text){
            this.$bvModal.msgBoxConfirm('ยืนยันรับเข้าคลัง',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.UpdateStatus(id,text)
                }
            })
        },
        async UpdateStatus(id,text){
            this.isLoading=true
            let name=this.user.firstname+" "+this.user.lastname
            let data={
                id:id,
                status:text,
                namepickup:name
            }
            console.log("data",data)
            await HTTP.post(`updateproducttionnamepickup`,data).then(res =>{
                console.log(res)
                if(res.data.status===true){
                 
                        this.Amount(id)
                }
            })
            //  this.Amount(id)
        }, 
        async Amount(id){
             this.producttiondetail=[]
            let dt={
                id:id
            }
            console.log(dt)
            HTTP.post(`selectproducttiondetail`,dt).then(res => {
                if(res.data.status===true){
                   
                  res.data.obj.forEach((value, index) => {
                        let data={
                            pid:value.pid,
                            pamount:value.amount
                        }
                        this.producttiondetail.push(data)
                    });
                   console.log(this.producttiondetail)
                  
                }
            }).finally(()=>{
                setTimeout(() => {
                      this.CalAmount()
                }, 300);
            })
                
        },
        CalAmount(){
            let dt=[]
            this.productstock.forEach((value, index) => {
                let data={
                    pid:value.pid,
                    pamount:value.pamount
                }
                dt.push(data)
            });
      
            let newdata=[]
            for(var i=0;i<dt.length;i++){
                this.producttiondetail.forEach((value, index) => {
                        if(value.pid===dt[i].pid){
                            let newdt={
                                pid:value.pid,
                                pamount:parseFloat(dt[i].pamount)+parseFloat(value.pamount)
                            }
                            newdata.push(newdt)
                           
                        }
              
                });
            }
            this.producttiondetail=[]
            console.log("newdata",newdata)
            this.UpdateAmountProduct(newdata)
        },
        async UpdateAmountProduct(newdata){
            let round=0
            let totalround=newdata.length
            await newdata.forEach((value,index)=>{
                    let dt={
                        pid:value.pid,
                        pamount:parseFloat(value.pamount)
                    }
                    HTTP.post(`updateamountproduct`,dt).then(res => {
                    console.log(res)
                        if(res.data.status===true){
                              round++
                             if(round===totalround){
                                setTimeout(() => {
                                     this.$bvToast.toast('ยืนยันการรับสินค้าเข้าคลังแล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                },1500);
                            }
                        }
                    }).finally(()=>{
                             if(round===totalround){
                                    setTimeout(()=>{
                                            this.GetProductStock()
                                            this.GetDataProducttion()
                                             this.isLoading=false
                                   },500)
                             }
                    })
            });
        },
        ConfirmDelete(id) {
                this.$bvModal.msgBoxConfirm('ต้องการลบรายการนี้หรือไม่?',{
                    okTitle:'ตกลง',
                    cancelTitle:'ยกเลิก'
                })
                .then(value => {
                    if( value===true){
                        this.DeleteOrder(id)
                    }
                })
        },
        async DeleteOrder(id){
            this.isLoading=true
            let dt={
                id:id
            }
            await HTTP.post(`deleteproducttion`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                  setTimeout(() => {
                       this.$bvToast.toast('ลบรายการที่เลือกแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                  }, 1500);
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
               setTimeout(() => {
                    this.GetDataProducttion()
                    this.GetProductStock()
               }, 500);
             })
        }
    }
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>