<template>
    <section>
          <p class="fnt-24 text-center  mb-0 py-2">จัดการรายการผลิต</p>
        <div class=" bg-white bd-rd  p-lg-5 p-3 height-100">
          
            <div class="row col my-4">
                <div class="col-lg-4 d-flex at p-0">
                  <b-form-select v-model="selected" :options="options"></b-form-select>  
                </div>
            </div>
            <b-table  :fields="fields" :items="producttion" responsive="sm"   :per-page="perPage" :current-page="currentPage"  :filter="selected" hover>
                <template v-slot:cell(namepickup)="data"  >
                    <p class="mb-0" v-if="data.item.namepickup===''">ยังไม่ได้รับการยืนยันเข้าคลัง</p>
                    <p class="mb-0" v-else>{{data.item.namepickup}}</p>
                </template>
                    <template v-slot:cell(detail)="data"  >
                    <p class="fnt-blue mb-0" @click="ProducttionDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                <template v-slot:cell(check)="data"  >
                   <div v-if="data.item.status==='รอตรวจสอบ'">
                        <button class="btn-red mr-1" @click="UpdateProducttion(data.item.pdid)">อัพเดทรายการผลิต</button>  
                      <button class="btn-green" @click="ConfirmProducttion(data.item.pdid,'รายการผลิตถูกต้อง')">รายการผลิตถูกต้อง</button>
                   </div>
                </template>
                 <template v-slot:cell(status)="data"  >
                        <span class="fnt-orange" v-if="data.item.status==='รายการผลิตถูกต้อง'">{{data.item.status}}</span>
                        <span class="fnt-red" v-else-if="data.item.status==='รอตรวจสอบ'">{{data.item.status}}</span>
                        <span class="fnt-green" v-else>{{data.item.status}}</span>
                </template>
            </b-table>
            <p class="d-flex justify-content-end"><b-pagination  v-model="currentPage"   :total-rows="rows"  :per-page="perPage"    aria-controls="my-table"   ></b-pagination></p> 
        </div>
         <b-modal id="seeproducttiondetail" hide-footer :title="'รายละอียดรายการการผลิต #'+idproducttion" centered size="xl">
            <p class="text-center fnt-24">รายการที่ผลิต</p>
            <b-table   :fields="fieldProducttiondetail" :items="producttiondetail" responsive="sm" >
                 <template v-slot:cell(ppicture)="data"  >
                        <img  :src="url+'product/'+data.item.ppicture"  alt="">
                 </template>    
            </b-table>
        </b-modal>
        <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            producttion:[],
            filter:null,
            fields: [
                        { key: 'date', label: 'วันที่ทำการผลิต' ,class: 'text-center align-middle w150',sortable:true}, 
                        { key: 'time', label: 'ช่วงเวลาผลิต' ,class: 'text-center align-middle w100',sortable:true},
                        { key: 'nameproducttion', label: 'ผู้ผลิต' ,class: 'text-center align-middle w150'},
                        { key: 'namepickup', label: 'ผู้ที่รับสินค้าเข้าคลัง' ,class: 'text-center align-middle w150'},
                        { key: 'status', label: 'สถานะรายการ' ,class: 'text-center align-middle w150',sortable:true},   
                        { key: 'detail', label: 'รายละเอียด' ,class: 'text-center align-middle w150'},   
                        { key: 'check', label: 'ตรวจสอบ' ,class: 'text-center align-middle w150'},        
            ],
            fieldProducttiondetail: [
                        { key: 'ppicture', label: 'รูป' ,class: 'text-center align-middle imgtable'},
                        { key: 'pname', label: 'รายการ' ,class: 'text-center align-middle '},
                        { key: 'pdetail', label: 'รายละเอียด' ,class: 'text-center align-middle'},
                        { key: 'amount', label: 'จำนวนที่ผลิต' ,class: 'text-center align-middle'},             
            ],
            perPage: 10,
            currentPage: 1,
            selected: 'รายการผลิตประจำวัน',
            options: [
                { value: 'รายการผลิตประจำวัน', text: 'รายการผลิตประจำวัน' },
                { value: '', text: 'รายการผลิตทั้งหมต' },
               
            ],
            idproducttion:'',
            producttiondetail:[],
            productstock:[]
        }
    },
    mounted(){
        this.GetDataProducttion()
        this.SelectFilter()
    },
    computed: {
      rows() {
        return this.producttion.length
      }
    },
    methods:{
        SelectFilter(){
            this.options.forEach((value, index) => {
                 if(this.selected==='รายการผลิตประจำวัน'&&value.value==='รายการผลิตประจำวัน'){
                        let current_datetime = new Date()
                        var dd = String(current_datetime.getDate()).padStart(2, '0');
                        var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = current_datetime.getFullYear();
                        current_datetime=yyyy+'-'+mm+'-'+dd
                        this.selected=current_datetime
                        value.value=current_datetime
                        console.log( current_datetime)
                 }
            });
        },
        async GetDataProducttion(){
              this.isLoading=true
              await HTTP.post(`selectproducttionlist`).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   this.producttion=res.data.obj
                  
                   console.log("Producttion",this.producttion)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        async ProducttionDetail(producttion){
            console.log(producttion.id)
            this.isLoading=true
            this.idproducttion=producttion.pdid
            this.$bvModal.show('seeproducttiondetail')
            let dt={
                id:producttion.pdid
            }
            HTTP.post(`selectproducttiondetail`,dt).then(res => {
                console.log(res)
                if(res.data.status===true){
                   
                  this.producttiondetail=res.data.obj
                  console.log("odrderdetaildata",this.producttiondetail)
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },100)
                })
        },
        UpdateProducttion(id){
            this.$store.commit('id',id)
            this.$router.push("updateproducttion")
        },
        ConfirmProducttion(id,text){
            this.$bvModal.msgBoxConfirm('ยืนยันรายการผลิตถูกต้อง',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.CheckProducttion(id,text)
                }
            })
        },
        async CheckProducttion(id,text){
          let data={
              id:id,
              status:text
          }
          await HTTP.post(`updateproducttionstatus`,data).then(res =>{
              if(res.data.status===true){
                setTimeout(() => {
                     this.$bvToast.toast('ยืนยันรายการผลิตแล้ว', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'success',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
                }, 1000);
              }
          })
            .finally(()=>{
                setTimeout(() => {
                  this.GetDataProducttion()
                }, 500);
            })
        },
       
     
    
    }
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>