<template>
    <section>
          <p class="text-center fnt-24 mb-0 py-2">อัพเดทรายการผลิต</p>
        <div class="bg-white bd-rd p-lg-5 p-3 height-100">
            
                <b-table 
                    :fields="fields" 
                    :items="product" responsive="sm"  
                    ref="selectableTable"
                    @row-selected="onRowSelected"
                    selectable
                    select-mode="multi" 
                    hover
                >
                <template v-slot:cell(selected)="{ rowSelected }">
                        <template v-if="rowSelected">
                            <span aria-hidden="true" class="fnt-green ">เลือกแล้ว</span>
                        </template>
                        <template v-else>
                            <span aria-hidden="true" class="fnt-orange">ยังไม่ได้เลือก</span>
                        </template>
                </template>
                   <template v-slot:cell(picture)="data"  >
                     <img  :src="url+'product/'+data.item.ppicture" alt="" >
                   </template>
                   <template v-slot:cell(pname)="data" >
                      {{data.item.pname}}{{data.item.pdetail}}
                   </template>
             
                   <template v-slot:cell(want)="data">
                        <b-form-input   type="number" v-model="amount[data.item.pid]"   required    ></b-form-input>
                   </template>
                  
            </b-table>
        <b-modal id="confirmcreate" hide-footer :title="'ยืนยันอัพเดทรายการผลิต '" centered size="lg">
            <b-table :fields="fieldsorder" :items="selected" responsive="sm" >
                <template v-slot:cell(picture)="data"  >
                    <img  :src="url+'product/'+data.item.ppicture" alt="" >
                </template>
                <template v-slot:cell(name)="data" >
                    {{data.item.pname}}{{data.item.pdetail}}
                </template>
                 <template v-slot:cell(pamount)="data" >
                    {{amount[data.item.pid]}}
                </template>
            </b-table>
               <p class="text-center"> <button class="btn-blue" @click="DeleteDatadetail">บันทึกข้อมูลรายการผลิต </button></p>
        </b-modal>
          
     
            <p class="text-center"> <button class="btn-blue" @click="ComfirmCreate">ยืนยันอัพเดทรายการผลิต</button></p>
        </div>
          
            <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    mounted(){
        this.GetProduct()
    },
 
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            product:[],
            dataproducttion:[],
            fields: [
                        { key: 'selected', label: 'รายการที่เลือก', class: 'text-center align-middle'},
                        { key: 'picture', label: 'รูปสินค้า', class: 'text-center align-middle dnone'},
                        { key: 'pname', label: 'รายการ' ,class: 'text-center align-middle w200'},
                     
                        { key: 'pamount', label: 'จำนวนคงเหลือในคลัง' ,class: 'text-center align-middle '},
                        { key: 'want', label: 'จำนวนที่ผลิตได้' ,class: 'text-center align-middle w150'},   
            ],
            fieldsorder: [
                { key: 'picture', label: 'รูปสินค้า', class: 'text-center '},
                { key: 'name', label: 'รายการ' ,class: 'text-center align-middle '},  
                { key: 'pamount', label: 'จำนวนที่ผลิต' ,class: 'text-center align-middle '},
              
            ],
            amount:{
            },
            order:[],
          
            time: 'ช่วงเช้า',
            options: [
                { value: 'ช่วงเช้า', text: 'ช่วงเช้า' },
                { value: 'ช่วงบ่าย', text: 'ช่วงบ่าย' },
              
               
            ],
            selected:[],
            checkAddress:'0',
            name:'',
            length:''
           

        }
    },
    computed:{
        user(){
            return this.$store.state.user
        },
        rows() {
             return this.product.length   
        },
        idstore(){
            return this.$store.state.id
        }
        
    },
    methods:{
        onRowSelected(items) {
            this.selected = items
            this.length=this.selected.length
        },
        async GetProduct(){
             this.isLoading=true
            await HTTP.get(`getproduct`).then(res => {
              console.log(res)
               if(res.data.status===true){
                   this.product=res.data.obj
                
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        ComfirmCreate(){
             if(this.selected.length===0){
                this.$bvToast.toast('กรุณาเลือกรายการสินค้าที่ต้องการ', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'warning',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
               
            }else{
                let check=true
                console.log(this.selected)
                  this.selected.forEach((value, index) => {
                       if(typeof(this.amount[value.pid]) === 'undefined'){
                           check=false
                       }
                 })

                if(check===true){
                    this.$bvModal.show('confirmcreate')
                } else{
                        this.$bvToast.toast('ยังไม่ได้เพิ่มจำนวนรายการที่เลือก', {
                        toaster:'b-toaster-top-center',
                        title:'แจ้งเตือน',
                        variant: 'warning',
                        solid: true,
                        autoHideDelay:2000,
                        appendToast:false,
                    })
                  } 
            }
         
        },
        DeleteDatadetail(){
              this.$bvModal.hide('confirmcreate')
            this.isLoading=true
            let dt={
                    id: this.idstore,
            }
                console.log(dt)
                     HTTP.post(`deleteproducttiondetail`,dt).then(res => {
                         console.log("order detail",res)
                        if(res.data.status===true){
                            console.log("ลบแล้ว")
                            this.UpdateProductitonStatus()
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                  
        },
        UpdateProductitonStatus(){
             let dt={
                    id: this.idstore,
                    status:'รายการผลิตถูกต้อง'
            }
                console.log(dt)
             HTTP.post(`updateproducttionstatus`,dt).then(res => {
                 console.log("order detail",res)
                if(res.data.status===true){
                    console.log("update status")
                    this.CreateDataDetail()
                }
            })
            .catch(e => {
                console.log(e);
            })
                  
        },
        CreateDataDetail(){  
            let round=0
            let totalround=this.selected.length
            this.selected.forEach((value, index) => {
                let dtdetail={
                    id: this.idstore,
                    pid:value.pid,
                    pname:value.pname,
                    pdetail:value.pdetail,
                    pamount:parseFloat(this.amount[value.pid]),
                    ppicture:value.ppicture,
                }
                this.dataproducttion.push(dtdetail)
              
                HTTP.post(`insertproducttiondetail`,dtdetail).then(res => {
                     console.log("order detail",res)
                    if(res.data.status===true){
                       round++
                         if(round===totalround){
                            setTimeout(() => {
                                 this.$bvToast.toast('อัพเดทรายการผลิตแล้ว', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'success',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,
                                })
                            },1500);
                        }
                    }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                     setTimeout(()=>{
                             if(round===totalround){
                                 this.$router.push('producttion')
                             }
                            this.isLoading=false
                        },500)
                })
            });
           
        },
     
    
    
    }
}
</script>
<style scoped>
    img{
        max-height: 50px;
    }
</style>