<template>
    <section>
         <p class="fnt-24 text-center mb-0 py-2">เพิ่มข้อมูลสินค้าใหม่</p>
        <div class=" bg-white bd-rd p-lg-5 p-3 height-100">
           
            <div class="position-relative  d-flex jt at">
                 <label for="uplaodProfile"  class="mb-0 d-flex jt at" >
                   <div> 
                       <div class="upload d-flex jt at">
                            <img  :src="picPreview" class=""   v-if="picPreview!==''">
                        </div>
                        <div class="input-upload  d-flex at jt">                    
                               <p :class="{'fnt-white':picPreview===''}">เพิ่มรูปสินค้า</p>  
                        </div> 
                      </div>
                </label>
            </div>
               <input @change="UploadProductPicture($event)" type="file" class="d-none" id="uplaodProfile">
           <div class="container px-lg-5 mt-4">
               <p class="fnt-24">ข้อมูลสินค้า</p>
                <b-form-group  label="ชื่อสินค้า:" :class="{'danger':$v.name.$error}">
                    <b-form-input   v-model="name"   required      ></b-form-input>
                     <b-form-invalid-feedback :state="!$v.name.$error">
                                        กรุณากรอกข้อมูลสินค้า
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group  label="รายละเอียดสินค้า:" >
                    <b-form-input   v-model="detail"    required    placeholder="*ถ้ามี"  ></b-form-input>
                    
                </b-form-group>
                <b-form-group  label="ราคา:" :class="{'danger':$v.price.$error}">
                    <b-form-input   v-model="price"   required     @input="$v.price.$touch()" ></b-form-input>
                     <b-form-invalid-feedback :state="!$v.price.$error">
                                        กรุณากรอกราคา
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group  label="จำนวนคงเหลือ:" :class="{'danger':$v.amount.$error}">
                    <b-form-input  type="number" v-model="amount"    required     @input="$v.amount.$touch()" min="1"></b-form-input>
                     <b-form-invalid-feedback :state="!$v.amount.$error">
                                        กรุณากรอกจำนวนสินค้า
                    </b-form-invalid-feedback>
                </b-form-group>
               <p class="text-center mt-5">
                    <button class="btn-blue" @click="AddNewProduct">เพิ่มข้อมูลสินค้าใหม่</button>
               </p>
           </div>
                      
                  
        </div>
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import { required, minLength,maxLength,sameAs,helpers,email,numeric} from "vuelidate/lib/validators";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from '@/axios.js'
export default {
    components: {
            Loading
    },
    data(){
        return{
            picPreview:'',
            productPicture:'',
            name:'',
            detail:'',
            price:'',
            amount:'',
            picture:'',
            isLoading:false
            
        }
    },
    methods:{
        async UploadProductPicture(e) {
            const file = e.target.files[0];
              this.picPreview = URL.createObjectURL(file);
            let img = await this.uploadImage(file)
           
        },
        async uploadImage(file) {
                if ( file.type === 'image/jpeg' || file.type === 'image/png' ||file.type === 'image/gif') {
                            if (file.size < 1024 * 1024 * 2) {
                              
                              
                                  this.isLoading=true
                                    const formData = new FormData();
                                    formData.append('fileToUpload', file);
                                    const config = {
                                        headers: {
                                            'Content-Type': 'multipart/form-data',
                                        },
                                    };
                                    await HTTP.post('/uploadproductpicture', formData, config)
                                    .then((res) => {
                                        if(res.data.status=true){
                                            this.picture =  res.data.obj
                                        } 
                                    })
                                    .finally(()=>{
                                        setTimeout(() => {
                                                this.isLoading=false
                                        }, 500);
                                    })
                            }else{
                                this.$bvToast.toast('ไฟล์รูปใหญ่เกินไป', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'danger',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,
                                })
                            }
                } else {
                        this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'danger',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                }
            
        },
        async AddNewProduct(){
            if(this.picture!==''){
                if(this.$v.$invalid){
                    this.$v.$touch()
                }else{
                          this.isLoading=true
                            let datanewproduct={
                                name:this.name,
                                detail:this.detail,
                                price:this.price,
                                amount:this.amount,
                                picture:this.picture
                            }
                            await HTTP.post(`addnewproduct`,datanewproduct).then(res => {
                                        console.log(res)
                                    if(res.data.status===true){
                                            setTimeout(()=>{
                                                this.$bvToast.toast('เพิ่มข้อมูลสินค้าใหม่แล้ว', {
                                                    title:'แจ้งเตือน',
                                                    toaster:'b-toaster-top-center',
                                                    variant: 'success',
                                                    solid: true,
                                                    autoHideDelay:2000,
                                                    appendToast:false,  
                                                
                                                })
                                            },2000)
                                            setTimeout(() => {
                                                this.$router.push('product')
                                            }, 1000);
                                    
                                    }else{
                                    
                                            this.$bvToast.toast('เกิดข้อผิดพลาด', {
                                                toaster:'b-toaster-top-center',
                                                title:'แจ้งเตือน',
                                                variant: 'danger',
                                                solid: true,
                                                autoHideDelay:2000,
                                                appendToast:false,
                                                
                                            })
                                        
                                    }
                                })
                                .catch(e => {
                                    console.log(e);
                                })
                                .finally(()=>{
                                    setTimeout(()=>{
                                        this.isLoading=false
                                    },500)    
                                })
                }
            }else{
                 this.$bvToast.toast('ยังไม่ได้เพิ่มรูปภาพ', {
                    toaster:'b-toaster-top-center',
                     title:'แจ้งเตือน',
                     variant: 'warning',
                     solid: true,
                     autoHideDelay:2000,
                     appendToast:false,
                     
                })
            }
        }
    },
    validations:{
        name:{
            required
        },
        price:{
           numeric,
            required
        },
        amount:{
            required,
            numeric
        },
    }
    
}
</script>
<style scoped>
    .upload{
        background-color: rgba(0,0,0,.4);
    }
    img{
        max-height:200px ;
    }
</style>