<template>
    <section>
         <p class="fnt-24 text-center mb-0 py-2">จัดการคลังสินค้า</p>
        <div class="  bg-white bd-rd p-lg-5 p-3 height-100">
          
              <p class="text-right"><a href="addproduct"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มสินค้าใหม่</button> </a></p>
            <b-table hover  :fields="fields" :items="product" responsive="sm"  >
                   <template v-slot:cell(picture)="data"  >
                     <img  :src="url+'product/'+data.item.ppicture" alt="" >
                   </template>
                    
                   <template v-slot:cell(pname)="data">
                       {{data.item.pname}}{{data.item.pdetail}}
                   </template>
                   <template v-slot:cell(updatedata)="data">
                        <span class="fnt-orange" @click="UpdateProduct(data.item)"><i class="fas fa-edit"></i></span>
                   </template>
                   <template v-slot:cell(deletedata)="data">
                       <span class="fnt-red" @click="ConfirmDelete(data.item.pid)"><i class="fas fa-trash"></i></span>
                   </template>
            </b-table>
           
        </div>
         <b-modal id="CheckStock" hide-footer :title="'เพิ่มจำนวนวัตถุดิบใหม่'"  header-class="bg-header-alert" >
               <p>   มีรายการสินค้าในคลังมีเหลือน้อยกว่า 100 หน่วย</p>
         </b-modal>
     <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
     components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            product:[],
            fields: [
                        { key: 'picture', label: 'รูปสินค้า', class: 'text-center '},
                        { key: 'pname', label: 'รายการ' ,class: 'text-center align-middle w200 '},
                        { key: 'pprice', label: 'ราคา' ,class: 'text-center align-middle w100'},
                        { key: 'pamount', label: 'จำนวนคงเหลือ' ,class: 'text-center align-middle w100'},
                        { key: 'updatedata', label: 'อัพเดทข้อมูล' ,class: 'text-center align-middle w100'},
                        { key: 'deletedata', label: 'ลบข้อมูล' ,class: 'text-center align-middle w100'},
            ],

            isLoading:false
        }
    },
    mounted(){
        this.GetDataProduct()
        
    },
    methods:{
        
        async GetDataProduct(){
            this.isLoading=true
              await HTTP.get(`getproduct`).then(res => {
           
               if(res.data.status===true){
                   this.product=res.data.obj
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                    this.isLoading=false
                    this.CheckStock()
                 },500)
             })
        },
        async CheckStock(){
             this.product.forEach((value,index)=>{
                 if(value.pamount<10){
                     this.$bvModal.show('CheckStock')
                 }
             })
        },
        async UpdateProduct(productid){
          this.$store.commit('getIdProduct',productid)
          this.$router.push("updateproduct")
        },
        ConfirmDelete(productid) {
                this.$bvModal.msgBoxConfirm('ต้องการลบรายการสั่งซื้อหรือไม่?',{
                    okTitle:'ตกลง',
                    cancelTitle:'ยกเลิก'
                })
                .then(value => {
                    if( value===true){
                        this.DeleteProduct(productid)
                    }
                })
        },
    
        async DeleteProduct(productid){
            this.isLoading=true
       
            let dt={
                productid:productid
            }
            console.log(dt)
              await HTTP.post(`deleteproduct`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                setTimeout(() => {
                     this.$bvToast.toast('ลบข้อมูลแล้ว', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'success',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
                }, 1000);
                 this.GetDataProduct()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                
             })
        }

    }
}
</script>>
<style scoped>
  img{
        max-height:50px!important;
}

</style>>