<template>
    <section>
         <p class="fnt-24 text-center  mb-0 py-2">อัพเดทข้อมูลสินค้า</p>
        <div class="  p-lg-5 p-3 bg-white bd-rd height-100" @GetIdProduct="GetIdProduct">
            <div class="position-relative  d-flex jt at">
                 <label for="uplaodproduct"  class="mb-0 d-flex jt at" >
                   <div> 
                       <div class="upload d-flex jt at">
                               <img :src="picPreview" class="" v-if="picPreview!==''" >
                                <img :src="url+'product/'+productPicture" v-else  >
                        </div>
                        <div class="input-upload  d-flex at jt">                    
                               <p >เปลี่ยนรูปสินค้า</p>  
                        </div> 
                      </div>
                </label>
            </div>
               <input  @change="updateProductPicture($event)" type="file" class="d-none" id="uplaodproduct">
             <div class="container px-lg-5 mt-4">
               <p class="fnt-24">ข้อมูลสินค้า</p>
                <b-form-group  label="ชื่อสินค้า:" :class="{'danger':$v.name.$error}">
                    <b-form-input   v-model="name"   required      ></b-form-input>
                     <b-form-invalid-feedback :state="!$v.name.$error">
                            กรุณากรอกข้อมูลสินค้า
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group  label="รายละเอียดสินค้า:" >
                    <b-form-input   v-model="detail"    required    placeholder="*ถ้ามี"  ></b-form-input>
                    
                </b-form-group>
                <b-form-group  label="ราคา:" :class="{'danger':$v.price.$error}">
                    <b-form-input   v-model="price"   required     @input="$v.price.$touch()" ></b-form-input>
                     <b-form-invalid-feedback :state="!$v.price.$error">
                            กรุณากรอกราคา
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group  label="จำนวนคงเหลือ:" :class="{'danger':$v.amount.$error}">
                    <b-form-input  type="number" v-model="amount"    required     @input="$v.amount.$touch()" min="1"></b-form-input>
                     <b-form-invalid-feedback :state="!$v.amount.$error">
                            กรุณากรอกจำนวนสินค้า
                    </b-form-invalid-feedback>
                </b-form-group>
               <p class="text-center mt-5">
                    <button class="btn-blue" @click="updateDataProduct">อัพเดทข้อมูลสินค้า</button>
               </p>
           </div>
                      
                  
        </div>
         <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import { required, minLength,maxLength,sameAs,helpers,email,numeric} from "vuelidate/lib/validators";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from '@/axios.js'
export default {
    components: {
            Loading
    },
    mounted(){
        this.GetIdProduct()
    },
    computed:{
        Idproduct(){
            return this.$store.state.idproduct
        }
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            productPicture:'',
            name:'',
            detail:'',
            price:'',
            amount:'',
            picPreview:'',
            oldpicture:'',
            isLoading:false
        }
    },
    methods:{
        async GetIdProduct(id){
            this.productPicture=this.Idproduct.ppicture
            this.name=this.Idproduct.pname
            this.detail=this.Idproduct.pdetail
            this.price=this.Idproduct.pprice
            this.amount=this.Idproduct.pamount
            this.oldpicture=this.Idproduct.ppicture
        
        },
        async updateProductPicture(e){
                const file = e.target.files[0];
                this.picPreview = URL.createObjectURL(file);
                await this.uploadImage(file)
        },
        async uploadImage(file){
            if ( file.type === 'image/jpeg' || file.type === 'image/png' ||file.type === 'image/gif') {
                                if (file.size < 1024 * 1024 * 2) {
                                
                                
                                    this.isLoading=true
                                        const formData = new FormData();
                                        formData.append('fileToUpload', file);
                                        const config = {
                                            headers: {
                                                'Content-Type': 'multipart/form-data',
                                            },
                                        };
                                        await HTTP.post('/uploadproductpicture', formData, config)
                                        .then((res) => {
                                            if(res.data.status=true){
                                            this.productPicture =  res.data.obj
                                                this.deleteProductPicture()
                                            } 
                                        })
                                        .finally(()=>{
                                            setTimeout(() => {
                                                    this.isLoading=false
                                            }, 500);
                                        })
                                }else{
                                    this.$bvToast.toast('ไฟล์รูปใหญ่เกินไป', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'danger',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                }
                    } else {
                            this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'danger',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:false,
                            })
                    }
                    
        },
        async deleteProductPicture(){
                let dt={
                    productpic:this.oldpicture
                }
            
                await HTTP.post('/deleteproductpicture',dt)
                    .then((res) => {
                        
                        if(res.data.status=true){
                        console.log("ลบรูปภาพสำเร็จ")
                        this.updateProducDatatPicture()
                        }else{
                            console.log("ลบรูปภาพไม่ได้")
                        } 
                    })
                    .catch(e => {
                    console.log(e);
                    
                    });
        },
        async updateProducDatatPicture(){
            this.isLoading=true
                let dt={
                    id:this.Idproduct.pid,
                    product:this.productPicture
                }
                console.log(this.Idproduct.pd_id)
                await HTTP.post(`updateproductpicture`,dt).then(res => {
                console.log(res)
                if(res.data.status===true){
                    setTimeout(() => {
                        this.$bvToast.toast('อัพเดทรูปใหม่แล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                        })

                    }, 1000);
            
                        
                }else{
                        console.log("อัดเดทข้อมูลรูปไม่ได้")
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>
                    setTimeout(() => {
                        this.isLoading=false
                }, 500));
                
        },
        async updateDataProduct(){
               if(this.$v.$invalid){
                   this.$v.$touch()
               }else{
                    this.isLoading=true
                    let dt={
                        id:this.Idproduct.pid,
                        name:this.name,
                        detail:this.detail,
                        price:parseFloat(this.price),
                        amount:parseFloat(this.amount),
                    }
                    console.log(this.Idproduct.pd_id)
                    await HTTP.post(`updatedataproduct`,dt).then(res => {
                    console.log(res)
                    if(res.data.status===true){
                        setTimeout(() => {
                            this.isLoading=false
                            this.$bvToast.toast('อัพเดทข้อมูลสินค้าแล้ว', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'success',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:false,
                            }) 
                            },1500);
                        
                            
                    }else{
                            console.log("อัพเดทข้อมูลไม่ได้")
                    }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                        setTimeout(() => {
                            this.isLoading=false
                            this.$router.push('product')
                        }, 500);
                    })
               }
                
                
        }
    },   
    validations:{
        name:{
            required
        },
        price:{
           
            required
        },
        amount:{
            required,
            numeric
        },
    }  
    
}
</script>
<style scoped>
    .upload{
        background-color: rgba(0,0,0,.4);
    }
    img{
        max-height:200px ;
    }
</style>