.btn-blue{
    min-width:150px;
    background: white!important;
    color: rgb(83, 146, 249)!important;
    position: relative;
    z-index: 0;
    padding: 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(83, 146, 249)!important;
}
.btn-blue:hover{
     background:  rgb(83, 146, 249)!important;
     color:white!important;
}
.btn-secondary {
    color: unset!important;
    background-color:unset!important;
    border-color:unset!important;
    border:unset!important;
}
.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: unset!important;
}
.btn-green{
   min-width:150px;
    background: transparent!important;
    color: #218838!important;   
    position: relative;
    z-index: 0;
    padding: 8px;
    margin:2px; 
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color:#218838!important;
}
.btn-green:hover{
     background:#218838!important;
     color:white!important;
}
.btn-red{
   min-width:150px;
    background: transparent!important;
    color: #c82333!important;
    position: relative;
    z-index: 0;
    padding: 8px;
    margin:2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color:#c82333!important;
}
.btn-red:hover{
     background:#c82333!important;
     color:white!important;
}
.btn-orange{
   min-width:150px;
    background: transparent!important;
    color: #f18444!important;
    position: relative;
    z-index: 0;
    padding: 8px;
    margin:2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color:#f18444!important;
}
.btn-orange:hover{
     background:#f18444!important;
     color:white!important;
}