 .fnt-14 {
    font-size: 14px!important;
  }
  .fnt-16 {
    font-size: 16px!important;
  }
  .fnt-18 {
    font-size: 18px!important;
  }
  .fnt-20 {
    font-size: 20px!important;
  }
  .fnt-22 {
    font-size: 22px!important;
  }
  .fnt-24 {
    font-size: 24px!important;
  }
  .fnt-26 {
    font-size: 26px!important;
  }
  .fnt-28 {
    font-size: 28px!important;
  }
  .fnt-30 {
    font-size: 30px!important;
  }
  .fnt-32 {
    font-size: 32px!important;
  }
  .fnt-36 {
    font-size: 36px!important;
  }
  .fnt-40 {
    font-size: 40px!important;
  }
  .fnt-48{
    font-size: 48px;
  }
  .fnt-60 {
    font-size: 60px!important;
  }
  .fnt-orange{
    color:#FF905A;
  }
  .fnt-orange:hover{
    opacity: 0.6;
  }
  .fnt-red{
    color: #dc3545 !important;
  }
  .fnt-red:hover{
    opacity: 0.6;
  }
  .fnt-green{
    color:rgb(31, 191, 68)!important;
  }
  .fnt-green :hover{
    opacity: 0.6;
  }
  .fnt-grey{
    color:#7A7A7A;
  }
  .fnt-white{
    color:white!important;
  }
  .fnt-darkblue{
    color: #0051a6;
  }
  .fnt-darkblue:hover{
    color: #0051a6;
  }
  .fnt-blue{
    color: rgb(83, 146, 249)!important;
  }
  .fnt-blue:hover{
    opacity: 0.6;
  }
  
  .text-indent{
    text-indent :16px
  }
  .dottedUnderline { 
    border-bottom: 1px dotted;
  }