.navbar-expand-lg{
    background: #00509B;
  }
  .employee.navbar-expand-lg {
      background: #335FFF;
  }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    border:unset!important;
    color: #BADDFD!important;
  }
  .navbar-light .navbar-nav .nav-link {
      color: white!important;
  }
  .navbar-brand  {
     
    
       color: #0371D6!important;
  }
  .n .dropdown-menu {
    background: #0371D6!important;
    top: 130%;
  }
  .n .dropdown-item {
    color:white!important;
  }
  .n .dropdown-item:hover, .dropdown-item:focus {
    color: #BADDFD;
    text-decoration: none;
    background-color: #1286F0;
}