.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
    padding:5px!important
}
.header{
    height: 50px!important;
    background-color: #1e1e21;
}
.v-sidebar-menu .vsm--mobile-bg {
    background-color: #2a2a2e!important;
}
.v-sidebar-menu .vsm--icon {
    background-color: #2a2a2e!important;
}
.v-sidebar-menu .vsm--link_level-1.vsm--link_exact-active, .v-sidebar-menu .vsm--link_level-1.vsm--link_active {
    -webkit-box-shadow: 3px 0px 0px 0px  white !important;
    box-shadow:  3px 0px 0px 0px white inset !important;
}


.sidebar-body{
    width:260px;
    transition: width 0.5s;
}
.sidebar-body-close{
    width:0px;
    transition: width  0.4s;
}
.sidebar-close{
opacity: 1;
position: relative;
background: white;
width:260px;
left:-260px;
min-height:100%;
z-index: 1000;

transition: all 0.4s;

}
.sidebar-open{
opacity: 1;
transition: all 0.3s;

background: white;
box-shadow: 2px 10px 8px #888888;
position: relative;
width:260px;
min-height:100%;
left:0px;

z-index: 1000;
}
.sidebar-profile{
border-radius: 100px;
width:50px;
height: 50px;
overflow: hidden;

}
.side-menu a{
color: #16181b;
}
.side-menu a:hover{
text-decoration: unset;
color: #16181b;
}
.side-menu p {
    margin-left:2px;
    padding:10px;
    margin-bottom: 0px;
}
.side-menu p:hover{
cursor: pointer;
background-color: #EDEDED;
}
.sidebar-icon{
font-size: 20px;
margin-right:5px;
}


