<template>
    <section>
        <TemplateManager>
             <ManageWithdrawStaple/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManageWithdrawStaple from '@/components/manager/managewithdrawstaple/ManageWithdrawStaple.vue'
export default {
    components:{
        TemplateManager
        ,ManageWithdrawStaple
    }
}
</script>