<template>
    <section>
        <TemplateManager>
             <UpdateWithdrawStaple/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import UpdateWithdrawStaple from '@/components/manager/managewithdrawstaple/UpdateWithdrawStaple.vue'
export default {
    components:{
        TemplateManager
        ,UpdateWithdrawStaple
    }
}
</script>