<template>
    <section>
        <p class="fnt-24 text-center  mb-0 py-2">จัดการรายการเบิกสินค้า</p>
        <div class=" bg-white bd-rd p-lg-5 p-3 height-100">
            
            <div class=" offset-lg-3 col-lg-6 p-0">
                <p class="fnt-24 mt-2">คลังสินค้าคงเหลือ</p>
                 <b-table  :fields="fielddataproduct" :items="dataproduct" responsive="lg"   >
                      <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'product/'+data.item.ppicture"  alt="">
                    </template>   
                    <template v-slot:cell(name)="data"  >
                       {{data.item.pname}}{{data.item.pdetail}}
                    </template>    
                </b-table>
            </div>
               
            <div class="row px-3 my-4">
                <div class="col-lg-2 d-flex at p-0">
                  <b-form-select v-model="selected" :options="options" @change="SelectFilter()"></b-form-select>  
                </div>
                <!-- <div class="col-lg-2  text-center p-0">
                   <span class="text-right"><a href="addwithdrawproduct"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มรายการเบิกสินค้าใหม่</button> </a></span>
                </div>   -->
            </div>
             
            <b-table  :fields="fields" :items="product" responsive="lg"   :per-page="perPage" :current-page="currentPage"  :filter="selected" hover>
                <template v-slot:cell(seedetail)="data"  >
                   <p class="fnt-blue mb-0 cp" @click="DataDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                <template v-slot:cell(check)="data" >
                   <div class="d-flex jt" v-if="data.item.status==='รายการเบิกได้'">
                           <button class="btn-green" @click="ConfirmWithdraw(data.item.wpid)" >ยืนยันทำการเบิก</button>
                   </div>
                </template>   
                 <template v-slot:cell(status)="data"  >
                        <span class="fnt-orange" v-if="data.item.status==='รายการเบิกได้'">{{data.item.status}}</span>
                        <span class="fnt-red" v-else-if="data.item.status==='รอตรวจสอบ'">{{data.item.status}}</span>
                        <span class="fnt-green" v-else>{{data.item.status}}</span>
                </template>
                <template v-slot:cell(withdrawdate)="data"  >
                    {{data.item.withdrawdate|dateFomatNotTimeEn}}
                </template>
            </b-table>
             <p class="d-flex justify-content-end"><b-pagination  v-model="currentPage"   :total-rows="rows"  :per-page="perPage"    aria-controls="my-table"   ></b-pagination></p> 

            <b-modal id="seeDataDetail" hide-footer :title="'รายละอียดรายการเบิกสินค้า #'+id" centered size="lg">
             <p class="text-center fnt-24">รายการที่เบิก</p>
                <b-table   :fields="fielddetail" :items="productdetaildata" responsive="sm" >
                    <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'product/'+data.item.ppicture"  alt="">
                    </template>   
                    <template v-slot:cell(name)="data"  >
                       {{data.item.pname}}{{data.item.pdetail}}
                    </template>    
                </b-table>
           
            </b-modal>
              
        </div>
         
        <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            product:[],
            fields: [
                        { key: 'withdrawdate', label: 'วันที่ทำรายการขอเบิก' ,class: 'text-center align-middle w150',sortable: true},
                        { key: 'namepicker', label: 'ชื่อผู้เบิก' ,class: 'text-center align-middle w150'},
                        { key: 'status', label: 'สถานะ' ,class: 'text-center align-middle w150 ',sortable: true},
                         { key: 'seedetail', label: 'รายละเอียด' ,class: 'text-center align-middle w150'},
                        { key: 'check', label: 'ยืนยันทำการเบิก' ,class: 'text-center align-middle w150'},
            ],
            productdetaildata:[],
            fielddataproduct: [
                        { key: 'picture', label: 'รูป', class: 'text-center imgtable  align-middle '},
                        { key: 'name', label: 'รายการ', class: 'text-center  align-middle '},
                      
                        { key: 'pamount', label: 'จำนวน', class: 'text-center  align-middle'},
                                
            ],
            fielddetail: [
                        { key: 'picture', label: 'รูป', class: 'text-center imgtable  align-middle dnone'},
                        { key: 'name', label: 'รายการ', class: 'text-center  align-middle'},
                        { key: 'amount', label: 'จำนวน', class: 'text-center  align-middle'},
                                
            ],
            selected: 'รายการเบิกประจำวัน',
            options: [
                { value: 'รายการเบิกประจำวัน',  text: 'รายการเบิกประจำวัน' },
                 { value: 'เบิกแล้ว',  text: 'รายการที่เบิกออกจากคลังแล้ว' },
                { value: 'รายการเบิกได้',  text: 'รายการที่เบิกได้' },
                { value: 'รอตรวจสอบ',  text: 'รายการที่รอตรวจสอบ' },
             
            ],
            perPage: 10,
            currentPage: 1,
            isLoading:false,
            id:'',
            date:null,
            
            dataproduct:[]
        }
    },
    mounted(){
       
        this.SelectFilter()
        this.GetData()
        this.GetDataproduct()
       
    },
    computed: {
      rows() {
        return this.product.length
      },
      iduser(){
          return this.$store.state.user
      }
    },
    methods:{
        SelectFilter(){
               
            this.options.forEach((value, index) => {
                 if(this.selected==='รายการเบิกประจำวัน'&&value.value==='รายการเบิกประจำวัน'){
            
                        let current_datetime = new Date()
                        var dd = String(current_datetime.getDate()).padStart(2, '0');
                        var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = current_datetime.getFullYear();
                        current_datetime=yyyy+'-'+mm+'-'+dd
                        this.selected=current_datetime
                        value.value=current_datetime
                        console.log( current_datetime)
                 }
            });
        },
        async GetData(){
            this.isLoading=true
                  
              await HTTP.post(`selectallproductlist`).then(res => {
         
               if(res.data.status===true){
                   this.product=res.data.obj
                
                   console.log("product",this.product)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        },
        async GetDataproduct(){
            this.isLoading=true
                  
              await HTTP.get(`getproduct`).then(res => {
         
               if(res.data.status===true){
                   this.dataproduct=res.data.obj
                
                   console.log("product",this.dataproduct)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        },
        async DataDetail(order){
          
            this.isLoading=true
            console.log("order address",order)
            this.id=order.wpid
            this.$bvModal.show('seeDataDetail')
            let dt={
                id:order.wpid
            }
            HTTP.post(`selectproductdetail`,dt).then(res => {
            console.log(res)
                if(res.data.status===true){
                   
                  this.productdetaildata=res.data.obj
                  console.log("odrderdetaildata",this.productdetaildata)
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },100)
                })
        },
        ConfirmWithdraw(id) {
            this.$bvModal.msgBoxConfirm('ยืนยันว่าทำเบิกแล้ว',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.UpdateStatus(id)
                }
            })
            .catch(err => {
              
            })
        },
        async UpdateStatus(id){
             this.isLoading=true
             
             let name=this.iduser.firstname+" "+this.iduser.lastname
            let dt={
                id:id,
                status:'เบิกแล้ว',
                namepicker:name
            }
              await HTTP.post(`updateproductstatus`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
              
                
               }
             }).finally(()=>{
                 setTimeout(() => {
                        this.UpdateAmount(id)
                 }, 300);
             })
            // this.UpdateAmount(id)
        },
        async UpdateAmount(order){
            this.productdetaildata=[]
            let dt={
                id:order
            }
            console.log(dt)
            HTTP.post(`selectproductdetail`,dt).then(res => {
       
                if(res.data.status===true){
                   
                  res.data.obj.forEach((value, index) => {
                        let data={
                            pid:value.pid,
                            pamount:value.amount
                        }
                        this.productdetaildata.push(data)
                    });
                   console.log(this.productdetaildata)
                    this.CalAmount()
                }
                })
                
        },
        CalAmount(){
            let dt=[]
            this.dataproduct.forEach((value, index) => {
                let data={
                    pid:value.pid,
                    pamount:value.pamount
                }
                dt.push(data)
            });
            console.log("datastock",dt)
            console.log("dataorder",this.productdetaildata)
            let newdata=[]
            for(var i=0;i<dt.length;i++){
                this.productdetaildata.forEach((value, index) => {
                        if(value.pid===dt[i].pid){
                            let newdt={
                                pid:value.pid,
                                pamount:parseFloat(dt[i].pamount)-parseFloat(value.pamount)
                            }
                            newdata.push(newdt)
                        }
                });
            }
            this.productdetaildata=[]
            console.log("newdata",newdata)
            this.UpdateAmountProduct(newdata)
        },
        async UpdateAmountProduct(newdata){
              let round=0
            let totalround=newdata.length
          await newdata.forEach((value,index)=>{
                let dt={
                    pid:value.pid,
                    pamount:parseFloat(value.pamount)
                }
                HTTP.post(`updateamountproduct`,dt).then(res => {
                  console.log(res)
                    if(res.data.status===true){
                               round++
                             if(round===totalround){
                                setTimeout(() => {
                                     this.$bvToast.toast('ยืนยันการเบิกแล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                },1500);
                            }
                    }
                }).finally(()=>{
                    if(round===totalround){
                         setTimeout(()=>{        
                                  this.GetData()
                                 this.GetDataproduct()
                        },500)
                                 
                    }
                })
           });
         
        }
    
    }
    
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>