<template>
	<div class="bg-footer">
		<div class="container pt-5 pb-5 ">
			<div class="row">
				<div class="col-lg-4 mb-3 mb-lg-0 ">
					<p class="fnt-24 mb-0">น้ำดื่มราชมงคลล้านนา</p>
                    <p class="fnt-24 fnt-darkblue">Rajamangala Drinking Water</p>
                    <p class="fnt-grey">ระบบบริหารจัดการศุนย์การเรียนรู้โรงงานผลิตน้ำดื่มต้นแบบเพื่อการศึกษา</p>
				</div>
				<div class="col-lg-4 mb-3 mb-lg-0">
					<h5 class="mb-24">เมนู </h5>
					<ul>
						
						<li>
							<!-- <router-link to="/service">บริการของเรา</router-link> -->
							<a href="/cart">ตะกร้าสินค้า</a>
						</li>
						<li>
							<!-- <router-link to="/about">เกี่ยวกับเรา</router-link> -->
							<a href="orderconfirm">รายการสินค้าที่สั่ง</a>
						</li>
					
					</ul>
				</div>
				<div class="col-lg-4 mb-3 mb-sm-0">
					<h5 class="mb-24">ติดต่อ</h5>
					<ul>
						<li>
							<router-link to="/help">ศูนย์การเรียนรู้น้ำดื่มต้นแบบเพื่อการศึกาา ตั้งอยุ่ที่ 98 หมู่ 8 ตำบลป่าป้อง อำเภอดอยสะเก็ด จังหวัดเชียงใหม่</router-link>
						</li>
						<li>
							<router-link to="/started">เบอร์โทรติดต่อ : (053)721 654 ต่อ 1624</router-link>
						</li>
						<li>
							<router-link to="/started">อีเมลติดต่อ : mazzard@rmutl.ac.th</router-link>
						</li>
			
					</ul>
				</div>
			
			</div>
		</div>
		<div class="bg-blue fnt-white">
			<div class="container bg-ddd">
				<div class="row  mt-lg-0 py-2 align-items-center bg-ddd">
					<div class="col-12 col-md-8  copyRight ">
						<p class="mb-md-0 text-center text-sm-left">สงวนลิขสิทธิ์ © พ.ศ. 2562 : <span class="text-green">มหาวิทยาลัยเทคโนโลยราชมงคลล้านนา เชียงใหม่</span></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
	.bg-blue{
		background: #485D8E!important;

	}
	.bg-footer{
		background:#EEF2FC;
		position: relative;
	
	}
		ul{
		padding: 0;
		margin: 0;
	}
	li{
		list-style: none;
		margin-bottom:8px;
	}
	a{
		color: #7A7A7A;

	}
	h5{
		font-weight: 400!important;
	}
	.iconFooter{
		opacity: 0.6;
	}
	.iconFooter:hover{
		opacity: 1;
	}
	@media only screen and (max-width: 767px){
		.borderIcon{
			margin:0 auto;
		}
		.copyRight{
			font-size: 13px;
		}
	}
	@media only screen and (max-width: 1024px){
		h5{
			font-size: 18px!important;
		}
	}
</style>>
