<template>
    <section>
        <div id="header" class="bg-header" > 
            <Navbar/>
        </div> 
        <div id="body">
            <slot/>
        </div>
        <div id="footer">
            <Footer/>
        </div>
    </section>
        
</template>
<script>
import Navbar from "../template/Navbar";
import Footer from "../template/Footer";

export default {
    components:{
        Navbar,
        Footer,
    }    
}
</script>

<style  scoped>
    .bg-header{
        background: #fff;
    }
</style>