<template>
<section>
   <b-navbar toggleable="lg" v-if="datauser===''">
    <b-navbar-brand href="#">น้ำดื่มราชมงคล</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="home">หน้าแรก</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto align-items-lg-center">
          <b-nav-item href="signin" >เข้าสู่ระบบ</b-nav-item>
          <b-nav-item href="signup"><button class="btn-blue">สมัครสมาชิก</button></b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
 
  <b-navbar toggleable="lg" v-else>
    <b-navbar-brand href="#">น้ำดื่มราชมงคล</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <center>  
        <div class="profile-pic mt-4 d-lg-none">
              <img  src="@/assets/no-profile-picture.jpg" class="w-100" v-if="datauser===''">
              <img  :src="url+'userprofile/'+datauser.profile" class="w-100" v-else>
        </div>
        </center>
      <b-navbar-nav>
        <b-nav-item href="home">หน้าแรก</b-nav-item>
        <b-nav-item href="cart">ตะกร้าสินค้า</b-nav-item>
        <b-nav-item href="orderconfirm">รายการสินค้าที่สั่ง</b-nav-item>
         <b-nav-item href="edituserpassword" class="d-lg-none">อัพเดทข้อมูลบัญชี</b-nav-item>
        <b-nav-item href="editprofile" class="d-lg-none">อัพเดทข้อมูลส่วนตัว</b-nav-item>
        <b-nav-item @click="signout" class="d-lg-none">ออกจากระบบ</b-nav-item>
          
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto align-items-lg-center  d-none d-lg-flex at ">
        <div class="profile-pic mr-2">
              <img  src="@/assets/no-profile-picture.jpg" class="w-100" v-if="datauser===''">
              <img  :src="url+'userprofile/'+datauser.profile" class="w-100" v-else>
               
        </div>
        <b-dropdown right style="color:white;" class="n">
          <template v-slot:button-content ><span classs="fnt-white" > {{datauser.fname}}</span></template>
           <b-dropdown-item href="edituserpassword">อัพเดทข้อมูลบัญชี</b-dropdown-item>
          <b-dropdown-item href="editprofile">อัพเดทข้อมูลส่วนตัว</b-dropdown-item>
           <b-dropdown-item @click="signout">ออกจากระบบ</b-dropdown-item>
        </b-dropdown>
      
      </b-navbar-nav>
      
    
    </b-collapse>
  </b-navbar>

</section>
 
  
</template>
<script>

export default {
     components:{
      
    },
    data(){
      return{
          user:'',
            url:process.env.VUE_APP_IMAGE_URL,
       
      }
    },
    computed: {
        datauser () {
          return this.$store.state.user
        }
    },
    methods:{
      signout(){
          this.$router.push('home')
          this.$store.commit('signOut')
      }
    }

}
</script>
<style scoped>
 
  img{
    border-radius: 10px;
  }

</style>