<template>
    <section class=" d-block d-lg-flex">
          <!-- เมนูบนคอม -->
        <div class="sidebar-body print d-none d-lg-block" :class="{'sidebar-body-close':collapsed===false}" >
            <div :class="{'sidebar-open':collapsed===true}" class="sidebar-close ">   
                <div class="header d-flex at jt">
                    <p class="text-center fnt-white mb-0"> ผู้จัดการ</p>
                </div>
                <div class="sidebar-menu-close " :class="{'sidebar-menu-open':collapsed===true}">
                    <div class="row col udl py-2 pl-4">
                        <div class="d-flex at">
                               <div class="sidebar-profile " >
                                    <img  :src="url+'employeeprofile/'+user.profilepic" class=" w-100" v-if="user!==''"> 
                                    <img  src="@/assets/no-profile-picture.jpg" class=" w-100" v-else> 

                                </div> 
                                <div>
                                   <p class="text-center ml-3 mb-0">{{user.firstname}} {{user.lastname}}</p>
                                </div>
                        </div>
                    </div>
                 

                    <div class="side-menu  my-2">
                        <div>
                          
                            <a href="employee"><p class="">จัดการข้อมูลพนักงาน</p></a>
                            <p>
                            
                                <b-dropdown  text="จัดการคลัง" >
                                        <b-dropdown-item href="product">คลังสินค้า</b-dropdown-item>
                                        <b-dropdown-item href="staple">คลังวัตถุดิบ</b-dropdown-item>
                                        <b-dropdown-item href="packaging">คลังบรรจุภัณฑ์</b-dropdown-item>
                                </b-dropdown>
                            </p>
                            <p>
                            
                                <b-dropdown  text="จัดการรายการเบิก" >
                                        <b-dropdown-item href="withdrawproduct">เบิกสินค้า</b-dropdown-item>
                                        <b-dropdown-item href="withdrawstaple">เบิกวัตถุดิบ</b-dropdown-item>
                                        <b-dropdown-item href="withdrawpackaging">เบิกบรรจุภัณฑ์</b-dropdown-item>
                                </b-dropdown>
                            </p>
                            <a href="producttion"><p class="">จัดการรายการผลิต</p></a> 
                            <a href="order"><p class="">จัดการรายการสั่งซื้อ</p></a> 
                            <a href="shipping"><p class="">จัดการรายการขนส่ง</p></a>
                            <a href="cost"><p class="">บันทึกข้อมูลค่าใช้จ่าย</p></a>
                            <p>
                                <b-dropdown  text="รายงาน" >
                                    <b-dropdown-item href="reportstockproduct">รายงานสินค้าคงคลัง</b-dropdown-item>
                                    <b-dropdown-item href="reportstockstaple">รายงานวัตถุดิบคงคลัง</b-dropdown-item>
                                    <b-dropdown-item href="reportstockpackaging">รายงานบรรจุภัณฑ์คงคลัง</b-dropdown-item>
                                     <b-dropdown-item href="reportproducttion">รายงานการผลิต</b-dropdown-item>
                                    <b-dropdown-item href="reportaddstaple">รายงานการนำเข้าวัตถุดิบ</b-dropdown-item>
                                    <b-dropdown-item href="reportaddpackaging">รายงานการนำเข้าบรรจุภัณฑ์</b-dropdown-item>
                                    <b-dropdown-item href="reportgetpackaging">รายงานบรรจุภัณฑ์คงเหลือจากลูกค้า</b-dropdown-item>
                                    <b-dropdown-item href="reportwithdrawproduct">รายงานการเบิกสินค้า</b-dropdown-item>
                                    <b-dropdown-item href="reportwithdrawstaple">รายงานการเบิกวัตถุดิบ</b-dropdown-item>
                                    <b-dropdown-item href="reportwithdrawpackaging">รายงานการเบิกบรรจุภัณฑ์</b-dropdown-item>
                                     <b-dropdown-item href="reportcost">รายงานค่าใช้จ่าย</b-dropdown-item>
                                    <b-dropdown-item href="reportsale">รายงานการขาย</b-dropdown-item>
                                </b-dropdown>
                            </p>
                           
                            <p class="cp" @click="ConfirmSignOut"><span class="sidebar-icon"><i class="fas fa-sign-out-alt"></i></span>ออกจากระบบ</p>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <!-- เมนูบนโทรศัพท์ -->
        <div class="d-lg-none print">
                            <b-navbar toggleable="lg">
                    <b-navbar-brand href="#">ผู้จัดการ</b-navbar-brand>
                    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                    <b-collapse id="nav-collapse" is-nav>
                    <center>  
                      
                        </center>
                        <b-navbar-nav>
                            <b-nav-item href="employee">จัดการข้อมูลพนักงาน</b-nav-item>
                            <b-nav-item-dropdown text="จัดการคลัง" right>
                                <b-dropdown-item href="product">คลังสินค้า</b-dropdown-item>
                                <b-dropdown-item href="staple">คลังวัตถุดิบ</b-dropdown-item>
                                <b-dropdown-item href="packaging">คลังบรรจุภัณฑ์</b-dropdown-item>
                            </b-nav-item-dropdown>
                            <b-nav-item-dropdown text="จัดการรายการเบิก" right>
                                <b-dropdown-item href="withdrawproduct">เบิกสินค้า</b-dropdown-item>
                                <b-dropdown-item href="withdrawstaple">เบิกวัตถุดิบ</b-dropdown-item>
                                <b-dropdown-item href="withdrawpackaging">เบิกบรรจุภัณฑ์</b-dropdown-item>
                            </b-nav-item-dropdown>
                            <b-nav-item href="producttion" >จัดการรายการผลิต</b-nav-item>
                            <b-nav-item href="order" >จัดการรายการสั่งซื้อ</b-nav-item>
                            <b-nav-item href="shipping" >จัดการรายการขนส่ง</b-nav-item>
                            <b-nav-item href="cost" >บันทึกข้อมูลค่าใช้จ่าย</b-nav-item>
                            <b-nav-item-dropdown text="รายงาน" right>
                                  <b-dropdown-item href="reportstockproduct">รายงานสินค้าคงคลัง</b-dropdown-item>
                                    <b-dropdown-item href="reportstockstaple">รายงานวัตถุดิบคงคลัง</b-dropdown-item>
                                    <b-dropdown-item href="reportstockpackaging">รายงานบรรจุภัณฑ์คงคลัง</b-dropdown-item>
                                     <b-dropdown-item href="reportproducttion">รายงานการผลิต</b-dropdown-item>
                                    <b-dropdown-item href="reportaddstaple">รายงานการนำเข้าวัตถุดิบ</b-dropdown-item>
                                    <b-dropdown-item href="reportaddpackaging">รายงานการนำเข้าบรรจุภัณฑ์</b-dropdown-item>
                                    <b-dropdown-item href="reportgetpackaging">รายงานบรรจุภัณฑ์คงเหลือจากลูกค้า</b-dropdown-item>
                                    <b-dropdown-item href="reportwithdrawproduct">รายงานการเบิกสินค้า</b-dropdown-item>
                                    <b-dropdown-item href="reportwithdrawstaple">รายงานการเบิกวัตถุดิบ</b-dropdown-item>
                                    <b-dropdown-item href="reportwithdrawpackaging">รายงานการเบิกบรรจุภัณฑ์</b-dropdown-item>
                                     <b-dropdown-item href="reportcost">รายงานค่าใช้จ่าย</b-dropdown-item>
                                    <b-dropdown-item href="reportsale">รายงานการขาย</b-dropdown-item>
                                </b-nav-item-dropdown>
                            <b-nav-item @click="ConfirmSignOut">ออกจากระบบ</b-nav-item>
                        </b-navbar-nav>
                  
                    
                    
                    </b-collapse>
                </b-navbar>
        </div>
        <div  class="w-100">
            <div class="header d-none d-lg-flex sp" >   
                <div class="d-flex ml-1 at" >
                    <p class="fnt-white mb-0 fnt-24 mx-2"  @click="collapsed=(collapsed)?false:true"><i class="fas fa-bars"></i></p>
                    
                </div>
                
            </div>
            <div class="bg-pd p-lg-3 "  >
                <slot></slot>
            </div>        
        </div>
         <b-modal id="check" hide-header hide-footer  :no-close-on-backdrop="true">
                <p class="fnt-24 text-center">กรุณาเข้าสู่ระบบ</p>
            <p class="text-center"> <a href="/adminsignin"><button class="btn-blue">เข้าสู๋ระบบ</button></a></p>
                  
            </b-modal>
    </section>
   
</template>
<script>
    export default {
        computed:{
        user(){
                return this.$store.state.user
            }
        },
        mounted(){
               this.CheckSignin()
        },
        data() {
            return {
                 url:process.env.VUE_APP_IMAGE_URL,
                collapsed:true
            }
        },
     
        methods:{
            ConfirmSignOut() {
                this.$bvModal.msgBoxConfirm('ต้องการออกจากระบบหรือไม่?',{
                    okTitle:'ตกลง',
                    cancelTitle:'ยกเลิก'
                })
                .then(value => {
                    if( value===true){
                        this.SignOut()
                    }
                })
            },
            SignOut(){
                    this.$store.commit('signOut')
                    this.$router.push('/adminsignin')
            },
            CheckSignin(){
                if(this.user===''){
                     this.$bvModal.show('check')
                }
            }
        },
         
        }
</script>
<style scoped>

.height{
    height: unset!important;
}
.header-body{
    background-color: #2a2a2e;
}

</style>