<template>
   <router-view :key="$route.fullPath"/>
</template>

<script>
export default {
  name: 'App',
 
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Mitr:300&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Kanit&display=swap'); */
#app {
  font-family: 'Mitr', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2B2B2B;
  font-size: 16px;
  height: 100%;
  background: #f1f1f1;
}
body{
   font-family: 'Mitr', sans-serif!important;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    padding:0!important;
}
.carousel-indicators {
   
    bottom: -50px!important;
   
}

.box-shadow{
      box-shadow: 1px 5px 5px #888888;
 }
:focus {
    outline:unset!important;
}
.bd-b{
  border:solid 1px #dee2e6;
}
.bd{
        border:1px solid #ACACAC;
        border-radius: 10px;
} 
.bd-rd{
    border-radius: 5px;
}
.bg-white{
  background: #fafafa;
}
.bg-grey{
  background: rgb(250, 249, 249);
}
.bg-pd{
        background-color: #E5EDF6;
}
.height-container{
  min-height:570px;
}
.cp{
  cursor: pointer;
}
.width30{
        width: 450px!important;
}
 img .img100  {
  width: 100%!important;
}
.profile-pic{
    border-radius: 10px;
    width:40px;
    height: 40px;
    overflow: hidden;
}
.upload{
         overflow: hidden;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        position: relative;
}
.input-upload{
    width:200px;
    height: 200px;
    color:transparent;
    position: absolute;
    bottom:0px;
    border-radius: 10px;
    transition: all 0.5s;
    font-size: 18px;
}
.input-upload:hover{
    color: white;
    background-color: rgba(0,0,0,.4);
}
.cs{
  cursor: pointer;
}

.h790{
  min-height:790px!important;
}
th{
  text-align: center!important;
}
.jt{
  justify-content: center;
}
.at{
  align-items: center;
}
.sp{
  justify-content: space-between;
}
.udl{
    border-bottom:solid 2px #E5E5E5;
}
.bg-header-alert{
  /* background:#1e1e21 ;
  color:white; */
}
.imgtable img{
    max-width: 50px;
}
.fnt-logo{
    font-size: 100px;
}
.height-100{
  min-height:803px!important;
}
.h-report{
   min-height:854px!important;
}
@media only screen and (min-width: 1025px) and (max-width:1540px) {
.height-100{
  min-height:587px!important;
}
}
 @media only screen and (max-width: 768px) {
   .w80{
    min-width:80px;
  }
  .w100{
     min-width:100px;
  }
  .w150{
     min-width:150px;
  }
  .w200{
       min-width:200px;
  }
  .w300{
     min-width:300px;
  }
  .dnone{
    display:none;
  }
  .fnt-logo{
    font-size: 50px;
}
 }

@media print {
  .sidebar-open{
    display: none;
  }
  .sidebar-body-close{
      display: none;
  }
  .headder{
      display: none;
  }
  .print{
    display:none;
  }
}
</style>
