<template>
  <section>
    <Header>
      <Cart/>
    </Header>
  </section>
</template>

<script>
import Cart from '@/components/cart/Cart.vue'
import Header from '@/components/template/Header.vue'
export default {
    components: {
    Cart,
    Header
  }
}
</script>