<template>
    <section>
        <Header>
            <EditUserPassword/>
        </Header>
    </section>
</template>
<script>
import EditUserPassword from "@/components/service/EditUserPassword";
import Header from '@/components/template/Header.vue'
export default {
    components:{
        Header,
        EditUserPassword
    }
}
</script>