<template>
    <section>
        <Header>
            <EditProfile/>
        </Header>
    </section>
</template>
<script>
import EditProfile from "@/components/service/EditProfile";
import Header from '@/components/template/Header.vue'
export default {
    components:{
        Header,
        EditProfile
    }
}
</script>