<template>
  <section>
    <Header>
      <Home/>
    </Header>
  </section>
</template>

<script>
import Home from '@/components/home/Home.vue'
import Header from '@/components/template/Header.vue'
export default {
  components: {
    Home,
    Header
  }
}
</script>