<template>
    
</template>>
<template>
  <section>
    <Header>
      <OrderUser/>
    </Header>
  </section>
</template>

<script>
import OrderUser from '@/components/order/OrderUser.vue'
import Header from '@/components/template/Header.vue'
export default {
    components: {
    OrderUser,
    Header
  }
}
</script>