<template>
    <section>
        <Header>
            <Signup/>
        </Header>
    </section>
</template>
<script>
import Signup from "@/components/service/Signup";
import Header from '@/components/template/Header.vue'
export default {
    components:{
        Header,
        Signup
    }
}
</script>