<template>
    <section>
            <SigninEmployee/>
    </section>
</template>
<script>
import SigninEmployee from "@/components/service/SigninEmployee";

export default {
    components:{
        SigninEmployee
    }
}
</script>