<template>
    <section>
        <Header>
            <Signin/>
        </Header>
    </section>
</template>
<script>
import Signin from "@/components/service/Signin";
import Header from '@/components/template/Header.vue'
export default {
    components:{
        Header,
        Signin
    }
}
</script>