<template>
    <section>
            <p class="fnt-24 text-center  mb-0 py-2">จัดการรายการเบิกวัตถุดิบ</p>
        <div class=" bg-white bd-rd p-lg-5 p-3  height-100">
        
            <div class="row col my-4">
                <div class="col-lg-4 d-flex at p-0">
                  <b-form-select v-model="selected" :options="options"></b-form-select>  
                </div>
              
            </div>
             
            <b-table  :fields="fields" :items="Staple" responsive="lg"   :per-page="perPage" :current-page="currentPage"  :filter="selected" hover>
                <template v-slot:cell(seedetail)="data"  >
                   <p class="fnt-blue mb-0" @click="DataDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                <template v-slot:cell(withdrawdate)="data"  >
                    {{data.item.withdrawdate|dateFomatNotTimeEn}}
                </template>
                 <template v-slot:cell(status)="data"  >
                        <span class="fnt-orange" v-if="data.item.status==='รายการเบิกได้'">{{data.item.status}}</span>
                        <span class="fnt-red" v-else-if="data.item.status==='รอตรวจสอบ'">{{data.item.status}}</span>
                        <span class="fnt-green" v-else>{{data.item.status}}</span>
                </template>
                <template v-slot:cell(check)="data" >
                   <div class="d-flex jt" v-if="data.item.status==='รอตรวจสอบ'">
                        <button class="btn-red mr-lg-2" @click="UpdateWithdraw(data.item.wsid)" >อัพเดทรายการเบิก</button> 
                        <button class="btn-green" @click="UpdateStatus(data.item.wsid,'รายการเบิกได้')">อนุมัติ</button>
                   </div>
                   <div  class="fnt-blue" v-else>
                    ตรวจสอบแล้ว
                   </div>
         
                </template>   
               
            </b-table>
             <p class="d-flex justify-content-end"><b-pagination  v-model="currentPage"   :total-rows="rows"  :per-page="perPage"    aria-controls="my-table"   ></b-pagination></p> 

            <b-modal id="seeDataDetail" hide-footer :title="'รายละอียดรายการเบิกวัตถุดิบ #'+id" centered size="lg">
             <p class="text-center fnt-24">รายการที่เบิก</p>

                <b-table   :fields="fielddetail" :items="stapledetaildata" responsive="sm" >
                    <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'staple/'+data.item.spicture"  alt="">
                    
                    </template>   
                     <template v-slot:cell(sname)="data"  >
                        {{data.item.sname}}{{data.item.sdetail}}
                    
                    </template>  
                   
                </b-table>
           
            </b-modal>
          
                
       
            <b-modal id="modal-dl" hide-footer title="ยืนยันการลบข้อมูล">
                 <center><b-button class="mt-2 w-50" variant="outline-success" block @click="DeleteStaple">ยืนยัน</b-button></center>
            </b-modal>
        </div>
        
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            Staple:[],
            fields: [
                      
                        { key: 'withdrawdate', label: 'วันที่ทำรายการขอเบิก' ,class: 'text-center align-middle w150'},
                        { key: 'namepicker', label: 'ชื่อผู้เบิก' ,class: 'text-center align-middle w150'},
                        { key: 'status', label: 'สถานะ' ,class: 'text-center align-middle w150'},
                        { key: 'seedetail', label: 'รายละเอียด' ,class: 'text-center align-middle w150'},
                        { key: 'check', label: 'ตรวจสอบรายการเบิก' ,class: 'text-center align-middle w150'},
                       
            ],
            stapledetaildata:[],
            fielddetail: [
                        { key: 'picture', label: 'รูป', class: 'text-center imgtable  '},
                        { key: 'sname', label: 'รายการ', class: 'text-center '},
                        { key: 'amount', label: 'จำนวน', class: 'text-center '},
                                
            ],
            selected: '',
            options: [
                { value: '', text: 'รายการทั้งหมด' },
                { value: 'รอตรวจสอบ', text: 'รายการที่รอการตรวจสอบ' },
                { value: 'รายการเบิกได้', text: 'รายการที่รอทำการเบิก' },
                { value: 'เบิกแล้ว'  , text: 'รายการที่เบิกออกจากคลังแล้ว' },   
            ],
               perPage: 5,
            currentPage: 1,
            isLoading:false,
            id:'',
            
        }
    },
    mounted(){
        this.GetDataStaple()
    },
    computed: {
      rows() {
        return this.Staple.length
      }
    },
    methods:{
        async GetDataStaple(){
            this.isLoading=true
              await HTTP.post(`selectallstaplelist`).then(res => {
            this.selected=''
               if(res.data.status===true){
                   this.Staple=res.data.obj
                   console.log("Staple",this.Staple)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },1000)
             })
        },
        async DataDetail(order){
           
            this.isLoading=true
            console.log("order address",order)
            this.id=order.wsid
            this.$bvModal.show('seeDataDetail')
            let dt={
                id:order.wsid
            }
            HTTP.post(`selectstapledetail`,dt).then(res => {
            console.log(res)
                if(res.data.status===true){
                   
                  this.stapledetaildata=res.data.obj
                  console.log("odrderdetaildata",this.stapledetaildata)
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },100)
                })
        },
        async UpdateStatus(id,text){
                this.isLoading=true
                let dt={
                    id:id,
                    status:text,
                  
                }
                console.log("dt=",dt)
                await HTTP.post(`updatestaplestatus`,dt).then(res => {
                   console.log(res)
                    if(res.data.status===true){
                           setTimeout(()=>{
                            this.$bvToast.toast('อัพเดทสถานะแล้ว', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'success',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,
                                })
                            },600)
                            this.GetDataStaple()
                    }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                        this.isLoading=false
                    },500)
                })   
        },
        async UpdateStaple(stapleid){
          this.$store.commit('id',stapleid)
          this.$router.push("updatestaple")
        },
        async DeleteStaple(Stapleid){
            console.log(Stapleid)
          
            let dt={
                ids:Stapleid
            }
            console.log(dt)
              await HTTP.post(`deletestaple`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                 this.$bvToast.toast('ลบข้อมูแล้ว', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'success',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
                 this.GetDataStaple()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   
                 },1000)
             })
        },
        showMsgBoxOne(id) {
            this.$bvModal.msgBoxConfirm('ต้องการลบรายการสั่งซื้อหรือไม่?',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.DeleteStaple(id)
                }
            })
            .catch(err => {
                // An error occurred
            })
        },
        UpdateWithdraw(id){
            this.$store.commit('id',id)
            this.$router.push('updatewithdrawstaple')
        }
    }
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>