<template>
    <section>
         <p class="text-center fnt-24 mb-0 py-2">อัพเดทรายการเบิกวัตถุดิบใหม่</p>
        <div class="bg-white bd-rd p-lg-5 p-3 height-100">
             
                <b-table 
                    :fields="fields" 
                     :items="staple" responsive="sm"   
                        ref="selectableTable"
                        @row-selected="onRowSelected"
                        selectable
                        select-mode="multi" 
                        hover 
                >
                    <template v-slot:cell(selected)="{ rowSelected }">
                         <template v-if="rowSelected">
                            <span aria-hidden="true" class="fnt-green ">เลือกแล้ว</span>
                        </template>
                        <template v-else>
                            <span aria-hidden="true" class="fnt-orange">ยังไม่ได้เลือก</span>
                        </template>
                    </template>
                   <template v-slot:cell(picture)="data"   >
                     <img  :src="url+'staple/'+data.item.spicture" alt="" >
                   </template>
                   <template v-slot:cell(sname)="data" >
                      {{data.item.sname}} {{data.item.sdetail}}
                   </template>
                  
                   <template v-slot:cell(amount)="data">
                       {{ data.item.amount }} 
                   </template>
                   <template v-slot:cell(want)="data">
                  
                        <b-form-input  type="number" v-model="amount[data.item.sid]"   required    placeholder="ป้อนจำนวนที่ต้องการ"  min="0"></b-form-input>
                
                   </template>
                  
            </b-table>
            <b-modal id="confirmcreate" hide-footer :title="'ยืนยันอัพเดทรายการเบิกวัตถุดิบ '" centered size="lg">
                <b-table :fields="fieldsorder" :items="selected" responsive="sm" >
                    <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'staple/'+data.item.spicture" alt="" >
                    </template>
                    <template v-slot:cell(name)="data" >
                        {{data.item.sname}}{{data.item.sdetail}}
                    </template>
                    <template v-slot:cell(samount)="data" >
                        {{amount[data.item.sid]}}
                    </template>
                </b-table>
                <p class="text-center"> <button class="btn-blue" @click="DeleteDatadetail">บันทึกข้อมูลรายการเบิกวัตถุดิบ</button></p>
            </b-modal>
          
          
            <p class="text-center"> <button class="btn-blue" @click="ComfirmCreate">ยืนยันอัพเดทรายการเบิก</button></p>
        </div>
          
            <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    mounted(){
        this.GetProduct()
    },
    computed:{
        user(){
            return this.$store.state.user
        },
        idstore(){
            return this.$store.state.id
        }
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            staple:[],
            fields: [
                { key: 'selected', label: 'รายการที่เลือก', class: 'text-center align-middle'},
                { key: 'picture', label: 'รูปวัตถุดิบ', class: 'text-center align-middle w150 dnone'},
                { key: 'sname', label: 'รายการ' ,class: 'text-center align-middle w150 '},
                { key: 'samount', label: 'คงเหลือ' ,class: 'text-center align-middle w100 '},
                { key: 'want', label: 'จำนวนที่ต้องการเบิก' ,class: 'text-center align-middle w200'},
            ],
                fieldsorder: [
                  { key: 'picture', label: 'รูปวัตถุดิบ', class: 'text-center '},
                { key: 'sname', label: 'รายการ' ,class: 'text-center align-middle '},
                { key: 'samount', label: 'จำนวนที่ต้องการ' ,class: 'text-center align-middle '},
            ],
            amount:{},
            orderwithdraw:[],
            idorderwithdraw:'',
            address:'',
            selected:[],
            length:''
          
        }
    },
    methods:{
        onRowSelected(items) {
            this.selected = items
            this.length=this.selected.length
        },
        
        async GetProduct(){
             this.isLoading=true
            await HTTP.get(`selectstaple`).then(res => {
              console.log(res)
               if(res.data.status===true){
                   this.staple=res.data.obj
                
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
        ComfirmCreate(){
             if(this.selected.length===0){
                this.$bvToast.toast('กรุณาเลือกรายการวัตถุดิบที่ต้องการ', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'warning',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
               
            }else{
                let check=true
                console.log(this.selected)
                  this.selected.forEach((value, index) => {
                       if(typeof(this.amount[value.sid]) === 'undefined'){
                           check=false
                       }
                 })

                if(check===true){
                    this.$bvModal.show('confirmcreate')
                } else{
                        this.$bvToast.toast('ยังไม่ได้เพิ่มจำนวนรายการที่เลือก', {
                        toaster:'b-toaster-top-center',
                        title:'แจ้งเตือน',
                        variant: 'warning',
                        solid: true,
                        autoHideDelay:2000,
                        appendToast:false,
                    })
                  } 
            }
         
        },
        DeleteDatadetail(){
             this.$bvModal.hide('confirmcreate')
             console.log("id",this.idstore)
            this.isLoading=true
            let dt={
                    id: this.idstore,
            }
                console.log(dt)
                     HTTP.post(`deletewithdrawstapledetail`,dt).then(res => {
                         console.log("order detail",res)
                        if(res.data.status===true){
                            console.log("ลบแล้ว")
                            this.UpdateProductitonStatus()
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                  
        },
        UpdateProductitonStatus(){
             let dt={
                    id:this.idstore,
                    status:'รายการเบิกได้'
            }
                console.log(dt)
             HTTP.post(`updatestaplestatus`,dt).then(res => {
                if(res.data.status===true){
                    console.log("update status")
                    this.CreateOrderWithdrawDetail()
                }
            })
            .catch(e => {
                console.log(e);
            })
                  
        },
        CreateOrderWithdrawDetail(){
            let round=0
            let totalround=this.selected.length
             this.selected.forEach((value, index) => {
                    let OrderWithdrawdetail={
                        id: this.idstore,
                        spicture:value.spicture,
                        sid:value.sid,
                        sname:value.sname,
                        sdetail:value.sdetail,
                        samount:parseFloat(this.amount[value.sid]) 
                    }
                    console.log("ข้อมูลที่จะส่งรอบที่ ",index,"มีข้อมูล",OrderWithdrawdetail)
                    
                     HTTP.post(`addstapledetail`,OrderWithdrawdetail).then(res => {
                         console.log(res)
                        if(res.data.status===true){
                              round++
                             if(round===totalround){
                                setTimeout(() => {
                                     this.$bvToast.toast('อัพเดทรายการเบิกแล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                },1500);
                            }
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(()=>{
                         setTimeout(()=>{
                             if(round===totalround){
                                 this.$router.push('withdrawstaple')
                             }
                            this.isLoading=false
                        },500)
                    })
            });
     
        }
    }
}
</script>
<style scoped>
    img{
        max-height: 50px;
    }
</style>