<template>
    <section>
        <TemplateManager>
             <AddNewOrder/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import AddNewOrder from '@/components/manager/manageorder/AddNewOrder.vue'
export default {
    components:{
        TemplateManager
        ,AddNewOrder
    }
}
</script>