<template>
    <section>
        <TemplateManager>
             <ManageOrder/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import ManageOrder from '@/components/manager/manageorder/ManageOrder.vue'
export default {
    components:{
        TemplateManager
        ,ManageOrder
    }
}
</script>