<template>
    <section>
        <p class="text-center fnt-24 mb-0 py-2">บันทึกข้อมูลบรรจุภัณฑ์</p>
        
        <div class="bg-white bd-rd  p-lg-5 p-3 height-100">
              <div class=" offset-lg-2 col-lg-8">
                <p class="fnt-24 mt-4">คลังบรรจุภัณฑ์</p>
                 <b-table  :fields="fields" :items="packaging" responsive="lg"   >
                     
                      <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'packaging/'+data.item.pkpicture" alt="" >
                    </template>   
                      <template v-slot:cell(pkname)="data" >
                        {{data.item.pkname}}{{data.item.pkdetail}}
                    </template>   
                    
                   <template v-slot:cell(addamount)="data">
                        <span class="fnt-green" @click="ShowModalAddStock(data.item)"><i class="fas fa-box-open"></i></span>
                   </template>
                </b-table>
            </div>
        </div>
        <b-modal id="AddToStock" hide-footer :title="'บันทึกบรรจุภัณฑ์คงเหลือจากลูกค้า'" centered  >
                      <p class="text-center">  <img  :src="url+'packaging/'+datapackaging.pkpicture" alt="" ><br>
                          <!-- รายการ+}<br> -->
                        
                         {{datapackaging.pkname}}{{datapackaging.pkdetail}} 
                        
                      </p>      
                <p class="d-flex jt ">   <b-form-input  class="w-50" v-model="amount" type="number" min="0" ></b-form-input></p>
                <p class="text-center mt-4" @click="Close">  <button class="btn-red">ยกเลิก</button><button class="btn-green" @click="ConfirmAddToStock">ยืนยัน</button></p>
        </b-modal>
    
            <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    mounted(){
        this.GetPackaging()
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            isLoading:false,
            packaging:[],
            datapackaging:[],
            fields: [
                   
                        { key: 'picture', label: 'รูป', class: 'text-center '},
                        { key: 'pkname', label: 'รายการ' ,class: 'text-center align-middle '},
                        { key: 'pkamount', label: 'จำนวนคงเหลือในคลัง' ,class: 'text-center align-middle '},
                        { key: 'addamount', label: 'บันทึกข้อมูล' ,class: 'text-center align-middle '},
            ],
    
            amount:''
      
           

        }
    },
    computed:{
        user(){
            return this.$store.state.user
        },
          rows() {
                return this.packaging.length
                
         }
    },
    methods:{
        async GetPackaging(){
             this.isLoading=true
            await HTTP.get(`selectpackaging`).then(res => {
              console.log(res)
               if(res.data.status===true){
                   this.packaging=res.data.obj
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                     this.isLoading=false
                 },500)
             })
        },
       async ShowModalAddStock(data){
            
            this.datapackaging=data
            console.log("data",this.datapackaging)
          
            this.$bvModal.show('AddToStock')
        },
        async ConfirmAddToStock(){
            this.isLoading=true
            this.$bvModal.hide('AddToStock')
            console.log(this.datapackaging)
            let total=parseFloat(this.amount)+parseFloat(this.datapackaging.pkamount)
            let dt={
                type:"บรรจุภัณฑ์คงเหลือจากลูกค้า",
                total:total,
                pkid:this.datapackaging.pkid,
                pkname:this.datapackaging.pkname,
                pkdetail:this.datapackaging.pkdetail,
                pkpicture:this.datapackaging.pkpicture,
                addamount:this.amount
            }
            console.log(dt)
              await HTTP.post(`addamountpackaging`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   setTimeout(() => {
                        this.$bvToast.toast('บันทึกบรรจุภัณฑ์คงเหลือจากลูกค้าแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                    }, 1000);
                    this.amount=0
                 this.GetDataPackaging()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(() => {
                     this.GetPackaging()
                    this.isLoading=false
                 }, 500);
             })
        },Close(){
            this.$bvModal.hide('AddToStock')
        }
    }
}
</script>
<style scoped>
    img{
        max-height: 50px;
    }
</style>