<template>
    <section class="container bg-white  bd-rd my-2 p-5">
        <div class="row">
            <div class="col-sm-2 d-flex at jt">
                <p class="text-center"><img src="../../assets/rmutllogo.png" alt=""></p>
            </div>
            <div class="col-sm-7">
                  ศูนย์เรียนรู้โรงงานผลิตน้ำดื่มต้นแบบเพื่อการศึกษา<br>
                มหาวิทยาลยเทคโนโลยีราชมงคลล้านนา<br>
                ตั้งอยู่ที่ 98 หมู่ 8 ต.ป่าป้อง อ.ดอยสะเก็ด จ.เชียงใหม่ 50220<br>
                ติดต่อสั่งน้ำได้ที่ สำนักงานบริหารทรัพสินและสิทธิประโยชน์<br>
                โทร 094-865-8789 ,053-921-444 ต่อ 1703, 1120
            </div>
            <div class="col d-sm-flex align-items-end justify-content-end">
                <span class="dottedUnderline">วันที่ {{dataorder.shippingdate|dateFomatNotTimeEn}}</span>
            </div>
           
        </div>
        <p class="fnt-24 text-center mt-4">ใบเสร็จรับเงิน</p>
        <p class="dottedUnderline"><b>ชื่อลูกค้า: </b>{{dataorder.user}}<br></p> 
        <p class="dottedUnderline"><b>ที่อยู่: </b>ตั่งอยู่ที่ {{dataorder.address}} ต.{{dataorder.subdistrict}}   เขต.{{dataorder.area}}   อ.เมือง จ.เชียงใหม่<br></p>
  
        
        <b-table   :fields="fieldorderdetail" :items="orderdetaildata" responsive="sm" >
            <template v-slot:cell(name)="data"  >
                {{data.item.pname}}{{data.item.pdetail}}
            </template> 
             <template v-slot:cell(net)="data"  >
                           {{Number(data.item.net).toLocaleString()}}
                </template>
        </b-table>
        <div class="row mx-1">
            <div class="col-8  bd-b d-flex at py-2 ">
            ราคาสินค้ารวมทั้งสิ้น
            </div>
            <div class="col bd-b ml-1 d-flex at">
                {{Number(dataorder.total).toLocaleString()}}
            </div>

        </div>
        <p class="fnt-24">หมายเหตุ</p>
        <p>1. ได้รับสินค้าตามรายการข้างต้นนี้ไว้ถูกต้องและอยู่ในสภาพสมบูรณ์เรียบร้อยแล้วทุกประการ</p>
        <p>2. สินค้าตามรายการข้างต้น หากมีการเสียหายหรือขาดตกบกพร่องประการใดโปรดแจ้งให้ทราบภายใน 3 วัน นับจากวันที่รับสินค้า มิฉะนั้นผู้ขายจะไม่รับผิดชอบความเสียหายใดๆ ทั้งสิ้น</p>
        <p>3. กรุณาเก็บเอกสารฉบับนี้ไว้สำหรับยืนยันการชำระเงิน</p>
        <div class="offset-sm-9 col-sm-3 text-center ">
            <p class="mb-1">-------------------------</p>
            <p class="mb-1">ผู้รับเงิน</p>
            <p class="mb-1">วันที่.............../.............../.............../</p>
        </div>
         <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
         <p class="text-center d-lg-none d-sm-none d-lg-block">
          <button class="btn-red mr-1" @click="Back()">ย้อนกลับ</button> 
             <button class="btn-green" @click="Print()">พิมพ์</button>
         </p>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components:{
         Loading
    },
    mounted(){
        this.GetOrderDetail()
       
    },
    computed:{
        dataorder(){
            return this.$store.state.id
        }
        
    },
    data(){
        return{
            orderdetaildata:[],
            fieldorderdetail: [  
                        { key: 'name', label: 'รายการ',class:'width align-middle w150' },
                        { key: 'pamount', label: 'จำนวน', class: 'text-center align-middle'},
                        { key: 'pprice', label: 'ราคาต่อหน่วย', class: 'text-center align-middle'},   
                        { key: 'net', label: 'จำนวนเงิน', class: 'text-center align-middle'},         
            ],
            isLoading:true
        }
    },
    methods:{
        Print(){
            window.print()
        },
        async GetOrderDetail(){
            this.isLoading=true
             let dt={
                od_id: this.dataorder.oid
            }
           this.$bvModal.show('seeorderdetail')
            HTTP.post(`getorderdetail`,dt).then(res => {
              console.log("order detail",res)
                if(res.data.status===true){
                 
                  this.orderdetaildata=res.data.obj
                  console.log("odrderdetaildata",this.orderdetaildata)
                  
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                         this.isLoading=false
                        this.Calculate()
                    },500)
                })
        },
        Calculate(){
              let newdata=[]
            this.orderdetaildata.forEach((value, index) => {
                let net=parseFloat(value.pamount)*parseFloat(value.pprice)
                let dt={
                    pname:value.pname,
                    pdetail:value.pdetail,
                    pamount:value.amount,
                    pprice:value.pprice,
                    net:net
                }
              newdata.push(dt)
            })
            this.orderdetaildata=newdata
           setTimeout(() => {
                // this.print()
                // this.$router.push('shipping')
           }, 200);
        },
        Back(){
            this.$router.push('shipping')
        }
    }
}
</script>

<style scoped>

      .imgtable img{
        max-height: 35px;
    }
</style>>