<template>
    <section>
         <p class="fnt-24 text-center mb-0 py-2">รายการขนส่งประจำวัน</p>
        <div class=" bg-white bd-rd p-lg-5 p-3 height-100" v-if="typeof shipping[0] !== 'undefined'">
           
            <div class="col-lg-4 p-0">
                <b-form-select v-model="selected" class="mb-3" @change="GetDataDailyOrder" @input="GetDataDailyOrder">
                        <template v-slot:first>
                            <b-form-select-option :value="null" >-- เลือกรายการขนส่ง --</b-form-select-option>
                        </template>
                        <b-form-select-option    
                            :value='item.spid'
                            v-for=" item in shipping" 
                            :key="item.value" 
                        > 
                            รายการขนส่ง รหัส{{item.spid}} สถานะ:{{item.status}}
                        </b-form-select-option>  
                </b-form-select>
            </div>
            <div v-if="typeof datashippinglist[0] !== 'undefined'">
                <p class="">รายการขนส่งประจำวันที่ : {{datashippinglist[0].shippingdate|dateFomatNotTimeEn}} </p>
                <p>มูลค่ารายการ {{Number(datashippinglist[0].totalprice).toLocaleString()}} บาท</p>
                <p>เงินที่เก็บได้ ณ ปัจจุบัน {{Number(datashippinglist[0].income).toLocaleString()}} บาท</p>
                <p>สถานะดำเนินการ {{datashippinglist[0].status}} </p>
            </div>
   
            <b-table  :fields="fields" :items="order" responsive="sm"  hover>
                 <template v-slot:cell(address)="data"  >
                    ที่อยู่ {{data.item.address+" ตำบล"+ data.item.subdistrict+" เขต" +data.item.area}}
                </template>
                <template v-slot:cell(status)="data"  >
                    <p class="fnt-orange mb-0" v-if="data.item.status==='กำลังดำเนินการจัดส่ง'"> {{data.item.status}}</p>
                    <p class="fnt-green mb-0" v-else-if="data.item.status==='จัดส่งสินค้าแล้ว'"> {{data.item.status}}</p>
                     <p class="fnt-danger mb-0" v-else> {{data.item.status}}</p>
                </template>
                <template v-slot:cell(seedetail)="data"  >
                   <p class="fnt-blue mb-0" @click="GetOrderDetail(data.item.oid)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                 <template v-slot:cell(check)="data"  >
                   <div class="d-flex jt" v-if="data.item.status==='กำลังดำเนินการจัดส่ง'">
                        <button class="btn-red mr-lg-2" @click="ConfirmUpdateOrderList(data.item.oid)" >จัดส่งไม่ได้</button>
                         <button class="btn-green" @click="ConfirmUpdate(data.item)">จัดส่งแล้ว</button>
                   </div>
                   <div  class="fnt-blue" v-else>
                    ดำเนินการแล้ว
                   </div>
                </template>
                 <template v-slot:cell(print)="data"  >
                        <button class="btn-blue" @click="PrintInvoice(data.item)" >พิมพ์ใบเสร็จ</button>
                </template>
                 <template v-slot:cell(total)="data"  >
                           {{Number(data.item.total).toLocaleString()}}
                </template>
                            
               
            </b-table>
            <div v-if="typeof datashippinglist[0] !== 'undefined'">
                     <p class="text-center my-5" v-if="checkbtn===true &&datashippinglist[0].status!=='รายการขนส่งเสร็จสิ้น'" ><button class="btn-blue" @click="Confirmshipping">ยืนยันรายกายขนส่งเสร็จสิ้น</button></p>
                     <p class="fnt-green fnt-24 my-5 text-center" v-if="datashippinglist[0].status==='รายการขนส่งเสร็จสิ้น' ">รายการขนส่งเสร็จสิ้นแล้ว</p>
                </div>
        </div>
        <div v-else>
            <p class="text-center fnt-32 p-5 height-100">ยังไม่มีรายการขนส่ง</p>
         
        </div>
         <b-modal id="seeorderdetail" hide-footer :title="'รายละอียดรายการขนส่ง #'+idorder" centered size="xl">
             <p class="text-center fnt-24">รายการที่สั่ง</p>
            <b-table   :fields="fieldorderdetail" :items="orderdetaildata" responsive="sm" >
                <template v-slot:cell(ppicture)="data"  >
                    <img  :src="url+'product/'+data.item.ppicture"  alt="">
                </template> 
            </b-table>
        </b-modal>

      
        <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
     components: {
            Loading
    },
    mounted(){
        this.GetShippingList() 
        this.ButtonConfirmSuccess()
    },
    computed: {
   
    },
  
    data(){
        return{
            isLoading:false,
            order:[],
            orderdetaildata:[],
            shipping:{},
            filter:null,
             url:process.env.VUE_APP_IMAGE_URL,
            fields: [
                        
                        { key: 'user', label: 'ลูกค้า' ,class: 'text-center align-middle w150'},
                        { key: 'phone', label: 'เบอร์โทรศัพท์' ,class: 'text-center align-middle'},
                        { key: 'address', label: 'ที่อยู่จัดส่ง' ,class: 'text-center align-middle w300'},  
                        { key: 'total', label: 'มูลค่ารายการ' ,class: 'text-center align-middle'},    
                        { key: 'status', label: 'สถานะ' ,class: 'text-center align-middle w150'},  
                        { key: 'howpay', label: 'วิธีการชำระเงิน' ,class: 'text-center align-middle w150'},  
                        { key: 'seedetail', label: 'ดูรายละเอียด' ,class: 'text-center align-middle w150'},
                        { key: 'check', label: 'ดำเนินการ' ,class: 'text-center align-middle w150'},    
                        { key: 'print', label: 'พิมพ์ใบเสร็จ' ,class: 'text-center align-middle w150'},    
            ],
            fieldorderdetail: [
                        { key: 'ppicture', label: 'รูป', class: 'text-center imgtable align-middle '},
                        { key: 'pname', label: 'รายการ', class: 'text-center align-middle'},
                        { key: 'pdetail', label: 'รายละเอียด', class: 'text-center align-middle'},
                        { key: 'amount', label: 'จำนวน', class: 'text-center align-middle'},
                        { key: 'pprice', label: 'ราคาต่อชิ้น', class: 'text-center align-middle dnone '},          
            ],
            selected:null,
        
            idorder:'',
            checkbtn:false,
            datashippinglist:[]
         
        }
    },

    methods:{
        async GetDataDailyOrder(){
            this.isLoading=true
            let current_datetime = new Date()
            var dd = String(current_datetime.getDate()).padStart(2, '0');
            var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = current_datetime.getFullYear();
            current_datetime=yyyy+'-'+mm+'-'+dd
            let dt={
                id:this.selected,
               
            }
            HTTP.post(`selectdailyorder`,dt).then(res => {
                console.log(res)
                if(res.data.status===true){
                  this.order=res.data.obj
                  this.datashippinglist=res.data.obj2
                  console.log(this.datashippinglist)
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                      this.ButtonConfirmSuccess()
                    },500)
                })
        },
        async GetAllOrderDetail(){
            HTTP.post(`getorderdetail`,dt).then(res => {
              console.log("order detail",res)
                if(res.data.status===true){
                 
                  this.orderdetaildata=res.data.obj
                  console.log("odrderdetaildata",this.orderdetaildata)
                  
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },200)
                })
        },
        async GetOrderDetail(id){
             this.isLoading=true
            this.idorder=id
             let dt={
                od_id: this.idorder
            }
           this.$bvModal.show('seeorderdetail')
            HTTP.post(`getorderdetail`,dt).then(res => {
              console.log("order detail",res)
                if(res.data.status===true){
                 
                  this.orderdetaildata=res.data.obj
                  console.log("odrderdetaildata",this.orderdetaildata)
                  
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },200)
                })
        },
        async GetShippingList(){
            this.isLoading=true
            let current_datetime = new Date()
            var dd = String(current_datetime.getDate()).padStart(2, '0');
            var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = current_datetime.getFullYear();
            current_datetime=yyyy+'-'+mm+'-'+dd
            let dt={
                date:current_datetime
            }
            HTTP.post(`selectdailyshipping`,dt).then(res => {
                console.log(res)
                if(res.data.status===true){
                   
                    this.shipping=res.data.obj
                    this.selected=this.shipping[0].spid
                    this.GetDataDailyOrder()
                 
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },500)
                })
        },
        async ButtonConfirmSuccess(){
            this.checkbtn=true
            let dt=[]
          
            this.order.forEach((value, index) => {
                if(value.status==='กำลังดำเนินการจัดส่ง'){
                  
                      this.checkbtn=false
                }

            });
           console.log("btn",this.checkbtn)
        },
        ConfirmUpdate(data){
        
              this.$bvModal.msgBoxConfirm('ยืนยันว่าจัดส่งแล้ว',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.UpdateOrderList(data)
                }
            })
            .catch(err => {
              
            })
        },
        async UpdateOrderList(data){
            this.isLoading=true
            let income=parseFloat(data.total)+parseFloat(this.datashippinglist[0].income)
            let dt={
                idorder:data.oid,
                statusorder:'จัดส่งสินค้าแล้ว',
                idshipping:this.datashippinglist[0].spid,
                income:parseFloat(income)
            }
            console.log(dt)
             await HTTP.post(`updateshipping`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   setTimeout(() => {
                         this.$bvToast.toast('ยืนยันการจัดส่งแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                   }, 1000);
                    
                  
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             }).finally(()=>{
                 setTimeout(() => {
                     this.GetDataDailyOrder()
                    this.GetShippingList()
                 }, 500);
             })
           
        },
        Confirmshipping(){
               this.$bvModal.msgBoxConfirm('ยืนยันรายการจัดส่งเสร็จสิ้น',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.UpdateShippingStatus()
                }
            })
            .catch(err => {
              
            })
        },
        async UpdateShippingStatus(){
              let dt={
                id:this.datashippinglist[0].spid,
                status:'รายการขนส่งเสร็จสิ้น',
            }
            console.log(dt)
             await HTTP.post(`updateshippingstatus`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   setTimeout(() => {
                         this.$bvToast.toast('ยืนยันการจัดส่งแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                   }, 1000);
                   
                  
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             }).finally(()=>{
                    this.GetDataDailyOrder()
                    this.GetShippingList()
             })
        },
        async PrintInvoice(data){
            this.$store.commit('id',data)
            this.$router.push('createinvoice')
        },
         ConfirmUpdateOrderList(id){
        
              this.$bvModal.msgBoxConfirm('ยืนยันว่าจัดส่งแล้ว',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.UpdateOrderListStatus(id)
                }
            })
            .catch(err => {
              
            })
        },
        async UpdateOrderListStatus(id){
            console.log("cant shipiing",id)
            let dt={
                id:id,
                status:'ไม่สามารถจัดส่งได้'
            }
             await HTTP.post(`updatestatus`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   setTimeout(() => {
                         this.$bvToast.toast('ยืนยันว่าไม่สามารถจัดส่งได้แล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                   }, 1000);
                   
                  
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             }).finally(()=>{
                    this.GetDataDailyOrder()
                    this.GetShippingList()
             })
        }
      
    }
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>