<template>
    <section>
           <p class="fnt-24 text-center mb-0 py-2">จัดการรายการเบิกวัตถุดิบ</p>
        <div class=" bg-white bd-rd p-lg-5 p-3 height-100">
         
            
              <div class=" offset-lg-3 p-0 col-lg-6">
                   <p class="fnt-24 mt-4">คลังวัตถุดิบคงเหลือ</p>
                 <b-table  :fields="fielddatastaple" :items="datastaple" responsive="lg"   >
                      <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'staple/'+data.item.spicture"  alt="">
                    </template>  
                     <template v-slot:cell(name)="data"  >
                       {{data.item.sname}}{{data.item.sdetail}}
                    </template>      
               
                </b-table>
            </div>
            <div class="row px-3 my-4">
                <div class="col-lg-4 d-flex at p-0">
                  <b-form-select v-model="selected" :options="options"></b-form-select>  
                </div>
                <div class="col-lg-3 mt-lg-0 mt-3 text-center  text-lg-left ml-lg-2 p-0">
                   <span class="text-right"><a href="addwithdrawstaple"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มรายการเบิกวัตถุดิบใหม่</button> </a></span>
                </div>  
            </div>
             
            <b-table  :fields="fields" :items="Staple" responsive="lg"   :per-page="perPage" :current-page="currentPage"  :filter="selected" hover>
                <template v-slot:cell(seedetail)="data"  >
                   <p class="fnt-blue mb-0 cp" @click="DataDetail(data.item)"><i class="fas fa-info-circle"></i> ดูรายละเอียด</p>
                </template>
                <template v-slot:cell(check)="data" >
                    <div v-if="data.item.status==='รายการเบิกได้'">
                        <button class="btn-green" @click="ConfirmWithdraw(data.item.wsid)" >ยืนยันทำการเบิก</button> 
                   </div>
                </template>   
                <template v-slot:cell(withdrawdate)="data"  >
                    {{data.item.withdrawdate|dateFomatNotTimeEn}}
                </template>
                <template v-slot:cell(status)="data"  >
                        <span class="fnt-orange" v-if="data.item.status==='รายการเบิกได้'">{{data.item.status}}</span>
                        <span class="fnt-red" v-else-if="data.item.status==='รอตรวจสอบ'">{{data.item.status}}</span>
                        <span class="fnt-green" v-else>{{data.item.status}}</span>
                </template>
                <template v-slot:cell(deletedata)="data">
                       <span class="fnt-red cp" @click="ConfirmDelete(data.item.wsid)" v-if="data.item.status!=='เบิกแล้ว'"><i class="fas fa-trash"></i></span>
                </template>
            </b-table>
              <p class="d-flex justify-content-end"><b-pagination  v-model="currentPage"   :total-rows="rows"  :per-page="perPage"    aria-controls="my-table"   ></b-pagination></p> 

            <b-modal id="seeDataDetail" hide-footer :title="'รายละอียดรายการเบิกวัตถุดิบ #'+id" centered size="lg">
             <p class="text-center fnt-24">รายการที่เบิก</p>

                <b-table   :fields="fielddetail" :items="stapledetaildata" responsive="sm" >
                    <template v-slot:cell(picture)="data"  >
                        <img  :src="url+'staple/'+data.item.spicture"  alt="">
                    </template>   
                      <template v-slot:cell(name)="data"  >
                       {{data.item.sname}}{{data.item.sdetail}}
                    </template>      
                </b-table>
           
            </b-modal>
            <b-modal id="modal-dl" hide-footer title="ยืนยันการลบข้อมูล">
                 <center><b-button class="mt-2 w-50" variant="outline-success" block @click="DeleteStaple">ยืนยัน</b-button></center>
            </b-modal>
        </div>
        
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
    components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            Staple:[],
            stapledetaildata:[],
            datastaple:[],
            fields: [
                        { key: 'withdrawdate', label: 'วันที่ทำรายการขอเบิก' ,class: 'text-center align-middle w150',sortable: true},
                        { key: 'namepicker', label: 'ชื่อผู้เบิก' ,class: 'text-center align-middle w200'},
                        { key: 'status', label: 'สถานะ' ,class: 'text-center align-middle w150 ',sortable: true},
                        { key: 'seedetail', label: 'รายละเอียด' ,class: 'text-center align-middle w200'},
                        { key: 'check', label: 'ยืนยันทำการเบิก' ,class: 'text-center align-middle w150'},
                        { key: 'deletedata', label: 'ลบรายการ' ,class: 'text-center align-middle w150 '},   
                      
                       
                       
            ],
            fielddetail: [
                        { key: 'picture', label: 'รูป', class: 'text-center imgtable align-middle '},
                        { key: 'name', label: 'รายการ', class: 'text-center  align-middle'},
                        { key: 'amount', label: 'จำนวน', class: 'text-center align-middle'},
                                
            ],
            fielddatastaple: [
                        { key: 'picture', label: 'รูป', class: 'text-center imgtable align-middle '},
                        { key: 'name', label: 'รายการ', class: 'text-center align-middle'},
                        { key: 'samount', label: 'จำนวน', class: 'text-center align-middle'},
                                
            ],
            selected: '',
            options: [
                { value: 'รายการเบิกประจำวัน', text: 'รายการเบิกประจำวัน' },
                { value: 'เบิกแล้ว',  text: 'รายการที่เบิกออกจากคลังแล้ว' },
                { value: 'รายการเบิกได้',  text: 'รายการที่เบิกได้' },
                { value: 'รอตรวจสอบ',  text: 'รายการที่รอตรวจสอบ' },
              
            ],
               perPage: 10,
            currentPage: 1,
            isLoading:false,
            id:'',
            
        }
    },
    mounted(){
        this.GetDataStaple()
        this.GetDataStockStaple()
        this.SelectFilter()
        
    },
    computed: {
      rows() {
        return this.Staple.length
      },
      user(){
          return this.$store.state.user
      }
    },
    methods:{
        SelectFilter(){
               this.selected='รายการเบิกประจำวัน'
            this.options.forEach((value, index) => {
                 if(this.selected==='รายการเบิกประจำวัน'&&value.value==='รายการเบิกประจำวัน'){
            
                        let current_datetime = new Date()
                        var dd = String(current_datetime.getDate()).padStart(2, '0');
                        var mm = String(current_datetime.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = current_datetime.getFullYear();
                        current_datetime=yyyy+'-'+mm+'-'+dd
                        this.selected=current_datetime
                        value.value=current_datetime
                        console.log( "date",current_datetime)
                 }
            });
        },
        async GetDataStaple(){
            this.isLoading=true
              await HTTP.post(`selectallstaplelist`).then(res => {
                  console.log("res",res)
               if(res.data.status===true){
                   this.Staple=res.data.obj
                   console.log("Staple",this.Staple)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },1000)
             })
        },
        async GetDataStockStaple(){
            this.isLoading=true
                  
              await HTTP.get(`selectstaple`).then(res => {
         
               if(res.data.status===true){
                   this.datastaple=res.data.obj
                
                   console.log("product",this.datastaple)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                 },500)
             })
        },
        async DataDetail(order){
            console.log(order.wsid)
            this.$bvModal.show('seeDataDetail')
            this.isLoading=true
            this.id=order.wsid
           
            let dt={
                id:order.wsid
            }
            HTTP.post(`selectstapledetail`,dt).then(res => {
            console.log(res)
                if(res.data.status===true){
                   
                  this.stapledetaildata=res.data.obj
                  console.log("odrderdetaildata",this.stapledetaildata)
                }else{
                    
                }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                    setTimeout(()=>{
                      this.isLoading=false
                    },100)
                })
        },
        async UpdateStaple(stapleid){
          this.$store.commit('id',stapleid)
          this.$router.push("updatestaple")
        },
        async DeleteStaple(Stapleid){
            console.log(Stapleid)
          
            let dt={
                ids:Stapleid
            }
            console.log(dt)
              await HTTP.post(`deletestaple`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                 this.$bvToast.toast('ลบข้อมูแล้ว', {
                    toaster:'b-toaster-top-center',
                    title:'แจ้งเตือน',
                    variant: 'success',
                    solid: true,
                    autoHideDelay:2000,
                    appendToast:false,
                })
                 this.GetDataStaple()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   
                 },1000)
             })
        },
        ConfirmWithdraw(id) {
            this.$bvModal.msgBoxConfirm('ยืนยันว่าทำเบิกแล้ว',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.UpdateStatus(id)
                }
            })
            .catch(err => {
              
            })
        },
        async UpdateStatus(id){
             this.isLoading=true
            let dt={
                id:id,
                status:'เบิกแล้ว',
              
            }
       
              await HTTP.post(`updatestaplestatus`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                this.UpdateAmount(id)
               
               }
             })
        //    this.UpdateAmount(id)
        },
         UpdateAmount(order){
              this.stapledetaildata=[]
            let dt={
                id:order
            }
            console.log(dt)
             HTTP.post(`selectstapledetail`,dt).then(res => {
                 console.log(res)
                if(res.data.status===true){
                   
                  res.data.obj.forEach((value, index) => {
                        let data={
                            sid:value.sid,
                            samount:value.amount
                        }
                        this.stapledetaildata.push(data)
                    });
                    console.log("stple detail",this.stapledetaildata)
                   
                }
            }).finally(()=>{
                setTimeout(() => {
                         this.CalAmount()
                }, 300);
            })
                
        },
        CalAmount(){
            let dt=[]
            this.datastaple.forEach((value, index) => {
                let data={
                    sid:value.sid,
                    samount:value.samount
                }
                dt.push(data)
            });
            let newdata=[]
            for(var i=0;i<dt.length;i++){
                this.stapledetaildata.forEach((value, index) => {
                        if(value.sid===dt[i].sid){
                            let newdt={
                                sid:value.sid,
                                samount:parseFloat(dt[i].samount)-parseFloat(value.samount)
                            }
                            newdata.push(newdt)
                           
                        }
              
                });
            }
            this.stapledetaildata=[]
            console.log("newdata",newdata)
            this.UpdateAmountProduct(newdata)
        },
        async UpdateAmountProduct(newdata){
              let round=0
            let totalround=newdata.length
          await newdata.forEach((value,index)=>{
                let dt={
                    sid:value.sid,
                    samount:parseFloat(value.samount)
                }
                HTTP.post(`updateamountstaple`,dt).then(res => {
             
                    if(res.data.status===true){
                       round++
                             if(round===totalround){
                                setTimeout(() => {
                                     this.$bvToast.toast('ยืนยันการเบิกแล้ว', {
                                        toaster:'b-toaster-top-center',
                                        title:'แจ้งเตือน',
                                        variant: 'success',
                                        solid: true,
                                        autoHideDelay:2000,
                                        appendToast:false,
                                    })
                                },1500);
                            }
                    }
                }) 
                .finally(()=>{
                      
                             if(round===totalround){
                                setTimeout(()=>{
                                   this.GetDataStaple()
                                    this.GetDataStockStaple()
                                },500)
                             }
                            this.isLoading=false
                     
                })
           });
           
        },
        ConfirmDelete(id) {
                this.$bvModal.msgBoxConfirm('ต้องการลบรายการนี้หรือไม่?',{
                    okTitle:'ตกลง',
                    cancelTitle:'ยกเลิก'
                })
                .then(value => {
                    if( value===true){
                        this.DeleteOrder(id)
                    }
                })
        },
        async DeleteOrder(id){
            this.isLoading=true
            let dt={
                id:id
            }
            await HTTP.post(`deletewithdrawstaple`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                  setTimeout(() => {
                       this.$bvToast.toast('ลบรายการที่เลือกแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                  }, 1500);
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
               setTimeout(() => {
                    this.GetDataStaple()
                    this.GetDataStockStaple()
               }, 500);
             })
        }
    
    }
}
</script>>
<style scoped>
    .imgtable img{
        max-height: 35px;
    }
    img{
        max-height:350px;
    }
    .text-justify{
         justify-content: space-between;
    }
</style>