<template>
    <section>
        <p class="fnt-24 text-center mb-0 py-2">เพิ่มข้อมูลบรรจุภัณฑ์ใหม่</p>
        <div class="bg-white bd-rd  p-lg-5 p-3 height-100">
          
            <div class="position-relative  d-flex jt at">
                 <label for="uplaodProfile"  class="mb-0 d-flex jt at" >
                   <div> 
                       <div class="upload d-flex jt at">
                            <img  :src="picPreview" class=""   v-if="picPreview!==''">
                        </div>
                        <div class="input-upload  d-flex at jt">                    
                               <p :class="{'fnt-white':picPreview===''}">เพิ่มรูปบรรจุภัณฑ์</p>  
                        </div> 
                      </div>
                </label>
            </div>
               <input @change="UploadPackagingPicture($event)" type="file" class="d-none" id="uplaodProfile">
           <div class="container px-lg-5 mt-4">
               <p class="fnt-24">ข้อมูลบรรจุภัณฑ์</p>
                <b-form-group  label="ชื่อบรรจุภัณฑ์:" :class="{'danger':$v.name.$error}">
                    <b-form-input   v-model="name"   required      ></b-form-input>
                     <b-form-invalid-feedback :state="!$v.name.$error">
                        กรุณากรอกข้อมูลบรรจุภัณฑ์
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group  label="รายละเอียดบรรจุภัณฑ์:" >
                    <b-form-input   v-model="detail"    required      ></b-form-input>
                </b-form-group>
                <b-form-group  label="จำนวนคงเหลือ:" :class="{'danger':$v.amount.$error}">
                <b-form-input  type="number" v-model="amount"    required     @input="$v.amount.$touch()"  min="1"></b-form-input>
                     <b-form-invalid-feedback :state="!$v.amount.$error">
                        กรุณากรอกข้อมูลจำนวนบรรจุภัณฑ์
                    </b-form-invalid-feedback>
                </b-form-group>
               <p class="text-center mt-5">
                    <button class="btn-blue" @click="AddNewPackaging">บันทึกข้อมูลบรรจุภัณฑ์ใหม่</button>
               </p>
           </div>
                      
                  
        </div>
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import { required, minLength,maxLength,sameAs,helpers,email,numeric} from "vuelidate/lib/validators";
import {HTTP} from '@/axios.js'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
            Loading
    },
    data(){
        return{
            picPreview:'',
            packagingPicture:'',
            name:'',
            detail:'',
            amount:'',
            picture:'',
            isLoading:false  
        }
    },
    methods:{
        async UploadPackagingPicture(e) {
            const file = e.target.files[0];
            this.picPreview = URL.createObjectURL(file);
            let img = await this.uploadImage(file)
            this.packagingPicture = img
        },
        async uploadImage(file) {
               if ( file.type === 'image/jpeg' || file.type === 'image/png' ||file.type === 'image/gif') {
                            if (file.size < 1024 * 1024 * 2) {
                              
                              
                                  this.isLoading=true
                                    const formData = new FormData();
                                    formData.append('fileToUpload', file);
                                    const config = {
                                        headers: {
                                            'Content-Type': 'multipart/form-data',
                                        },
                                    };
                                    await HTTP.post('/uploadpackagingpic', formData, config)
                                    .then((res) => {
                                        if(res.data.status=true){
                                            this.picture =  res.data.obj
                                        } 
                                    })
                                    .finally(()=>{
                                        setTimeout(() => {
                                                this.isLoading=false
                                        }, 500);
                                    })
                            }else{
                                this.$bvToast.toast('ไฟล์รูปใหญ่เกินไป', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'danger',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,
                                })
                            }
                } else {
                        this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'danger',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                }
           
        },
        async AddNewPackaging(){
          if(this.picture!==''){
              if(this.$v.$invalid){
                  this.$v.$touch()
              }else{
                    this.isLoading=true
            let datanewpackaging={
                name:this.name,
                detail:this.detail,
                amount:this.amount,
                picture:this.picture
            }
            await HTTP.post(`addpackaging`,datanewpackaging).then(res => {
                        console.log(res)
                    if(res.data.status===true){
                             setTimeout(()=>{
                                this.$bvToast.toast('เพิ่มข้อมูลบรรจุภัณฑ์ใหม่แล้ว', {
                                    title:'แจ้งเตือน',
                                    toaster:'b-toaster-top-center',
                                    variant: 'success',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,  
                                  
                                })
                            },2000)
                         
                    
                    }else{
                            this.$bvToast.toast('เกิดข้อผิดพลาด', {
                                toaster:'b-toaster-top-center',
                                title:'แจ้งเตือน',
                                variant: 'danger',
                                solid: true,
                                autoHideDelay:2000,
                                appendToast:false,
                                
                            })
                    }
                })
                .catch(e => {
                    console.log(e);
                })
                .finally(()=>{
                      setTimeout(()=>{
                        this.isLoading=false
                          this.$router.push('packaging')
                      },500)    
                })
              }
          }else{
                this.$bvToast.toast('ยังไม่ได้เพิ่มรูปภาพ', {
                    toaster:'b-toaster-top-center',
                     title:'แจ้งเตือน',
                     variant: 'warning',
                     solid: true,
                     autoHideDelay:2000,
                     appendToast:false,
                     
                })
          }
        }
    },
      validations:{
        name:{
            required
        },
        amount:{
            required,
            numeric
        },
    }
    
}
</script>
<style scoped>
    .upload{
        background-color: rgba(0,0,0,.4);
    }
    img{
        max-height:200px ;
    }
</style>