<template>
    <section>
         <p class="fnt-24 text-center  mb-0 py-2">จัดการข้อมูลบรรจุภัณฑ์</p>
        <div class=" bg-white bd-rd  p-lg-5 p-3 height-100">
           
              <p class="text-right"><a href="addpackaging"><button class="btn-blue"><i class="fas fa-plus"></i> เพิ่มบรรจุภัณฑ์ใหม่</button> </a></p>
            <b-table  :fields="fields" :items="packaging" responsive="sm"  hover>
                   <template v-slot:cell(picture)="data"  >
                     <img  :src="url+'packaging/'+data.item.pkpicture" alt="" >
                   </template>
                  <template v-slot:cell(name)="data"  >
                     {{data.item.pkname}}{{data.item.pkdetail}}
                   </template>
                   <template v-slot:cell(addamount)="data">
                        <span class="fnt-green" @click="ShowModalAddStock(data.item)"><i class="fas fa-box-open"></i></span>
                   </template>
                   <template v-slot:cell(updatedata)="data">
                        <span class="fnt-orange" @click="UpdatePackaging(data.item)"><i class="fas fa-edit"></i></span>
                   </template>
                   <template v-slot:cell(deletedata)="data">
                       <span class="fnt-red" @click="deletebox(data.item.pkid)"><i class="fas fa-trash"></i></span>
                      
                   </template>
            </b-table>
         
        </div>
         <b-modal id="CheckStock" hide-footer :title="'เพิ่มจำนวนบรรจุภัณฑ์ใหม่'"  header-class="bg-header-alert" >
               <p>   มีรายการบรรจุภัณฑ์บางรายการในคลังเหลือน้อย</p>
         </b-modal>
        <b-modal id="AddToStock" hide-footer :title="'เพิ่มจำนวนบรรจุภัณฑ์ใหม่'" centered  >
                      <p class="text-center">  <img  :src="url+'packaging/'+datapackaging.pkpicture" alt="" ><br>
                          <!-- รายการ+}<br> -->
                        
                         {{datapackaging.pkname}}{{datapackaging.pkdetail}} 
                        
                      </p>      
                <p class="d-flex jt ">   <b-form-input  class="w-50" v-model="amount" type="number" min="0" ></b-form-input></p>
                <p class="text-center mt-4" @click="Close">  <button class="btn-red">ยกเลิก</button><button class="btn-green" @click="ConfirmAddToStock">ยืนยันเพิ่มจำนวนใหม่</button></p>
        </b-modal>
        
          <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from "@/axios.js";
export default {
 components: {
            Loading
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            packaging:[],
            fields: [
                    
                        { key: 'picture', label: 'รูปบรรจุภัณฑ์', class: 'text-center  w100'},
                        { key: 'name', label: 'รายการ' ,class: 'text-center align-middle w200'},                      
                        { key: 'pkamount', label: 'จำนวนคงเหลือ' ,class: 'text-center align-middle w100'},
                        { key: 'addamount', label: 'เพิ่มจำนวนบรรจุภัณฑ์ใหม่' ,class: 'text-center align-middle  w100'},
                        { key: 'updatedata', label: 'อัพเดทข้อมูล' ,class: 'text-center align-middle  w100'},
                        { key: 'deletedata', label: 'ลบข้อมูล' ,class: 'text-center align-middle  w100'},
            ],
            isLoading:false,
            datapackaging:[],
            amount:0,
        }
    },
    mounted(){
        this.GetDataPackaging()
    },
    methods:{
        async GetDataPackaging(){
            this.isLoading=true
              await HTTP.get(`selectpackaging`).then(res => {
           
               if(res.data.status===true){
                   this.packaging=res.data.obj
                   console.log("packagin",this.packaging)
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
             .finally(()=>{
                 setTimeout(()=>{
                   this.isLoading=false
                   this.CheckStock()
                 },500)
             })
        },
         async CheckStock(){
             this.packaging.forEach((value,index)=>{
                 if(value.pkamount<10){
                     this.$bvModal.show('CheckStock')
                 }
             })
        },
        async UpdatePackaging(packagingid){
          this.$store.commit('id',packagingid)
          this.$router.push("updatepackaging")
        },
        async DeletePackaging(packagingid){
           this.isLoading=true
            let dt={
                id:packagingid
            }
            console.log(dt)
              await HTTP.post(`deletepackaging`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   setTimeout(() => {
                    this.$bvToast.toast('ลบข้อมูลบรรจุภัณฑ์แล้ว', {
                        toaster:'b-toaster-top-center',
                        title:'แจ้งเตือน',
                        variant: 'success',
                        solid: true,
                        autoHideDelay:2000,
                        appendToast:false,
                    })
                    }, 1000);
               
                 this.GetDataPackaging()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
          
        },
        deletebox(id) {
         
            this.$bvModal.msgBoxConfirm('ต้องการลบรายการสั่งซื้อหรือไม่?',{
                okTitle:'ตกลง',
                cancelTitle:'ยกเลิก'
            })
            .then(value => {
                if( value===true){
                    this.DeletePackaging(id)
                }
            })
            .catch(err => {
                // An error occurred
            })
        },
          async ShowModalAddStock(data){
            
            this.datapackaging=data
            console.log("data",this.datapackaging)
          
            this.$bvModal.show('AddToStock')
        },
        async ConfirmAddToStock(){
            this.isLoading=true
            this.$bvModal.hide('AddToStock')
            console.log(this.datapackaging)
            let total=parseFloat(this.amount)+parseFloat(this.datapackaging.pkamount)
            let dt={
                type:"บรรจุภัณฑ์ใหม่",
                total:total,
                pkid:this.datapackaging.pkid,
                pkname:this.datapackaging.pkname,
                pkdetail:this.datapackaging.pkdetail,
                pkpicture:this.datapackaging.pkpicture,
                addamount:this.amount
            }
            console.log(dt)
              await HTTP.post(`addamountpackaging`,dt).then(res => {
                  console.log(res)
               if(res.data.status===true){
                   setTimeout(() => {
                        this.$bvToast.toast('เพิ่มจำนวนบรรจุภัณฑ์เข้าคลังแล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                    }, 1000);
                    this.amount=0
                 this.GetDataPackaging()
               }else{
                  
               }
             })
             .catch(e => {
                 console.log(e);
             })
            
        },
        Close(){
            this.$bvModal.hide('AddToStock')
        }
    }
}
</script>>
<style scoped>
  img{
        max-height:50px!important;
}

</style>>