<template>
    <section>
          <p class="fnt-24 text-center  mb-0 py-2">อัพเดทข้อมูลบรรจุภัณฑ์</p>
        <div class="bg-white bd-rd p-lg-5 p-3 height-100" @GetIdPackaging="GetIdPackaging">
          
          
            <div class="position-relative  d-flex jt at">
                 <label for="uplaodPackaging"  class="mb-0 d-flex jt at" >
                   <div> 
                       <div class="upload d-flex jt at">
                               <img :src="picPreview" class="" v-if="picPreview!==''" >
                                <img :src="url+'packaging/'+picture" v-else  >
                        </div>
                        <div class="input-upload  d-flex at jt">                    
                               <p >เปลี่ยนรูปบรรจุภัณฑ์</p>  
                        </div> 
                      </div>
                </label>
            </div>
               <input  @change="UpdatePackagingPicture($event)" type="file" class="d-none" id="uplaodPackaging">
           <div class="container px-lg-5 mt-4">
               <p class="fnt-24">ข้อมูลบรรจุภัณฑ์</p>
                <b-form-group  label="ชื่อบรรจุภัณฑ์:" :class="{'danger':$v.name.$error}">
                    <b-form-input   v-model="name"   required      @input="$v.name.$touch()" ></b-form-input>
                     <b-form-invalid-feedback :state="!$v.name.$error">
                        กรุณากรอกข้อมูลบรรจุภัณฑ์
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group  label="รายละเอียดบรรจุภัณฑ์:" >
                    <b-form-input   v-model="detail"    required      ></b-form-input>
                </b-form-group>
                <b-form-group  label="จำนวนคงเหลือ:" :class="{'danger':$v.amount.$error}">
                <b-form-input  type="number" v-model="amount"    required     @input="$v.amount.$touch()"  min="1"></b-form-input>
                     <b-form-invalid-feedback :state="!$v.amount.$error">
                        กรุณากรอกข้อมูลจำนวนบรรจุภัณฑ์
                    </b-form-invalid-feedback>
                </b-form-group>
               <p class="text-center mt-5">
                    <button class="btn-blue" @click="UpdateDataPackaging">อัพเดทข้อมูลบรรจุภัณฑ์</button>
               </p>
           </div>
                      
                  
        </div>
         <loading :active.sync="isLoading"   :is-full-page="true" color="#007bff"> </loading>
    </section>
</template>
<script>
import { required, minLength,maxLength,sameAs,helpers,email,numeric} from "vuelidate/lib/validators";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {HTTP} from '@/axios.js'
export default {
    components: {
            Loading
    },
    mounted(){
        this.GetIdPackaging()
    },
    computed:{
        IdPackaging(){
            return this.$store.state.id
        }
    },
    data(){
        return{
             url:process.env.VUE_APP_IMAGE_URL,
            picture:'',
            oldpicture:'',
            name:'',
            detail:'',
            amount:'',
            picPreview:'',
            oldpicture:'',
            isLoading:false
        }
    },
    methods:{
        async GetIdPackaging(id){
            this.picture=this.IdPackaging.pkpicture
            this.oldpicture=this.IdPackaging.pkpicture
            this.name=this.IdPackaging.pkname
            this.detail=this.IdPackaging.pkdetail
            this.amount=this.IdPackaging.pkamount
        },
        async UpdatePackagingPicture(e){
                const file = e.target.files[0];
                this.picPreview = URL.createObjectURL(file);
                await this.UploadImage(file)
        },
        async UploadImage(file){
            if ( file.type === 'image/jpeg' || file.type === 'image/png' ||file.type === 'image/gif') {
                            if (file.size < 1024 * 1024 * 2) {
                              
                              
                                  this.isLoading=true
                                    const formData = new FormData();
                                    formData.append('fileToUpload', file);
                                    const config = {
                                        headers: {
                                            'Content-Type': 'multipart/form-data',
                                        },
                                    };
                                    await HTTP.post('/uploadpackagingpic', formData, config)
                                    .then((res) => {
                                        if(res.data.status=true){
                                            this.picture =  res.data.obj
                                            this.UpdateDataPackagingPicture()
                                        } 
                                    })
                                  
                            }else{
                                this.$bvToast.toast('ไฟล์รูปใหญ่เกินไป', {
                                    toaster:'b-toaster-top-center',
                                    title:'แจ้งเตือน',
                                    variant: 'danger',
                                    solid: true,
                                    autoHideDelay:2000,
                                    appendToast:false,
                                })
                            }
                } else {
                        this.$bvToast.toast('รูปแบบไฟล์ไม่ถูกต้อง', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'danger',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                }
        },
        async UpdateDataPackagingPicture(){
            let dt={
                oldpicture:this.oldpicture,
                picture:this.picture,
                id:this.IdPackaging.pkid
            }
        
              await HTTP.post('/updatepackagingpicture',dt)
                .then((res) => {
                    console.log("res",res)
                    if(res.data.status=true){
                              setTimeout(() => {
                              this.$bvToast.toast('อัพเดทรูปใหม่แล้ว', {
                                     toaster:'b-toaster-top-center',
                                     title:'แจ้งเตือน',
                                     variant: 'success',
                                     solid: true,
                                     autoHideDelay:2000,
                                     appendToast:false,
                              })

                          }, 1000);     
                  
                    }else{
                         console.log("ลบรูปภาพไม่ได้")
                    } 
                })
                .catch(e => {
                   console.log(e);
                   
                })  
                .finally(()=>{
                     setTimeout(() => {
                         this.isLoading=false
                     }, 500);                  
                })
        },
        async UpdateDataPackaging(){
          if(this.$v.$invalid){
              this.$v.$touch()
          }else{
                this.isLoading=true
            let dt={
                id:this.IdPackaging.pkid,
                name:this.name,
                detail:this.detail,
                amount:parseFloat(this.amount),
            }
           
            await HTTP.post(`updatepackaging`,dt).then(res => {
             console.log(res)
               if(res.data.status===true){
                    console.log("อัพเดทข้อมูลแล้ว")   
                       setTimeout(() => {
                            this.isLoading=false
                            this.$bvToast.toast('อัพเดทข้อมูลบรรจุภัณฑ์แล้ว', {
                            toaster:'b-toaster-top-center',
                            title:'แจ้งเตือน',
                            variant: 'success',
                            solid: true,
                            autoHideDelay:2000,
                            appendToast:false,
                        })
                     },1500) 

                    
               }else{
                    console.log("อัพเดทข้อมูลไม่ได้")
               }
             })
             .catch(e => {
                 console.log(e);
             })
            .finally(()=>
                setTimeout(() => {
                     this.$router.push('packaging')
                    this.isLoading=false
                }, 500)
            );
          }
            
        }
    },
    validations:{
        name:{
            required
        },
        amount:{
            required,
            numeric
        },
    }
    
    
    
}
</script>
<style scoped>
    .upload{
        background-color: rgba(0,0,0,.4);
    }
    img{
        max-height:200px ;
    }
</style>