<template>
    <section>
        <TemplateManager>
             <Cost/>
        </TemplateManager>
    </section>
  
</template>
<script>
import TemplateManager from '@/components/template/TemplateManager.vue'
import Cost from '@/components/manager/managecost/Cost.vue'
export default {
    components:{
        TemplateManager
        ,Cost
    }
}
</script>